/**************************************************************************
**     SOBEKCM_MySobek.css                                                      
**                                                                      
**     This contains many of the default styles for the SobekCM Digital  
**     Repository used for logged in (non-admin) features of the system.                                            
**                                                                       
**     DO NOT MAKE CHANGES TO THIS FILE!                                
**                                                                       
**     To make sweeping changes to the appearance, you should use       
**     the CSS in your web skin to OVERRIDE classes in this CSS.       
**                                                                       
**     New versions of the SobekCM repository arrive will have new  
**     versions of this file which will cause you to lose any changes
**     you made to this file. 
**                                                                 
**************************************************************************/


/** Styles used for text areas throughout the mySobek pages **/
.sbkMySobek_HomeText { text-align: justify; padding-bottom: 5px; }
.sbkMySobek_HomeText a:link { color:#000080; }
.sbkMySobek_HomeText A:hover { color:Blue; text-decoration:underline; }
.sbkMySobek_HomeText h2 { color:Gray; font-weight: bold; font-size: 1.2em; line-height:25px; }
.sbkMySobek_HomeText p { padding-left: 42px;padding-right: 20px; }

.sbkMySobek_ActionLink { color:Gray; }
.sbkMySobek_ActionLink a:link { color:Gray; }
.sbkMySobek_ActionLink a:visited { color:Gray; }
.sbkMySobek_ActionLink a:hover { color:Blue; text-decoration:underline; }


#sbkMySobek_ActionMessage { width: 100%;text-align: center;margin-left: auto;margin-right: auto;font-weight: bold;}

/** Styles used for controls throughout the mySobek pages **/
input { color:Blue; border-style:solid; border-width: 1px; border-color: #7f9db9; }
select { color:Blue;  border-style:solid; border-width: 1px; border-color: #7f9db9; }
textarea { color:Blue;  border-style:solid; border-width: 1px; border-color: #7f9db9; FONT-FAMILY: Arial, sans-serif; font-size: small; }
input.sbkMySobek_checkbox { padding-top: 3px;border: 0; }

.sbkMySobek_RoundButton { background-color: #2A1EA6; color: white; text-transform:uppercase; font-weight:bold; border-radius:25px; border: none; padding: 3px 10px 3px 10px; cursor: pointer; letter-spacing: 0.5px;font-size: 13px; }
.sbkMySobek_RoundButton:hover { background-color: #888888; -webkit-box-shadow: inset 0 0 9px 6px #6a6f75; box-shadow: inset 0 0 9px 6px #6a6f75; }
.sbkMySobek_UploadButton { background-color: #2A1EA6; color: white; text-transform:uppercase; font-weight:bold; border-radius:25px; border: none; padding: 3px 10px 3px 10px; cursor: pointer; letter-spacing: 0.5px;margin-left: 20px; }
.sbkMySobek_UploadButton:hover { background-color: #888888; -webkit-box-shadow: inset 0 0 9px 6px #6a6f75; box-shadow: inset 0 0 9px 6px #6a6f75; }

.sbkMySobek_BigButton {font-size: 15px; background-color: #2A1EA6; color: white; text-transform:uppercase; font-weight:bold; border-radius:25px; border: none; padding: 4px 10px 3px 10px; cursor: pointer; letter-spacing: 0.5px; }
.sbkMySobek_BigButton:hover { background-color: #888888; -webkit-box-shadow: inset 0 0 9px 6px #6a6f75; box-shadow: inset 0 0 9px 6px #6a6f75; }

.sbkMySobek_RoundButton_RightImg { vertical-align: top; padding-left: 3px; padding-top: 1px;} 
.sbkMySobek_RoundButton_LeftImg { vertical-align: top; padding-right: 3px; padding-top: 1px; } 

.sbkMySobek_RightButtons { float: right;padding-right:20px;}

/** Styles used for the forms (both pop-up and in-line) throughout the mySobek pages **/
.sbkMySobek_PopupForm { position:fixed; background-color:#eeeeee; z-index: 9999; FONT-FAMILY: Arial, sans-serif; font-size: small; -moz-border-radius: 10px; border-radius: 10px;  }
.sbkMySobek_PopupTitle { background-color: #0022a7; font-weight: bold; color: White; font-size: larger; padding: 6px 5px 16px 15px;border-top-left-radius: 10px;border-top-right-radius: 10px; }
.sbkMySobek_PopupTitle a { color: White; text-decoration: none; font-weight: bold; }
.sbkMySobek_PopupTable { padding-left: 20px; margin-left: 20px;text-align: left; }

/** Styles used for all pages that use the template/element classes **/
.sbkMySobek_TemplateTbl { border:0; margin-bottom: 50px; padding-left: 30px;text-align: left; }
.sbkMySobek_TemplateTblTitle_first { color:Gray; font-weight: bold; }
.sbkMySobek_TemplateTblTitle { color:Gray; font-weight: bold;height: 35px;vertical-align: bottom;}


.SobekEditItemSection track
{
	text-align: left;
}

/** Styles used for all the tables throughout the mySobek pages **/
.sbkMySobek_Table { border:0; border-collapse: collapse; border-spacing: 0; margin-bottom: 40px; }
.sbkMySobek_Table th { text-align: left; color: white; background-color: #0022a7; }
.sbkMySobek_TableRule { background-color:#e7e7e7; }

/** Style of the tables used to display the file listing **/
.sbkMySobek_FileTable { border:0; border-collapse: collapse; border-spacing: 0; margin-bottom: 40px;text-align: left; margin-top: 15px;margin-left: 40px;}
.sbkMySobek_FileTable th { text-align: left; color: white; background-color: #0022a7; }
.sbkMySobek_FileTable td { padding: 0; }
.sbkMySobek_FileTableLabelRow { margin-left: 90px; padding-left: 90px; }
.sbkMySobek_FileTableRule { background-color:#e3e3e3;height: 2px; }
.sbkMySobek_FileCompletionMsg { width: 500px;padding-top: 10px; }
.sbkMySobek_FileRightButtons { float: right;padding-right: 100px;padding-top: 5px; }

/** Page title */
h1 { margin-left: auto; margin-right: auto; width: 710px; background-color: #eee; color: #999; font-size: 1.35em; text-align: left; height: 25px; font-weight:normal; padding: 12px 0 12px 40px; border: solid 1px #ccc; margin-top: 0; font-weight: bold; }
.noborders { margin: 0;border: 0;width: 500px;padding: 0; }


/** Delete_Item_MySobekViewer **/
#sbkDimv_VerifyDiv { padding-left: 100px;padding-top: 30px;padding-bottom: 100px; }
.sbkDimv_input { width: 220px; }
.sbkDimv_SuccessMsg { color:Blue; font-size:1.3em; width:100%; text-align:center; font-weight:bold; }
.sbkDimv_ErrorMsg { color:Red; font-size:1.3em; width:100%; text-align:center; font-weight:bold; }


/** Folder_Mgmt_MySobekViewer **/
.sbkFmsv_EmailPopup { width:480px; } 
.sbkFmsv_EmailInput { width: 318px; margin-right: 15px; margin-top: 6px; }
textarea.sbkFmsv_EmailTextArea  { width: 318px; margin-top: 6px; }


/** Home_Item_MySobekViewer **/
#sbkHmv_WhatWouldDiv {padding: 10px 0 20px 220px; font-size: larger;}
#sbkHmv_Table { padding-left: 260px;padding-bottom: 20px; font-size: larger; }
#sbkHmv_Table tr {vertical-align: middle;height: 40px; }


/** Logon_MySobekViwer **/
#sbkLomv_OptionsList { padding: 0 0 30px 70px; list-style-type: none; }
#sbkLomv_OptionsList li { padding-top: 15px; }
.sbkLomv_ErrorMsg { color:Red; font-size:1.1em; width:100%; text-align:center; font-weight:bold; }
.sbkLomv_PopupDiv { position:fixed; background-color:#eeeeee; width:400px; height:280px; z-index: 9999; FONT-FAMILY: Arial, sans-serif; font-size: small; -moz-border-radius: 10px; border-radius: 10px; } 
input.sbkLomv_username_input  { width: 180px; margin-top: 6px; }
input.sbkLomv_password_input  { width: 180px; margin-top: 6px; }


/** New_Group_And_Item_MySobekViewer **/
.sbkNgi_UploadFileLabel { width: 400px; }

/** Preferences_MySobekViewer **/
.sbkPmsv_InputTable { border:0; border-collapse: collapse; border-spacing: 0;text-align: left;}
.sbkPmsv_InputTable th { text-align: left;color: #888888;font-weight: bold;font-size: 1.05em;padding-top: 20px; }
input.preferences_small_input { width: 130px; margin-top: 6px; }
input.preferences_medium_input { width: 225px; margin-top: 6px; }
input.preferences_large_input { width: 400px; margin-top: 6px; }
select.preferences_language_select { width: 125px; margin-top: 6px; }
select.preferences_language_select_init { color:Gray; width: 125px; margin-top: 6px; }
textarea.preference_rights_input { width: 450px; margin-bottom: 6px; }


/**Track_Item_MySobekViewer**/
.sbkTi_table{border:0; border-collapse: collapse; border-spacing: 0; margin-bottom: 40px; }
.sbkTi_table td{ padding-left: 30px;padding-right: 5px;}
.sbkTi_HomeText { text-align: justify; padding-bottom: 5px; }
.sbkTi_HomeText a:link { color:#000080; }
.sbkTi_HomeText A:hover { color:Blue; text-decoration:underline; }
.sbkTi_HomeText h2 { color:Gray; font-weight: bold; font-size: 1.2em; line-height:25px; }
.sbkTi_HomeText p { padding-left: 42px; }
.sbkTi_tblSubHeader{color:Gray; font-weight: bold; font-size: 1.0em;}
.sbkTi_tblItemDetails{ width: 90%;}
.sbkTi_tblRow_ItemInfoLabel{color:Gray; font-weight: bold; font-size: 1.0em;}
.sbkTi_tblRow_ItemInfoText{ font-size: 1.0em;}

.sbkSaav_Table th{ text-align: center; padding-left: 5px;padding-right: 5px;}
.sbkSaav_Table td{ text-align: center;padding-left: 5px;padding-right: 5px;}


.sbkTi_TrackingEntrySpan { text-align:left; display:inline-block;padding: 10px; border: 0; margin: 5px; }
.sbkTi_TrackingEntrySpanMouseOver { background-color: #f5f5f5;border: 1px solid #a9a9a9; text-align:left; display:inline-block;padding: 10px; margin: 5px;}
/*.sbkTi_TrackingEntrySpanMouseOut { text-align:left; display:inline-block;padding: 10px; border: 0px; margin: 5px;background-color: white;}*/
.sbkTi_TrackingEntrySpanMouseOut{background-color: #f5f5f5;border: 1px solid #a9a9a9; text-align:left; display:inline-block;padding: 10px; margin: 5px;}
.sbkTi_ErrorBox { color:red; border-color: red; }
.tabpage{ padding-left: 20px;padding-bottom: 20px;padding-top: 15px;padding-right: 15px;}

/** Class used for all administrative boxes which take focus */
.sbkMySobek_Focusable:focus { color:#0000a8; background-color: #fbf7b4; }