/**************************************************************************
**     SOBEKCM_QC.css                                                      
**                                                                      
**     This contains many of the default styles for the SobekCM Digital  
**     Repository used for the online Quality Control interface.                                            
**                                                                       
**     DO NOT MAKE CHANGES TO THIS FILE!                                
**                                                                       
**     To make sweeping changes to the appearance, you should use       
**     the CSS in your web skin to OVERRIDE classes in this CSS.       
**                                                                       
**     New versions of the SobekCM repository arrive will have new  
**     versions of this file which will cause you to lose any changes
**     you made to this file. 
**                                                                 
**************************************************************************/    

#sbkQc_BottomRow { text-align: right;height: 44px; }
#sbkQc_BottomRow textarea {margin-right: 20px; }
#sbkQC_BottomRowTextSpan { vertical-align: top; }

/* Code for the pages that appear within the QC item viewer, including controls around them */
.sbkQc_Span { text-align:left; display:inline-block; background-color: #b0c4de;padding: 10px; border: 1px solid  #a9a9a9; margin: 5px; border-radius:15px; -moz-border-radius:15px;}
.sbkQc_SpanMouseOver { background-color: #bfc6ce; }
.sbkQc_SpanMouseOut { background-color: #b0c4de; }
.sbkQc_SpanSelected { background-color: Yellow; }
.sbkQc_Filename { color: #3c3c3c;font-size: 1.15em;font-weight: bold;text-align: left; }
.sbkQc_Checkbox { visibility: hidden; }
.sbkQc_MovePageArrowsSpan { visibility: hidden; }
.sbkQc_PaginationText { color: #3c3c3c;text-align: left; }
.sbkQc_DivisionText { color: #3c3c3c;text-align: left; }
.sbkQc_NamedDivisionText { color: #3c3c3c;text-align: left; }

.sbkQc_Thumbnail_Small { border: 1px solid  #a9a9a9; }
.sbkQc_Thumbnail_Medium { border: 1px solid  #a9a9a9; width: 315px; height: 50%;}
.sbkQc_Thumbnail_Large { border: 1px solid  #a9a9a9; width: 472.5px; height: 75%;  }
.sbkQc_Thumbnail_Full { border: 1px solid  #a9a9a9; }

.sbkQc_DivisionBox_Small { border: 1px solid  #a9a9a9;color: #3c3c3c;width: 110px; }
.sbkQc_DivisionBox_Medium { border: 1px solid  #a9a9a9;color: #3c3c3c; width: 238px; }
.sbkQc_DivisionBox_Large { border: 1px solid  #a9a9a9;color: #3c3c3c; width: 370px; }
.sbkQc_DivisionBox_Full { border: 1px solid  #a9a9a9;color: #3c3c3c; width: 370px; }
  
.sbkQc_PageBox_Small { border: 1px solid  #a9a9a9;color: #3c3c3c;width: 110px; }
.sbkQc_PageBox_medium { border: 1px solid  #a9a9a9;color: #3c3c3c; width: 238px; }
.sbkQc_PageBox_Large { border: 1px solid  #a9a9a9;color: #3c3c3c; width: 370px; }
.sbkQc_PageBox_Full { border: 1px solid  #a9a9a9;color: #3c3c3c; width: 370px; }

.sbkQc_PageOptionsSpan{ float: right;  visibility: hidden;}
.sbkQc_PageOptionsIcon_Small { height: 15px;width: 15px; padding-left: 5px;padding-top: 5px;cursor: pointer; }
.sbkQc_PageOptionsIcon_Medium { height: 20px;width: 20px; padding-left: 10px;padding-top: 5px;cursor: pointer; }
.sbkQc_PageOptionsIcon_Large { height: 20px;width: 20px;padding-left: 10px;padding-top: 5px;cursor: pointer; }
.sbkQc_PageOptionsIcon_Full {height: 25px;width: 25px; padding-left: 15px;padding-top: 5px;cursor: pointer; }

/* Code for the QC main menu */
#sbkQc_GoToThumbnailDiv { float: right; display: inline; padding-right: 50px;padding-top: 7px; color: white; text-transform:uppercase; font-weight:bold;  }
#sbkQc_MenuRightActions { float: right; width: 350px; height: 33px; display: inline;vertical-align: bottom;  }
.sbkQc_MainMenuIcon { text-decoration:none; height: 33px; cursor: pointer; padding: 11px 5px 6px 5px; }
.sbkQc_MainMenuIcon:hover {  background-color: #888888; }
.sbkQc_MainMenuIcon img { margin-top: 6px;vertical-align:bottom;  } 
.sbkQc_MainMenuSeperator {margin-left: 5px;margin-right: 3px; padding: 11px 0 6px 0;border-left: 1px solid #515c86; }
.sbkQc_MainMenuIconCurrent { background-color: #a5b2e4; }


/* Styles for the QC buttons */
.sbkQc_MainButtons {  background-color: #7d90d5; color: white; text-transform:uppercase; font-weight:bold; border-radius:25px;  border: none; padding: 5px 15px 5px 15px; margin: 4px 5px 0 5px; cursor: pointer; font-size: 1.2em; letter-spacing: 0.5px; vertical-align: top; }
.sbkQc_MainButtons:hover { background-color: #888888; -webkit-box-shadow: inset 0 0 9px 6px #6a6f75; box-shadow: inset 0 0 9px 6px #6a6f75; }
.sbkQc_MoveButtons { background-color: #7d90d5; color: white; text-transform:uppercase; font-weight:bold; border-radius:25px; border: none; padding: 6px 13px 6px 13px; cursor: pointer; font-size: 1.0em; letter-spacing: 0.5px; }
.sbkQc_MoveButtons:hover { background-color: #888888; -webkit-box-shadow: inset 0 0 9px 6px #6a6f75; box-shadow: inset 0 0 9px 6px #6a6f75; }


.sbkQc_MovePagesFloatingButton {position: fixed; bottom: 95px; right: 40px;visibility: hidden; }
.sbkQc_DeletePagesFloatingButton {position: fixed; bottom: 95px; right: 40px;visibility: hidden;}

.popup_form_preview_div{display:inline-block; background-color: #555555;padding: 25px; border: 1px solid  black; margin: 5px;}

.qcContainerDivClass {
     overflow: scroll; 
     height: 650px;
     border-bottom: 1px white solid;
     background-color: #555555;
    -ms-scrollbar-track-color: #888888;
    -ms-scrollbar-face-color: #7d90d5;
    text-align: center;
    margin: 5px;
}

::-webkit-scrollbar {
    width: 15px;
    height: 0px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background-color: #888888;
}

::-webkit-scrollbar-track:horizontal {
    background-color: #333333;
    border: none;
    -webkit-box-shadow: none;
    height: 1px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #7d90d5;
}


.errorIconSpan{float:right; visibility: hidden;}
.errorIconSpanHover{float:right; visibility: visible;}





.spanQCIconsTopNavRow{float:right;}


.qcResetMouseCursorToDefault{cursor:default;}





.displayTimeSaved{ color: #555555;font-size: 9pt;}

.popup_title { background-color: #0022a7; font-weight: bold; color: White; font-size: larger; padding: 6px 0px 6px 10px; -moz-border-radius-topleft: 7px;  -moz-border-radius-topright: 7px; }
.popup_title a { color: White; text-decoration: none; font-weight: bold; }
.popup_table { margin-left: 50px;margin-right: 50px; }

.qcmove_popup_div { position:fixed; background-color:#eeeeee; height:175px; z-index: 9999; FONT-FAMILY: Arial, sans-serif; font-size: small;  -moz-border-radius: 7px;color: #222222; } 

.btnMovePages {
	background-color:Yellow;
    display:inline-block;
    border-radius: 25px;
    text-transform: uppercase;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 16px;
	text-decoration:none;}
.btnMovePages:hover { background-color:#ffec64;}

.btnDeletePages {
  	background-color:#ffab23;
    display:inline-block;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 16px;
	text-decoration:none;  
}
.btnDeletePages:hover{ background-color: #ffec64;}





