/* Mapper UI Default: Contains the default visual flavors of mapper plugin */
/* Critera: if changed/taken out, these will not effect functionality*/
/* Common Styles Included:
	Font/text related
	Text alignment (localization)
	Visual affects beyond layout (shadows, etc)
	Color or image related
*/

h3
{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 12px;
}

a img
{
    outline: none;
    border: 0;
    color: #6a6f75;
}

.ui-tooltip
{
    font: bold 12px "Helvetica Neue", Sans-Serif;
}

.button
{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0;
    /*background-image: url("images/mapper/button-base.png");*/
}

    .button:hover
    {
        /*-webkit-box-shadow: inset 0 0 9px 6px rgba(255,255,255,.5);
	box-shadow: inset 0 0 9px 6px rgba(255,255,255,.5);*/
        -webkit-box-shadow: inset 0 0 9px 6px #6a6f75;
        box-shadow: inset 0 0 9px 6px #6a6f75;
        border-radius: 5px;
        cursor: pointer;
    }

.isActive
{
    -webkit-box-shadow: inset 0 0 9px 6px #6a6f75;
    box-shadow: inset 0 0 9px 6px #6a6f75;
    border-radius: 5px;
    cursor: pointer;
}
.isActive2
{
    opacity:0.5;
}

.button2
{
    display: inline-block;
}

    .button2 input[type="button"]
    {
        color: #666666;
        font: bold 12px Arial,Helvetica,Sans-serif;
        padding: 4px 10px 4px 10px;
        background: url(overlay.png) repeat-x center #CCCCCC;
        background-color: #CCCCCC;
        border: 1px solid #CCCCCC;
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
        border-radius: 12px;
        border-bottom: 1px solid #9f9f9f;
    }

    .button2:hover input[type="button"]
    {
        -webkit-box-shadow: inset 0 0 9px 6px #6a6f75;
        box-shadow: inset 0 0 9px 6px #6a6f75;
        cursor: pointer;
    }

.button3
{
    display: inline-block;
    border: 0;
}

    .button3:hover
    {
        -webkit-box-shadow: 0 0 10px whitesmoke;
        box-shadow: 0 0 10px whitesmoke;
        cursor: pointer;
    }

#searchResults_container
{
    background: #fcfcfc;
    color: #6a6f75;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    width: 200px;
    height: 18px;
    padding: 8px 15px 6px 15px;
    margin-left: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    overflow: hidden;
}

#searchResults_scoll_container
{
    /*overflow-x:hidden;
	height:20px;
	margin-right: -5px;*/
}

#searchResults_list
{
    padding-left: 5px;
    text-align: left;
}

.searchResults_listItem
{
    height: 16px;
}

.searchResults_actionButton
{
    float: right;
    clear: both;
    padding-right: 5px;
    height: 16px;
}

#overlayList_container
{
    background: #fcfcfc;
    color: #6a6f75;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    width: 200px;
    padding: 6px 15px 6px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    margin-left: 5px;
    overflow: hidden;
}

#overlayList_scoll_container
{
    overflow-x: hidden;
    height: 140px;
    margin-right: -5px;
}

#overlayList
{
    padding-left: 5px;
    text-align: left;
}

.overlayListItem
{
    height: 16px;
}

.overlayActionButton
{
    float: right;
    clear: both;
    padding-right: 5px;
    height: 16px;
}

#poiList_container
{
    background: #fcfcfc;
    color: #6a6f75;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    width: 200px;
    padding: 6px 15px 6px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    margin-left: 5px;
    overflow: hidden;
}

#poiList_scoll_container
{
    overflow-x: hidden;
    height: 140px;
    margin-right: -5px;
}

#poiList
{
    padding-left: 5px;
    text-align: left;
}

.poiListItem
{
    height: 16px;
}

.poiActionButton
{
    float: right;
    clear: both;
    padding-right: 5px;
    height: 16px;
}

.labels
{
    color: red;
    background-color: lightgray;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    padding: 0 2px 0 2px;
    border-radius: 4px;
    white-space: nowrap;
}

#rotationKnob
{
    height: 75px;
    overflow: hidden;
}

#rotation
{
    float: left;
    text-align: center;
    padding-top: 5px;
    width: 75px;
    background-color: #ededed;
    border-radius: 15px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

#transparency
{
    float: right;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 25px;
    background-color: #ededed;
    border-radius: 15px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

#overlayTransparencySlider
{
    left: 7px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.hidden
{
    display: none;
}

.mapper_container_search
{
}

.search
{
    background: #fcfcfc;
    color: #6a6f75;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    width: 120px;
    padding: 6px 15px 6px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    margin: 6px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

    .search:focus
    {
        background: #fcfcfc;
        color: #6a6f75;
        width: 120px;
        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
        -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
        -webkit-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        outline: none;
    }

.searchActionHandle
{
    width: 18px;
    height: 18px;
    margin: -28px 0 0 130px;
    position: absolute;
}

    .searchActionHandle:hover
    {
        cursor: pointer;
    }

.descPOI
{
    background: #fcfcfc;
    color: #6a6f75;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    width: 210px;
    padding: 6px 15px 6px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    margin: 0;
    overflow: hidden;
}

.buttonPOIDesc
{
    margin-top: 5px;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #fcfcfc;
    text-decoration: none;
    background-color: #6a6f75;
    border-radius: 15px 15px;
    padding: 0 5px 0 5px;
    border-width: 1px;
    float: right;
}

    .buttonPOIDesc:hover
    {
        cursor: pointer;
    }

.poiDescContainer
{
    width: 245px;
    overflow: hidden;
}

.tab-field
{
    background: #fcfcfc;
    color: #6a6f75;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    width: 200px;
    padding: 6px 15px 6px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    margin: 0;
    overflow: hidden;
}
