/**************************************************************************
**     SOBEKCM_Metadata.css                                                      
**                                                                      
**     This contains many of the default styles for the SobekCM Digital  
**     Repository used for editing metadata and creating new resources
**     through the online web interface.                                      
**                                                                       
**     DO NOT MAKE CHANGES TO THIS FILE!                                
**                                                                       
**     To make sweeping changes to the appearance, you should use       
**     the CSS in your web skin to OVERRIDE classes in this CSS.       
**                                                                       
**     New versions of the SobekCM repository arrive will have new  
**     versions of this file which will cause you to lose any changes
**     you made to this file. 
**                                                                 
**************************************************************************/


/** Styles used for the forms (both pop-up and in-line) throughout the admin pages **/
.sbkMetadata_PopupDiv { position:fixed; background-color:#eeeeee; z-index: 9999; FONT-FAMILY: Arial, sans-serif; font-size: small; -moz-border-radius: 10px; border-radius: 10px; } 
.sbkMetadata_PopupTitle { background-color: #0022a7; font-weight: bold; color: White; font-size: larger; padding: 6px 5px 6px 15px;border-top-left-radius: 10px;border-top-right-radius: 10px;font-variant: small-caps;}
.sbkMetadata_PopupTitle a { color: White; text-decoration: none; font-weight: bold; }
.sbkMetadata_PopupTable { padding-left: 20px; margin-left: 20px;text-align: left; }
.sbkMetadata_RoundButton  { background-color: #2A1EA6; color: white; text-transform:uppercase; font-weight:bold; border-radius:25px; border: none; padding: 4px 10px 4px 10px; cursor: pointer; letter-spacing: 0.5px; }
.sbkMetadata_RoundButton:hover { background-color: #888888; -webkit-box-shadow: inset 0 0 9px 6px #6a6f75; box-shadow: inset 0 0 9px 6px #6a6f75; }


/* PAGE_IMAGE_UPLOAD_MYSOBEKVIEWER */
.sbkPiu_MainArea { text-align: justify; padding-bottom: 5px;color: black;background-color: white;}
.sbkPiu_MainArea h2 { padding: 10px 0 5px 0; margin: 0;color: #444444;font-size: 1.2em;font-weight: bold; }
.sbkPiu_MainArea hr { color: #cccccc;background-color: #cccccc;height: 3px; }
.sbkPiu_RoundButton { background-color: #7d90d5; color: white; text-transform:uppercase; font-weight:bold; border-radius:25px; border: none; padding: 5px 10px 5px 10px; cursor: pointer; font-size:1em; letter-spacing: 0.5px;margin-left: 10px; }
.sbkPiu_RoundButton:hover { background-color: #888888; -webkit-box-shadow: inset 0 0 9px 6px #6a6f75; box-shadow: inset 0 0 9px 6px #6a6f75; }
.sbkPiu_RoundButtonDisabled { background-color: #555555; color: white; text-transform:uppercase; font-weight:bold; border-radius:25px; border: none; padding: 5px 10px 5px 10px; font-size:1em; letter-spacing: 0.5px; }



.tree { text-align: justify; }
.tree td div {   /*height: 40px !important */  }
.TreeNode { /*padding-top:0px !important;padding-bottom:0px !important;*/ }
.Selected_TreeNode_Text { background-color: #7d90d5; padding: 4px 4px 4px 4px; }


.SobekFolderActionLink
{
	color:Gray; 
}
.SobekFolderActionLink A:link { COLOR: #00a; TEXT-DECORATION: none; }
.SobekFolderActionLink A:visited { COLOR: #00a; TEXT-DECORATION: none; }
.SobekFolderActionLink A:hover  { COLOR: #00a; TEXT-DECORATION: underline; }

.metadata_section
{
	background-color: #fbf7b4;
}


.metadata_label
{
	padding-top: 17px; font-weight: bold;vertical-align: top;
}


.metadata_label A:link
{
	padding-top: 17px; color:Black !important; font-weight: bold;
}

.metadata_label A:visited
{
	padding-top: 17px; color:Black !important; font-weight: bold;
}

.metadata_label A:hover 
{
	padding-top: 17px; color:Black !important; text-decoration:underline; font-weight: bold;
}

.metadata_label2
{
	padding-top: 23px;
}


.metadata_label2 A:link
{
	padding-top: 23px; color:Black;
}

.metadata_label2 A:visited
{
	padding-top: 23px; color:Black;
}

.metadata_label2 A:hover 
{
	padding-top: 23px; color:Black; text-decoration:underline;
}

.metadata_sublabel
{
	padding-left: 15px; font-size: 0.9em; padding-right: 5px; 
}

.metadata_sublabel2
{
	font-size: 0.9em; padding-right: 5px; 
}

#larger_body_label
{
	font-weight:bold;
}

.repeat_button
{
	 padding-bottom: 0; 
	 cursor: pointer;
	border: none;
}

.help_button
{
	 padding-left: 3px; padding-bottom: 0; cursor: pointer;border: none;
}

.help_button_rightsmgmt
{
	 padding-left: 3px; padding-bottom: 18px; cursor: pointer;
}

.repeat_button_form
{
	 padding-top: 4px;  
}


.SobekEditItemSectionTitle
{
    color:Gray; padding-top: 10px; font-weight: bold;
}

.SobekEditItemSectionTitle_first
{
    color:Gray; font-weight: bold;
}

.SobekEditItemSection
{
	padding-left: 30px;
}

.SobekEditItemSection track
{
	text-align: left;
}

.ShowOptionsRow
{
	position: relative; margin-left: auto; margin-right: auto; WIDTH: 425px; height:15px; text-align:right; 
}

.add_new_link { color: Black; font-size: 0.9em; vertical-align:baseline;  }
.add_new_link a:link { color: Black; text-decoration:none; vertical-align: baseline; }
.add_new_link a:visited { color: Black; text-decoration:none; }
.add_new_link a:hover { color: Blue; text-decoration:underline; }

input.related_url_input { width: 500px; margin-top: 6px; }

input.edition_input { width: 350px; margin-left: 3px; margin-top: 9px; }

input.creator_input { width: 500px; margin-top: 6px; }

input.contributor_input { width: 500px; margin-top: 6px; }

input.complex_creator_input { width: 340px; margin-top: 6px; margin-bottom: 1px; }
select.complex_creator_select { width: 150px; margin-left: 10px; margin-top: 6px; }
select.complex_creator_select_init { color:Gray; width: 150px; margin-left: 10px; margin-top: 6px; }

input.donor_input { width: 500px; margin-top: 6px; }

input.physical_description_input { width: 300px; margin-top: 6px; }

input.language_input { width: 150px; margin-top: 6px; margin-right: 10px; }
select.language_input { width: 150px; margin-top: 6px; margin-right: 10px; }

input.tickler_input { width: 125px; margin-top: 6px; margin-right: 10px; }

input.trackingBox_input { width: 125px; margin-top: 6px; margin-right: 10px; }

input.title_main_input { width: 500px; margin-top: 6px; }

input.title_group_input { width: 500px; margin-top: 6px; }

input.othertitle_input { width: 360px; margin-top: 6px; margin-bottom: 1px; }
select.othertitle_select { width: 130px; margin-left: 10px; margin-top: 6px; }
select.othertitle_select_init { color:Gray; width: 130px; margin-left: 10px; margin-top: 6px; }

input.spatial_input { width: 500px; margin-top: 6px; }

select.visibility_select { width: 160px; margin-top: 6px; }

select.type_select { width: 200px; margin-top: 6px; }
select.type_select_init { color:Gray; width: 200px; margin-top: 6px; }


select.pub_status_select { width: 100px; margin-top: 6px; }
select.pub_status_select_init { color:Gray; width: 100px; margin-top: 6px; }

input.publisher_input { width: 500px; margin-top: 6px; }

input.manufacturer_input { width: 500px; margin-top: 6px; }

input.pubplace_input { width: 500px; margin-top: 6px; }

input.pub_date_input { width: 150px; margin-top: 9px; }

input.scale_input { width: 150px; margin-top: 9px; }

input.copyright_date_input { width: 150px; margin-left: 3px; margin-top: 9px; }

textarea.abstract_input { margin-top: 6px; }

textarea.note_input { margin-top: 6px; }

input.UfdcInputBox_Small { width: 100px; margin-top: 6px; }
input.UfdcInputBox_Medium { width: 340px; margin-top: 6px; }
input.UfdcInputBox_Large { width: 500px; margin-top: 6px; }

input.subject_input { margin-top: 6px; width: 350px; }

input.subject_scheme_first_input { margin-top: 6px; width: 320px; }
input.subject_scheme_second_input { margin-top: 6px; width: 100px; }

input.genre_first_input { margin-top: 6px; width: 220px; }
input.genre_second_input { margin-top: 6px; width: 100px; }

input.identifier_input { margin-top: 6px; width: 150px; }
input.identifier_first_input { margin-top: 6px; width: 150px; }
input.identifier_second_input { margin-top: 6px; width: 100px; }

input.primid_input { margin-top: 6px; width: 150px; }
input.primid_first_input { margin-top: 6px; width: 150px; }
input.primid_second_input { margin-top: 6px; width: 100px; }

input.catalognum_input { margin-top: 6px; width: 150px; }

input.oclcnum_input { margin-top: 6px; width: 150px; }

input.sudoc_input { margin-top: 6px; width: 150px; }

input.lccn_input { margin-top: 6px; width: 150px; }

input.classification_input { width: 180px; margin-top: 6px; margin-bottom: 1px; }
select.classification_select { width: 100px; margin-top: 6px; }
select.classification_select_init { color:Gray; width: 100px; margin-top: 6px; }


input.temporal_input { width: 500px; margin-top: 6px; }

input.bibid_input { width: 100px; margin-top: 6px; }

input.vid_input { width: 60px; margin-top: 6px; }

textarea.rights_mgmt_input { margin-top: 6px; }

input.holding_input { width: 370px; margin-left: 10px; margin-top: 6px; margin-bottom: 1px; }
select.holding_select { width: 120px; margin-top: 6px; }

input.container_input { width: 310px; margin-top: 6px; margin-bottom: 1px; }
select.container_select { width: 80px; margin-top: 6px; }

input.source_input { width: 370px; margin-left: 10px; margin-top: 6px; margin-bottom: 1px; }
select.source_select { width: 120px; margin-top: 6px; }

select.frequency_input { width: 140px; margin-right: 10px; margin-top: 6px; }

input.acquisition_input { width: 500px; margin-top: 6px; }

input.attribution_input { width: 500px; margin-top: 6px; }

input.creator_input { width: 500px; margin-top: 6px; }

select.collection_input { width: 110px; margin-right: 10px; margin-top: 6px; }

select.subcollection_input { width: 110px; margin-right: 10px; margin-top: 6px; }

input.interface_input { width: 60px; margin-right: 10px; margin-top: 6px; }

input.wordmark_input { width: 60px; margin-right: 10px; margin-top: 6px; }

select.record_status_select { width: 160px; margin-top: 6px; }
select.record_status_select_init { color:Gray; width: 160px; margin-top: 6px; }

select.encoding_level_select { width: 65px; margin-top: 6px; }
select.encoding_level_select_init { color:Gray; width: 65px; margin-top: 6px; }

input.record_origin_input { width: 300px; margin-top: 6px; }

input.creation_note_input { width: 500px; margin-top: 6px; }

input.target_audience_input { width: 150px; margin-right: 10px; margin-top: 6px; }



input.upload_label_input { width: 400px; margin-bottom: 6px; }

input.upload_url_input { width: 600px; margin-bottom: 6px; }

input.coordinate_point_first_input { margin-top: 6px; width: 150px; }
input.coordinate_point_second_input { margin-top: 6px; width: 150px; }

input.material_recd_first_input { margin-top: 6px; width: 110px; }
input.material_recd_second_input { margin-top: 6px; width: 300px; }

textarea.embeddedvideo_input { margin-top: 6px; }

input.fastsubject_input { width: 220px; margin-top: 6px; margin-bottom: 1px; }
select.fastsubject_select { width: 110px; margin-left: 10px; margin-top: 6px; }
select.fastsubject_select_input { color:Gray; width: 110px; margin-left: 10px; margin-top: 6px; }

input.disposition_advice_input { width: 318px; margin-top: 6px; margin-bottom: 1px; }
select.disposition_advice_select { width: 130px; margin-top: 6px; }

select.lom_aggrlevel_select { margin-top: 6px; }
select.lom_status_select { margin-top: 6px; }
select.lom_interacttype_select { margin-top: 6px; }
select.lom_interactlevel_select { margin-top: 6px; }
select.lom_difflevel_select { margin-top: 6px; }
select.lom_intendeduser_input { margin-top: 6px; }

input.lom_type_input { width: 150px; margin-right: 10px; margin-top: 6px; }
input.lom_agerange_input { width: 80px; margin-right: 10px; margin-top: 6px; }
input.lom_context_input { width: 80px;margin-left: 10px; margin-top: 6px; margin-bottom: 1px; }
select.lom_context_select { margin-top: 6px; }

input.vra_culturalcontext_input { width: 150px; margin-right: 10px; margin-top: 6px; }
input.vra_inscription_input { width: 350px; margin-right: 10px; margin-top: 6px; }
input.vra_materials_first_input { width: 150px; margin-right: 10px; margin-top: 6px; }
input.vra_materials_second_input { width: 120px; margin-right: 10px; margin-top: 6px; }
input.vra_measurement_first_input { width: 150px; margin-right: 10px; margin-top: 6px; }
input.vra_measurement_second_input { width: 80px; margin-right: 10px; margin-top: 6px; }
input.vra_state_input { width: 150px; margin-right: 10px; margin-top: 6px; }
input.vra_styleperiod_input { width: 150px; margin-right: 10px; margin-top: 6px; }
input.vra_technique_input { width: 150px; margin-right: 10px; margin-top: 6px; }

input.etd_committeechair_input { width: 350px; margin-right: 10px; margin-top: 6px; }
input.etd_committeecochair_input { width: 350px; margin-right: 10px; margin-top: 6px; }
input.etd_committeemembers_input { width: 350px; margin-right: 10px; margin-top: 6px; }
input.etd_degreeearned_input { width: 350px; margin-right: 10px; margin-top: 6px; }
input.etd_discipline_input { width: 150px; margin-right: 10px; margin-top: 6px; }
input.etd_division_input { width: 150px; margin-right: 10px; margin-top: 6px; }
input.etd_degreegrantor_input { width: 350px; margin-right: 10px; margin-top: 6px; }
input.etd_graduationsemester_input { width: 150px; margin-right: 10px; margin-top: 6px; }

#bornDigital { margin-top: 8px; }
#darkFlag { margin-top: 8px; }

/* Generic styles used by all the pop-up forms and pop-up form element */
.form_linkline  { color: Blue; cursor: pointer; margin-bottom: 4px; padding: 1px 2px 1px 2px; background-color: White;  border-style:solid; border-width: 1px; border-color: #7f9db9; }
.form_linkline_empty  { color: Gray; cursor: pointer; margin-bottom: 4px; padding: 1px 2px 1px 2px; background-color: White;  border-style:solid; border-width: 1px; border-color: #7f9db9; }
.form_linkline_focused  { color: #0000a8; cursor: pointer; margin-bottom: 4px; padding: 1px 2px 1px 2px; background-color: #fbf7b4;  border-style:solid; border-width: 1px; border-color: #7f9db9; }
.form_linkline_empty_focused  { color: Gray; cursor: pointer; margin-bottom: 4px; padding: 1px 2px 1px 2px; background-color: #fbf7b4;  border-style:solid; border-width: 1px; border-color: #7f9db9; }

.popup_title { background-color: #0022a7; font-weight: bold; color: White; font-size: larger; padding: 6px 0px 6px 10px; -moz-border-radius-topleft: 7px; -moz-border-radius-topright: 7px; }
.popup_title a { color: White; text-decoration: none; font-weight: bold; }
.popup_table { padding-left: 20px; margin-left: 20px; }

.bibid_div { padding-top: 8px; line-height: 1.5; } 
.vid_div { padding-top: 8px; line-height: 1.5; } 


input.download_input { width: 180px; margin-top: 6px; }
input.download_input_focused { color:#0000a8; width: 180px; margin-top: 6px; background-color: #fbf7b4; }
select.download_select { width: 260px; margin-top: 6px; }
select.download_select_init { color:Gray; width: 260px; margin-top: 6px; }

select.main_thumbnail_select { width: 200px; margin-left: 2px; margin-top: 8px; }
select.main_thumbnail_select_init { color:Gray; width: 200px; margin-left: 2px; margin-top: 8px; }

select.addvolume_base_volume { width: 80px; margin-right: 10px; margin-top: 6px; }

#cc_rights a:link { color: Black; }
#cc_rights a:visited { color: Black; }
#cc_rights a:hover { color: Black; }

.sbkEimv_Citation {margin-left: 5px;padding-left: 5px; BORDER-WIDTH: 0;COLOR: #222222; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; font-size: 0.9em; }
.sbkEimv_Citation a:link { color: black; }
.sbkEimv_Citation a:visited { color: black; }
.sbkEimv_Citation p { padding-left: 40px; padding-right: 40px }

#blanket_outer {
	position: absolute;
	margin: auto;
	top: 0;	left: 0;
	width: 100%; height: 100%;
	z-index: 9998;
	background-color: #000!important;
	
	background-color:#111;
	opacity: 0.65;
	filter:alpha(opacity=65);
}




.hidden_progress 
{ 
	padding: 0px;
	width: 32px;
	height: 32px;
}


.shown_progress
{ 
	background-image: url( http://128.227.223.117/UFDC/default/images/spinner.gif );
	cursor: wait;
	padding: 0px;
	width: 32px;
	height: 32px;
}


/**** VALIDATED AND UPDATED  ****/

/** Abstract_Complex_Element **/
select.complex_abstract_type { width: 165px; margin-top: 6px; }
input.complex_abstract_language  { width: 150px; margin-top: 6px; }
textarea.complex_abstract_input  { margin-top: 6px; }

/** EAD_Form_Element **/
.form_ead_line { width: 500px; }
.ead_popup_div { width:620px; height:175px; } 
input.formead_input { width: 450px; margin-right: 15px; margin-top: 6px; }
#form_ead_div { padding-top: 6px; } 

/** Hierarchical_Spatial_Form_Element **/
.form_spatial_line { width: 500px; }
.spatial_popup_div {width:550px; height:520px; }  
#form_spatial_div { padding-top: 6px; } 
input.formspatial_input  { width: 360px; margin-right: 15px; margin-top: 6px; }
input.formspatial_small_input  {  width: 120px; margin-top: 6px; }

/** IR_Type_Element **/
select.ir_type_input { width: 200px; margin-top: 6px; }
input.irtype_other_input  { width: 180px; margin-right: 10px; margin-top: 6px; }
input.larger_body_input  { width: 500px; margin-top: 6px; }

/** Manufacturer_Complex_Element **/
input.complex_manufacturer_name_input  { width: 455px; margin-right: 10px; margin-top: 14px; }
input.complex_manufacturer_location_input  { width: 133px; margin-right: 4px; margin-left: 4px; margin-top: 6px; }

/** Name_Form_Element **/
.form_name_line { width: 500px; }
.name_popup_div_personal { width:700px; height:360px; } 
.name_popup_div { width:700px; height:305px; } 
.form_name_div { padding-top: 6px; } 
input.form_name_small_input  { width: 120px; margin-right: 10px; margin-top: 6px; }
input.form_name_medium_input  { width: 200px; margin-right: 15px; margin-top: 6px; }
input.form_name_large_input  { width: 463px; margin-right: 15px; margin-top: 6px; }
select.form_name_select { width: 110px; margin-top: 6px; }

/** Note_Complex_Element **/
select.complex_note_type { width: 200px; margin-top: 6px; }
textarea.complex_note_input  {  margin-top: 6px; }
input.complexnote_input  { width: 150px; margin-top: 6px; margin-right: 10px; }

/** Other_Title_Form_Element and Title_Main_Form_Element **/
.form_title_main_line { width: 500px; }
.title_main_popup_div { width:675px; height:315px; } 
.title_other_popup_div { width:675px; height:295px; } 
.form_title_div { padding-top: 10px; } 
input.formtitle_small_input  { width: 120px; margin-right: 10px; margin-top: 6px;  }
input.formtitle_medium_input  { width: 374px; margin-right: 15px; margin-top: 6px; }
input.formtitle_large_input  { width: 463px; margin-right: 15px; margin-top: 6px;  }
select.formtitle_type_select { width: 130px; margin-top: 6px;   }
select.formtitle_display_select { width: 180px; margin-top: 6px;  }

/** Other_URL_Form_Element **/
.form_related_url_line { width: 500px;  }
.related_url_popup_div { width:620px; height:210px; } 
#form_related_url_div { padding-top: 6px; } 
input.form_relatedurl_input { width: 450px; margin-right: 15px; margin-top: 6px; }

/** Publisher_Complex_Element **/
input.complex_publisher_name_input  { width: 455px; margin-right: 10px; margin-top: 14px;  }
input.complex_publisher_location_input  { width: 133px; margin-right: 4px; margin-left: 4px; margin-top: 6px; }

/** Related_Item_Form_Element **/
.form_related_item_line { width: 500px; }
.related_item_popup_div { width:620px; height:275px; } 
#form_related_item_div { padding-top: 10px; } 
input.form_relateditem_medium_input  { width: 120px; margin-right: 15px; margin-top: 6px; }
input.form_relateditem_large_input  { width: 463px; margin-right: 15px; margin-top: 6px; }
select.form_relateditem_select { width: 110px; margin-top: 6px; }

/** Serial_Hierarchy_Form_Element and Serial_Hierarchy_Panel_Element **/
.form_serial_hierarchy_line { width: 500px; }
.serial_hierarchy_popup_div { width:565px; height:395px; } 
#form_serial_hierarchy_div { padding-top: 12px; } 
input.form_serialhierarchy_text_input { width: 180px; margin-right: 15px; margin-top: 6px; border-style:solid; border-width: 1px; border-color: #7f9db9; }
input.form_serialhierarchy_order_input { width: 90px; margin-right: 15px; margin-top: 6px; border-style:solid; border-width: 1px; border-color: #7f9db9; }

/** Subject_Keyword_Standard_Form_Element **/
.form_subject_line { width: 500px;  }
.subject_popup_div { width:600px; height:360px; } 
#form_subject_div { padding-top: 10px; } 
select.formsubject_type { width: 100px; margin-top: 6px; }
select.formsubject_map { width: 170px; margin-top: 6px; }
input.formsubject_small_input  {  width: 120px; margin-top: 6px; }
input.formsubject_medium_input  { width: 170px; margin-right: 15px; margin-top: 6px; }
input.formsubject_large_input  {  width: 360px; margin-right: 15px; margin-top: 6px; }

/** Temporal_Complex_Element **/
input.complex_temporal_year_input  { width: 50px; margin-top: 6px; }
input.complex_temporal_period_input  {  width: 200px; margin-top: 6px; }

/** Type_Format_Form_Element **/
.form_typeformat_line { width: 250px;  }
select.type_format_form_select { width: 110px; margin-left: 3px; margin-top: 9px; }
select.type_format_form_select_init { color:Gray; width: 110px; margin-left: 3px; margin-top: 9px; border-style:solid; border-width: 1px; border-color: #7f9db9; }
.typeformat_popup_div { width:675px; height:270px; } 
.typeformat_book_popup_div { width:675px; height:515px; } 
.typeformat_visual_popup_div { width:675px; height:390px; } 
.typeformat_serial_popup_div { width:675px; height:515px; } 
.typeformat_map_popup_div { width:675px; height:430px; } 
.typeformat_computer_popup_div { width:675px; height:430px; } 
.type_format_form_div { padding-top: 10px; } 
input.formtype_small_input  { width: 120px; margin-right: 10px; margin-top: 6px; }
input.formtype_medium_input  { width: 374px; margin-right: 15px; margin-top: 6px; }
input.formtype_large_input  { width: 443px; margin-right: 15px; margin-top: 6px; }
select.formtype_small_select  {  width: 120px; margin-right: 10px; margin-top: 6px; }
select.formtype_medium_select  {  width: 210px; margin-right: 15px; margin-top: 6px;  }
select.formtype_large_select  { width: 435px; margin-right: 15px; margin-top: 6px;  }

/** Viewer_Element **/
select.viewer_type { width: 115px; margin-top: 6px; }
select.viewer_file { width: 150px; margin-top: 6px; }
input.viewer_label_input { width: 160px; margin-top: 6px; }
