html {
	margin:0;
	padding:0;
}
body {
	margin:0;
	padding:0;
	overflow:hidden;
	/*margin-bottom:-18px*/
}

#mapper_container_thebigdeal {
    margin:0;
	padding:0;
	background-image:url("images/mapper/bg1.png");
	overflow:hidden;
    height:100%;
    width:100%;
    position:absolute;

    } 

h3 {
	font-family:'Arial Black', Gadget, sans-serif;
	font-size:12px;
}
a img {
	outline:none;
	border:0;
}
/*table, th, td{
	font-family:'Arial Narrow', 'Nimbus Sans L',monospace;
	font-size:11px;
	text-align:center;
}*/

#mapper-table{
	font-family:'Arial Narrow', 'Nimbus Sans L',monospace;
	font-size:11px;
	text-align:center;
}


.ui-tooltip {
	font: bold 12px "Helvetica Neue", Sans-Serif;
}

#container2a{
	position:absolute;
	width:100%;
	min-height:48px;
	text-align:center;
	z-index:2;
	background-image:url("images/mapper/bg1.png");
}

#container_toggle_toolbar1{
	position:absolute;
	left:50%;
	margin-left:-20px;
	margin-top:48px;
	z-index:4;
}
#container_toggle_toolbar2{
	position:absolute;
	left:50%;
	margin-left:-20px;
	z-index:4;
	display:none;
}

/* took out when placed into sobek (fixed map not displaying issue)
#container2b{
	position:relative;
	width:100%;
} */

#toolbar{
	position:absolute;
	left:50%;
	margin-left:-545px;
}

#toolbar .grouping {
	float:left;
	padding-left:5px;
	padding-right:5px;
	margin: 4px 1px 4px 1px;
}

#googleMap {
    width:100%;
    height:100%;
	z-index:0;
    position:absolute;
}

#messageContainer {
	position:fixed;
	z-index:2;
	text-align:center;
	width:200px;
	margin-top:50px;
	left:50%;
	margin-left:-100px;
}
#messageContainer .message{
	background-color:#f0fe3a;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
}

.toolbar {
	text-align:right;
	background-color:#ededed;
	border-radius:25px;
	height:15px;
	padding-right:10px;
	padding-bottom: 3px;
    margin-bottom: 10px;
}

/* not yet fully nice
#toolbar_find {
    background-image: url(images/mapper/search.png);
    background-position: right;
    background-repeat: no-repeat;

}
#toolbar_search {
    background-image: url(images/mapper/search.png);
    background-position: right;
    background-repeat: no-repeat;

}
#toolbox_locate {
    background-image: url(images/mapper/search.png);
    background-position: right;
    background-repeat: no-repeat;

}
#toolbox_search {
    background-image: url(images/mapper/search.png);
    background-position: right;
    background-repeat: no-repeat;

} */

#toolbox {
	max-height:530px;
	width:250px;
	float:left;
	position:absolute;
	z-index:1;
	padding:10px;
	margin-left:15px;
	margin-top:200px;
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.5);
	box-shadow:0px 1px 3px rgba(0,0,0,0.5);
	border-radius: 15px;
        
}
#toolboxTabs{
	font-size: 11px;
    
}
#toolboxTabs .toolbar {
	font-size:10px;
	text-align:right;
}
#toolboxTabs .tab-title {
	font-size:13px;
}
.button {
	width:40px;
	border:0;
}
.tab {
	/*height:250px;*/
    height:100%;
}
.tab-content {
    text-align: center;
    margin-left: -15px;
    margin-right: -10px;
}
.button2 {

    /*background-color: #939393; 
    background-image: url(images/fallback-gradient.png); 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2F2727), to(#FFFFFF));
    background-image: -webkit-linear-gradient(top, #2F2727, #FFFFFF); 
    background-image:    -moz-linear-gradient(top, #2F2727, #FFFFFF);
    background-image:     -ms-linear-gradient(top, #2F2727, #FFFFFF);
    background-image:      -o-linear-gradient(top, #2F2727, #FFFFFF);*/
    background-color:lightgray; 
    border-radius: 15px 15px;
    padding: 4px 10px 4px 10px;
    text-decoration:none;
    border-width: 1px;
    font: bold 12px Arial,Helvetica,Sans-serif;
}

.button2:hover{
-webkit-box-shadow: 0 0 10px #fff0f5;
box-shadow: 0 0 10px #fff0f5;
}

#search_results{

    background:#fcfcfc;
	color: #6a6f75;
	border: 0 none;
	font: bold 12px Arial,Helvetica,Sans-serif;
	width:200px;
    height:20px;
	padding: 6px 15px 6px 15px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    overflow: hidden;
}


#poiList_Container {
    background:#fcfcfc;
	color: #6a6f75;
	border: 0 none;
	font: bold 12px Arial,Helvetica,Sans-serif;
	width:200px;
	padding: 6px 15px 6px 15px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	margin-left:5px;
    overflow: hidden;

}
#poiList_ScollContainer {
    overflow-x:hidden;
    height:140px;
    margin-right: -5px;
}
#poiList {
    padding-left:5px;
}

.poiListItem {
    height: 16px;
}

.poiActionButton {
    float: right;
    clear: both;
    padding-right: 5px;
    height: 16px;
}

.labels {
     color: red;
     background-color: lightgray;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
    padding: 0 2px 0 2px;
     border-radius: 4px;
     white-space: nowrap;
   }

#rotationKnob {
	height:75px;
	overflow:hidden;
}
#rotation 
{
    padding-top: 5px;
	width: 75px;
    background-color:#ededed;
    border-radius: 15px;
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
}
#transparency
{
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
    width: 25px;
    background-color:#ededed;
    border-radius: 15px;
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
}
#overlayTransparencySlider {
    left: 7px;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
}

.hidden{
	display: none;
}


.search {
	background:#fcfcfc;
	color: #6a6f75;
	border: 0 none;
	font: bold 12px Arial,Helvetica,Sans-serif;
	width:74px;
	padding: 6px 15px 6px 15px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	margin:6px;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
}

.search:focus {
	background:#fcfcfc;
	color: #6a6f75;
	width: 120px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
	-webkit-text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	outline: none;
}

.descPOI {
    background:#fcfcfc;
	color: #6a6f75;
	border: 0 none;
	font: bold 12px Arial,Helvetica,Sans-serif;
	width:213px;
	padding: 6px 15px 6px 15px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	margin:0px;
}

.buttonPOIDesc {
    margin-top: 5px;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #fcfcfc;
    text-decoration: none;
    background-color:#6a6f75; 
    border-radius: 15px 15px;
    padding: 0 5px 0 5px;
    border-width: 1px;
    float: right;
}

.tab-field {
    background:#fcfcfc;
	color: #6a6f75;
	border: 0 none;
	font: bold 12px Arial,Helvetica,Sans-serif;
	width:200px;
	padding: 6px 15px 6px 15px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
	margin:0px;
    overflow: hidden;
}