/**************************************************************************
**     SOBEKCM_MySobek.css                                                      
**                                                                      
**     This contains many of the default styles for the SobekCM Digital  
**     Repository used for logged in (non-admin) features of the system.                                            
**                                                                       
**     DO NOT MAKE CHANGES TO THIS FILE!                                
**                                                                       
**     To make sweeping changes to the appearance, you should use       
**     the CSS in your web skin to OVERRIDE classes in this CSS.       
**                                                                       
**     New versions of the SobekCM repository arrive will have new  
**     versions of this file which will cause you to lose any changes
**     you made to this file. 
**                                                                 
**************************************************************************/


/** Styles used for text areas throughout the mySobek pages **/
.sbkMySobek_HomeText { text-align: justify; padding-bottom: 5px; }
.sbkMySobek_HomeText a:link { color:#000080; }
.sbkMySobek_HomeText A:hover { color:Blue; text-decoration:underline; }
.sbkMySobek_HomeText h2 { color:Gray; font-weight: bold; font-size: 1.2em; line-height:25px; }
.sbkMySobek_HomeText p { padding-left: 42px; }

.sbkMySobek_ActionLink { color:Gray; }
.sbkMySobek_ActionLink a:link { color:Gray; }
.sbkMySobek_ActionLink a:visited { color:Gray; }
.sbkMySobek_ActionLink a:hover { color:Blue; text-decoration:underline; }


#sbkMySobek_ActionMessage { width: 100%;text-align: center;margin-left: auto;margin-right: auto;font-weight: bold;}

/** Styles used for controls throughout the mySobek pages **/
input { color:Blue; border-style:solid; border-width: 1px; border-color: #7f9db9; }
select { color:Blue;  border-style:solid; border-width: 1px; border-color: #7f9db9; }
textarea { color:Blue;  border-style:solid; border-width: 1px; border-color: #7f9db9; FONT-FAMILY: Arial, sans-serif; font-size: small; }
input.sbkMySobek_checkbox { padding-top: 3px;border: 0; }

.sbkMySobek_RoundButton { background-color: #2A1EA6; color: white; text-transform:uppercase; font-weight:bold; border-radius:25px; border: none; padding: 3px 10px 3px 10px; cursor: pointer; letter-spacing: 0.5px; }
.sbkMySobek_RoundButton:hover { background-color: #888888; -webkit-box-shadow: inset 0 0 9px 6px #6a6f75; box-shadow: inset 0 0 9px 6px #6a6f75; }
.sbkMySobek_UploadButton { background-color: #2A1EA6; color: white; text-transform:uppercase; font-weight:bold; border-radius:25px; border: none; padding: 3px 10px 3px 10px; cursor: pointer; letter-spacing: 0.5px;margin-left: 20px; }
.sbkMySobek_UploadButton:hover { background-color: #888888; -webkit-box-shadow: inset 0 0 9px 6px #6a6f75; box-shadow: inset 0 0 9px 6px #6a6f75; }

.sbkMySobek_BigButton {font-size: 1.1em; background-color: #2A1EA6; color: white; text-transform:uppercase; font-weight:bold; border-radius:25px; border: none; padding: 4px 10px 4px 10px; cursor: pointer; letter-spacing: 0.5px; }
.sbkMySobek_BigButton:hover { background-color: #888888; -webkit-box-shadow: inset 0 0 9px 6px #6a6f75; box-shadow: inset 0 0 9px 6px #6a6f75; }

.sbkMySobek_RoundButton_RightImg { vertical-align: top; padding-left: 3px; padding-top: 2px; } 
.sbkMySobek_RoundButton_LeftImg { vertical-align: top; padding-right: 3px; padding-top: 2px; } 

/** Styles used for the forms (both pop-up and in-line) throughout the mySobek pages **/
.sbkMySobek_PopupTitle { background-color: #0022a7; font-weight: bold; color: White; font-size: larger; padding: 6px 5px 6px 15px;border-top-left-radius: 10px;border-top-right-radius: 10px; }
.sbkMySobek_PopupTitle a { color: White; text-decoration: none; font-weight: bold; }
.sbkMySobek_PopupTable { padding-left: 20px; margin-left: 20px;text-align: left; }

/** Styles used for all the tables throughout the mySobek pages **/
.sbkMySobek_Table { border:0; border-collapse: collapse; border-spacing: 0; margin-bottom: 40px; }
.sbkMySobek_Table th { text-align: left; color: white; background-color: #0022a7; }
.sbkMySobek_TableRule { background-color:#e7e7e7; }

/** Page title */
h1 { margin-left: auto; margin-right: auto; width: 710px; background-color: #eee; color: #999; font-size: 1.35em; text-align: left; height: 25px; font-weight:normal; padding: 12px 0 12px 40px; border: solid 1px #ccc; margin-top: 0; font-weight: bold; }



/** Delete_Item_MySobekViewer **/
#sbkDimv_VerifyDiv { padding-left: 100px;padding-top: 30px;padding-bottom: 100px; }
.sbkDimv_input { width: 220px; }
.sbkDimv_SuccessMsg { color:Blue; font-size:1.3em; width:100%; text-align:center; font-weight:bold; }
.sbkDimv_ErrorMsg { color:Red; font-size:1.3em; width:100%; text-align:center; font-weight:bold; }


/** Logon_MySobekViwer **/
#sbkLomv_OptionsList { padding: 0 0 30px 70px; list-style-type: none; }
#sbkLomv_OptionsList li { padding-top: 15px; }
.sbkLomv_ErrorMsg { color:Red; font-size:1.1em; width:100%; text-align:center; font-weight:bold; }
.sbkLomv_PopupDiv { position:fixed; background-color:#eeeeee; width:400px; height:280px; z-index: 9999; FONT-FAMILY: Arial, sans-serif; font-size: small; -moz-border-radius: 10px; border-radius: 10px; } 
input.sbkLomv_username_input  { width: 180px; margin-top: 6px; }
input.sbkLomv_password_input  { width: 180px; margin-top: 6px; }


/**Track_Item Viewer**/
.sbkTi_table{border:0; border-collapse: collapse; border-spacing: 0; margin-bottom: 40px; }
.sbkTi_table td{ padding-left: 30px;padding-right: 5px;}
.sbkTi_HomeText { text-align: justify; padding-bottom: 5px; }
.sbkTi_HomeText a:link { color:#000080; }
.sbkTi_HomeText A:hover { color:Blue; text-decoration:underline; }
.sbkTi_HomeText h2 { color:Gray; font-weight: bold; font-size: 1.2em; line-height:25px; }
.sbkTi_HomeText p { padding-left: 42px; }
.sbkTi_tblSubHeader{color:Gray; font-weight: bold; font-size: 1.0em;}






/** Class used for all administrative boxes which take focus */
.sbkMySobek_Focusable:focus { color:#0000a8; background-color: #fbf7b4; }