/**************************************************************************
**     SOBEKCM_Statistics.css                                                      
**                                                                      
**     This contains many of the default styles for the SobekCM Digital  
**     Repository used for displaying a single statistics within the system
**     including recent searches, item count, and usage.                                          
**                                                                       
**     DO NOT MAKE CHANGES TO THIS FILE!                                
**                                                                       
**     To make sweeping changes to the appearance, you should use       
**     the CSS in your web skin to OVERRIDE classes in this CSS.       
**                                                                       
**     New versions of the SobekCM repository arrive will have new  
**     versions of this file which will cause you to lose any changes
**     you made to this file. 
**                                                                 
**************************************************************************/    

#sbkShw_ViewSelectRow { text-align: center;}

#sbkShw_TitleDiv { position: relative; margin-left: auto; margin-right: auto; BORDER: #ccc 1px solid; padding: 0; FONT-SIZE: small; WIDTH: 750px; BACKGROUND-COLOR: #eee; white-space:nowrap; text-align:left; }
#sbkShw_TitleDiv h1 { FONT-SIZE: 1.4em; COLOR: #999; TEXT-ALIGN: left; height: 22px; margin-left: 25px; padding-top:6px; }

.sbkShw_MainText { font-size: 1.0em; text-align:left;width: 750px;margin-left: auto;margin-right: auto;}
.sbkShw_MainText a:link { COLOR: #009; TEXT-DECORATION: none; }
.sbkShw_MainText a:visited { COLOR: #009; TEXT-DECORATION: none; }
.sbkShw_MainText a:hover { COLOR: #009; TEXT-DECORATION: underline; }
.sbkShw_MainText h1  { font-weight: normal; text-align: center; font-size: 1.7em;  font-variant: small-caps; margin-top: 20px; margin-bottom: 0; }
.sbkShw_MainText h2  { font-weight:normal; font-size: 1.30em; font-variant: small-caps; width: 750px; background-color: #eee;  padding: 3px 3px 3px 10px; border: solid 1px #ccc; margin-top: 25px; }
.sbkShw_MainText h3  { font-weight: bold; font-size: 1.05em; margin-top: 15px; padding-left: 12px; }
.sbkShw_MainText p  { padding: 5px 15px 5px 25px; margin: 0 0 5px 0; }
.sbkShw_MainText ul  { margin-left: 25px; padding-left: 25px; }
.sbkShw_MainText ol { margin-left: 25px; padding-left: 25px; }

#sbkShw_RecentSearchesTbl { width:100%; border: 0; border-collapse:collapse; border-spacing: 0; }
#sbkShw_RecentSearchesTbl th { background-color: #0022a7;color: white;text-align: left; }
#sbkShw_RecentSearchesTbl td { text-align: left; }
.sbkShw_RecentSearchesRule { background-color: #e7e7e7; }

#sbkShw_OverallStatsTbl { width:100%; border: 0; border-collapse:collapse; border-spacing: 0; }
#sbkShw_OverallStatsTbl th { background-color: #0022a7;color: white;text-align: left; }
#sbkShw_OverallStatsTbl td { text-align: left; }
#sbkShw_OverallStatsTbl2 { width:100%; border: 0; border-collapse:collapse; border-spacing: 0; }
#sbkShw_OverallStatsTbl2 th { background-color: #0022a7;color: white;text-align: left; }
#sbkShw_OverallStatsTbl2 td { text-align: left; }
.sbkShw_OverallStatsRule { background-color: #e7e7e7; }
.sbkShw_OverallStatsNewYear { background-color: #7d90d5;color: white;font-weight: bold;}
.sbkShw_OverallStatsTotalRule { background-color: black; }
.sbkShw_OverallStatsTotalRow { font-weight: bold; }

#sbkShw_ItemCountTableFytd { margin-left:auto; margin-right:auto; text-align: center; border: 0; border-collapse:collapse;border-spacing: 0;font-size: 0.90em; }
#sbkShw_ItemCountTableFytd th { cursor: pointer; background-color: #0022a7;color: white;text-align: left; height: 20px; }
#sbkShw_ItemCountTableFytd td { text-align: left; }
#sbkShw_ItemCountTable { margin-left:auto; margin-right:auto; text-align: center; border: 0; border-collapse:collapse;border-spacing: 0;font-size: 0.90em; }
#sbkShw_ItemCountTable th { cursor: pointer; background-color: #0022a7;color: white;text-align: left;height: 20px;}
#sbkShw_ItemCountTable td { text-align: left; } 
#sbkShw_ItemCountTableArbitrary { margin-left:auto; margin-right:auto; text-align: center; border: 0; border-collapse:collapse;border-spacing: 0;font-size: 0.90em; }
#sbkShw_ItemCountTableArbitrary th { cursor: pointer; background-color: #0022a7;color: white;text-align: left;height: 20px;}
#sbkShw_ItemCountTableArbitrary td { text-align: left; } 
.sbkShw_ItemCountDimmed { color: #999999; }
.sbkShw_ItemCountHidden { color: #eeeeee; }
#sbkShw_ItemCountTotalRow { background-color: black;color: white;height: 20px;font-weight: bold;}

#sbkShw_AccessedItemsTbl { width: 700px; margin-left:auto; margin-right:auto; text-align: center; border: 0; border-collapse:collapse;border-spacing: 0; }
#sbkShw_AccessedItemsTbl tr { height: 24px; }
#sbkShw_AccessedItemsTbl th { cursor: pointer; background-color: #0022a7;color: white;text-align: left; height: 20px; }
#sbkShw_AccessedItemsTbl td { text-align: left; }
.sbkShw_AccessedItemsRight { text-align: right; }

#sbkShw_StatsByDateTable { margin-left:auto; margin-right:auto; text-align: center; border: 0; border-collapse:collapse;border-spacing: 0;font-size: 0.85em; }
#sbkShw_StatsByDateTable th { cursor: pointer; background-color: #0022a7;color: white;text-align: left; height: 20px; }
#sbkShw_StatsByDateTable td { text-align: left; }
.sbkShw_StatsByDateDimmed { color: #999999; }
#sbkShw_StatsByDateTotalRow { background-color: black;color: white;height: 20px;font-weight: bold;}

#sbkShw_CollectionHistoryTbl { width:100%; border: 0; border-collapse:collapse; border-spacing: 0; }
#sbkShw_CollectionHistoryTbl th { background-color: #0022a7;color: white;text-align: left; }
#sbkShw_CollectionHistoryTbl td { text-align: right; }
#sbkShw_CollectionHistoryTbl2 { width:100%; border: 0; border-collapse:collapse; border-spacing: 0; }
#sbkShw_CollectionHistoryTbl2 th { background-color: #0022a7;color: white;text-align: left; }
#sbkShw_CollectionHistoryTbl2 td { text-align: right; }
.sbkShw_CollectionHistoryRule { background-color: #e7e7e7; }
.sbkShw_CollectionHistoryNewYear { background-color: #7d90d5;color: white;font-weight: bold;}
.sbkShw_CollectionHistoryTotalRule { background-color: black; }
.sbkShw_CollectionHistoryTotalRow { font-weight: bold; }

.sbkShw_CollectionSelector { color: Blue; width: 500px; background-color: White; border-style:solid; border-width: 1px; border-color: #7f9db9; }
.sbkShw_CollectionSelector2 { color: Blue; width: 150px; background-color: White; border-style:solid; border-width: 1px; border-color: #7f9db9; }

.sbkShw_DateSelector { color: Blue; background-color: White; border-style:solid; border-width: 1px; border-color: #7f9db9; }

.sbkShw_RoundButton { background-color: #7d90d5; color: white; text-transform:uppercase; font-weight:bold; border-radius:25px; border: none; padding: 4px 10px 2px 10px; cursor: pointer; font-size: 1.1em; letter-spacing: 0.5px; }
.sbkShw_RoundButton:hover { background-color: #888888; -webkit-box-shadow: inset 0 0 9px 6px #6a6f75; box-shadow: inset 0 0 9px 6px #6a6f75; }


.sbkShw_smallinput { width: 120px; color: Blue; border-style:solid; border-width: 1px; border-color: #7f9db9; }
.sbkShw_smallinput_initial { width: 120px; color: Gray; font-style:italic; border-style:solid; border-width: 1px; border-color: #7f9db9; }