/**************************************************************************
**     SOBEKCM_QC.css                                                      
**                                                                      
**     This contains many of the default styles for the SobekCM Digital  
**     Repository used for the online Quality Control interface.                                            
**                                                                       
**     DO NOT MAKE CHANGES TO THIS FILE!                                
**                                                                       
**     To make sweeping changes to the appearance, you should use       
**     the CSS in your web skin to OVERRIDE classes in this CSS.       
**                                                                       
**     New versions of the SobekCM repository arrive will have new  
**     versions of this file which will cause you to lose any changes
**     you made to this file. 
**                                                                 
**************************************************************************/    

#sbkQc_GoToThumbnailDiv { float: right; display: inline; padding-right: 50px;padding-top: 7px; color: white; text-transform:uppercase; font-weight:bold;  }
#sbkQc_MenuRightActions { float: right; width: 310px; height: 33px; display: inline;  }
#sbkQc_BottomRow { text-align: right;height: 44px; }
#sbkQc_BottomRow textarea {margin-right: 20px; }
#sbkQC_BottomRowTextSpan { vertical-align: top; }

.qcContainerDivClass {
     overflow: scroll; 
     height: 650px;
     border-bottom: 1px white solid;
     background-color: #555555;
    -ms-scrollbar-track-color: #888888;
    -ms-scrollbar-face-color: #7d90d5;
    text-align: center;
    margin: 5px;
}

::-webkit-scrollbar {
    width: 15px;
    height: 0px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background-color: #888888;
}

::-webkit-scrollbar-track:horizontal {
    background-color: #333333;
    border: none;
    -webkit-box-shadow: none;
    height: 1px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #7d90d5;
}

  .qcpage { background-color: #b0c4de;padding: 10px; border: 1px solid  #a9a9a9; margin: 5px; border-radius:15px; -moz-border-radius:15px;}
  .qcfilename { color: #3c3c3c;font-size: 1.15em;font-weight: bold;}
  .qcthumbnails { border: 1px solid  #a9a9a9; }
  .paginationtext { color: #3c3c3c; }
  .divisiontext { color: #3c3c3c; }
  .namedDivisionText{ color: #3c3c3c; }

  .divisionbox_small { border: 1px solid  #a9a9a9;color: #3c3c3c;width: 110px; }
  .divisionbox_medium { border: 1px solid  #a9a9a9;color: #3c3c3c; width: 238px; }
  .divisionbox_large { border: 1px solid  #a9a9a9;color: #3c3c3c; width: 370px; }
  .divisionbox_full { border: 1px solid  #a9a9a9;color: #3c3c3c; width: 370px; }
  
  .pagebox_small { border: 1px solid  #a9a9a9;color: #3c3c3c;width: 110px; }
  .pagebox_medium { border: 1px solid  #a9a9a9;color: #3c3c3c; width: 238px; }
  .pagebox_large { border: 1px solid  #a9a9a9;color: #3c3c3c; width: 370px; }
  .pagebox_full { border: 1px solid  #a9a9a9;color: #3c3c3c; width: 370px; }

 .qcPageOptionsSpan{ float: right;  visibility: hidden;}
 .qcPageOptionsSpanHover{float:right; visibility: visible;}

.errorIconSpan{float:right; visibility: hidden;}
.errorIconSpanHover{float:right; visibility: visible;}

.pickMainThumbnailIcon{visibility: hidden; float:right;}
.pickMainThumbnailIconSelected{visibility: visible; float:right;}

.chkMoveThumbnailHidden{visibility: Hidden;}
.chkMoveThumbnailVisible{visibility: Visible;}

.movePageArrowIconHidden{ visibility: hidden;}
.movePageArrowIconVisible{ visibility: Visible;}

.spanQCIconsTopNavRow{float:right;}

.qcPickMainThumbnailCursor{cursor:url(http://ufdc.ufl.edu/default/images/thumbnail_cursor.cur),default;}
.qcMovePagesCursor{cursor:url(http://ufdc.ufl.edu/default/images/move_pages_cursor.cur),default;}
.qcDeletePagesCursor{cursor:url(http://ufdc.ufl.edu/default/images/delete_cursor.cur),default;}
.qcResetMouseCursorToDefault{cursor:default;}

.txtNamedDivHidden{ visibility: hidden;}
.txtNamedDivVisible{ visibility: visible;}

.qcDivMoveOnScroll {position: fixed; bottom: 95px; right: 40px;visibility: visible; }
.qcDivMoveOnScrollHidden{ position: fixed;bottom: 95px; right: 40px;visibility: hidden;}

.qcDivDeleteButton{position: fixed; bottom: 95px; right: 40px;visibility: visible;}
.qcDivDeleteButtonHidden{position: fixed;bottom: 95px;right: 40px;visibility: hidden;}

.displayTimeSaved{ color: #555555;font-size: 9pt;}

.popup_title { background-color: #0022a7; font-weight: bold; color: White; font-size: larger; padding: 6px 0px 6px 10px; -moz-border-radius-topleft: 7px;  -moz-border-radius-topright: 7px; }
.popup_title a { color: White; text-decoration: none; font-weight: bold; }
.popup_table { margin-left: 50px;margin-right: 50px; }

.qcmove_popup_div { position:fixed; background-color:#eeeeee; height:175px; z-index: 9999; FONT-FAMILY: Arial, sans-serif; font-size: small;  -moz-border-radius: 7px;color: #222222; } 

.btnMovePages {
	background-color:#ffab23;
    display:inline-block;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 16px;
	text-decoration:none;}
.btnMovePages:hover { background-color:#ffec64;}

.btnDeletePages {
  	background-color:#ffab23;
    display:inline-block;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 16px;
	text-decoration:none;  
}
.btnDeletePages:hover{ background-color: #ffec64;}


/* Code for the QC main menu */
/** CODE FOR THE STARFISH NAVIGATION MENU PLUG-IN  **/
/*** ESSENTIAL STYLES ***/

  
 
#selected-qc-menu-item 
{
    padding-top: 7px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration:none;
	background-color: #0021a6;
	margin-top: -2px;
	
}

.action-qc-menu-item
{
	padding-bottom: 6px;
	text-decoration:none;
	height: 33px;
	cursor: pointer;
	cursor: hand; 
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 11px;

}

.action-qc-menu-item:hover
{
    background-color: #888888;
}


.action-qc-menu-item img {
    vertical-align:bottom; 
} 

.action-qc-menu-item2
{
	padding-bottom: 6px;
	text-decoration:none;
	height: 33px;
	cursor: pointer;
	cursor: hand; 
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 11px;
}

.action-qc-menu-item2:hover
{
    background-color: #888888;
;
}

.action-qc-menu-item2 img {
    vertical-align: bottom;
    margin-top: 10px;
} 

.qc-menu-item {
    padding-top: 3px;
}

.qc_toolboximage {
    cursor: pointer;
	cursor: hand; 
}


.qc_mainbuttons {
    background-color: #7d90d5;
    color: white;
    text-transform:uppercase;
    font-weight:bold;
    border-radius:25px;
    border: none;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
	cursor: hand;
    font-size: 1.2em;
    letter-spacing: 0.5px;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: top;
    margin-top: 4px;
}

.qc_mainbuttons:hover {
    background-color: #888888;
    -webkit-box-shadow: inset 0 0 9px 6px #6a6f75;
	box-shadow: inset 0 0 9px 6px #6a6f75;
}

.qc_movebuttons { background-color: #7d90d5; color: white; text-transform:uppercase; font-weight:bold; border-radius:25px; border: none; padding: 6px 13px 6px 13px; cursor: pointer; font-size: 1.0em; letter-spacing: 0.5px; }
.qc_movebuttons:hover { background-color: #888888; -webkit-box-shadow: inset 0 0 9px 6px #6a6f75; box-shadow: inset 0 0 9px 6px #6a6f75; }