/* mapedit UI Layout: Contains structure of mapedit plugin. */

body
{
    overflow: hidden;
}

#mapedit_blanket
{
    margin: 0;
    padding: 0;
    color: #000000;
    background: #000000;
    opacity: 0.75;
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 5;
}

#mapedit_blanket_loading
{
    margin: 0;
    padding-top: 30%;
    text-align: center;
    /*color: #26466d;
background: #26466d;
opacity: 0.75;*/
    /*color: #000000;
background: #000000;
opacity: 0.75;*/
    background-image: url("images/mapedit/bg1.png");
    /*color: #FFFFFF;
    background: #FFFFFF;*/
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 999999;
}

#mapedit_container
{
    color: #000000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("images/mapedit/bg1.png");
}

#mapedit_container_pane_0
{
    display: none;
    height: 28px;
    background-color: #7d90d5; /*from SobekCM_ItemMenus.css > .sf-menu*/
}

.sf-menu
{
    margin-left: 10px; /*used to override SobekCM_ItemMenus.css > .sf-menu > margin-left:150px*/
}

.customSelectable
{
}

#mapedit_container_pane_1
{
    display: none;
    position: absolute;
    width: 100%;
    min-height: 46px;
    text-align: center;
    z-index: 2;
    -webkit-box-shadow: 0px 0px 2px 2px #000000;
    -moz-box-shadow: 0px 0px 2px 2px #000000;
    box-shadow: 0px 0px 2px 2px #000000;
    background-image: url("images/mapedit/bg1.png");
}

#mapedit_container_toolbar
{
    position: absolute;
    left: 50%;
    width: 1100px;
    margin-left: -575px;
}

.toolbar_grouping
{
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin: 4px 1px 4px 1px;
}

.mapedit_container_search
{
    display: inline-block;
}

#googleMap
{
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}

#mapedit_container_toolbarGrabber
{
    position: absolute;
    left: 50%;
    margin-left: -20px;
    margin-top: 48px;
    z-index: 4;
}

    #mapedit_container_toolbarGrabber:hover
    {
        cursor: pointer;
    }

#mapedit_container_message
{
    position: absolute;
    width: 200px;
    top: 5px;
    left: 50%;
    margin-left: -100px;
    z-index: 9999;
}
/*#mapedit_container_message {
    color: black;
    font-size: 11px;
    font-weight: bold;
	position:absolute;
    width: 200px;
    top: 5px;
    left: 50%;
    margin-left: -100px;
    text-align: center;
    z-index:99999;
    padding: 2px 2px 2px 2px;
	background-color:peachpuff;
	-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.5);
	box-shadow:0 2px 3px rgba(0,0,0,0.5);
	display:none;
}*/
/*#mapedit_container_message {
    color: #000000;
	position:fixed;
	z-index:2;
	width:200px;
	margin-top:50px;
	left:50%;
	margin-left:-100px;
	text-align:center;
	background-color:blanchedalmond;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
	display:none;
}*/
#mapedit_container_pane_2
{
    background-image: url("images/mapedit/bg1.png");
}

#mapedit_container_toolboxMinibar
{
    height: 15px;
    text-align: right;
    /*background-color: #ededed;*/
    border-radius: 25px;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
    margin-top: 3px;
    margin-bottom: 3px;
}

#mapedit_container_toolbox
{
    display: none;
    /*max-height:560px;*/
    width: 240px;
    float: left;
    position: absolute;
    z-index: 1;
    padding-bottom: 6px;
    /*padding: 3px;*/
    /*margin-left: 15px;
    margin-top: 200px;*/
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    border-radius: 10px;
}

#mapedit_container_toolboxTabs
{
    font-size: 11px;
}

.toolbox_tab-content
{
    height: 100%;
    width: 240px;
    text-align: center;
    padding: 5px 0 5px 0;
    /*margin-left: -20px;
    margin-right: -10px;*/
}

.tab-title
{
    font-size: 13px;
    border-radius: 0;
}

.tab
{
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.lineBreak
{
    clear: both;
    height: 5px;
}

#mapedit_container_grid
{
    padding-bottom: 5px;
}

    #mapedit_container_grid .x
    {
        float: left;
        width: 40px;
        height: 40px;
    }

    #mapedit_container_grid .y
    {
        clear: both;
    }

    #mapedit_container_grid .half
    {
        float: left;
        width: 20px;
        height: 20px;
    }

#mapedit_container_toolbox_tab1
{
    margin-left: 10px;
    margin-bottom: -5px;
}

#mapedit_container_toolbox_overlayTools
{
    display: inline-block;
    width: 150px;
}

#mapedit_container_toolbox_rotationButtons
{
    margin-left: 7px;
}

#debugs
{
    display: none;
    position: absolute;
    float: right;
    height: 100%;
    width: 200px;
    background-color: black;
    opacity: 0.7;
    z-index: 999999;
    color: whitesmoke;
    padding: 5px 5px 5px 5px;
    font-size: .8em;
}
