/**************************************************************************
**     SOBEKCM_Item.css                                                      
**                                                                      
**     This contains many of the default styles for the SobekCM Digital  
**     Repository used for displaying a single item within the system.                                          
**                                                                       
**     DO NOT MAKE CHANGES TO THIS FILE!                                
**                                                                       
**     To make sweeping changes to the appearance, you should use       
**     the CSS in your web skin to OVERRIDE classes in this CSS.       
**                                                                       
**     New versions of the SobekCM repository arrive will have new  
**     versions of this file which will cause you to lose any changes
**     you made to this file. 
**                                                                 
**************************************************************************/    


/******************************************************************************/
/** Styles used directly by the item viewer main class ( Item_HtmlSubwriter ) */
/******************************************************************************/

/** internal header ( Item_HtmlSubwriter ) */
#sbkIsw_Internalheader { font-family: Arial, Helvetica, sans-serif;	margin: 0; padding: 0; width: 100%; FONT-SIZE: small; text-align:left; background-color: #C0C0C0; color:#555555;border-collapse: collapse;border: none;}	
#sbkIsw_Internalheader h2 { color: White; font-size: 1.5em; font-weight: bold; padding: 0; margin: 0; }
#sbkIsw_Internalheader h2 a { color: White; }
.sbkIsw_intheader_button { height: 39px; padding: 0; vertical-align: middle; border: none; width: 119px;  cursor: pointer; margin-left: 5px; }
.hide_intheader_button2 { width: 81px; height: 25px; background: url("images/hide_internal_header2.png") no-repeat; }
.hide_intheader_button2:hover { background-position: 0 -25px; }
.show_intheader_button { width: 202px; height: 18px; background: url("images/show_internal_header.png") no-repeat; }
.show_intheader_button:hover { background-position: 0 -18px; }
.edit_metadata_button { width: 127px; background: url("images/edit_metadata.png") no-repeat;  }
.edit_metadata_button:hover { background-position: 0 -39px; }
.edit_behaviors_button { background: url("images/edit_behaviors.png") no-repeat; }
.edit_behaviors_button:hover { background-position: 0 -39px; }
.qualitycontrol_button { background: url("images/qc_button.png") no-repeat;  }
.qualitycontrol_button:hover { background-position: 0 -39px; }
.dark_resource_button_fixed { background: url("images/dark_resource.png") no-repeat; }
.public_resource_button { width:102px; background: url("images/public_resource.png") no-repeat;  }
.public_resource_button:hover { background-position: 0 -39px; }
.public_resource_button_fixed { width:102px; background: url("images/public_resource.png") no-repeat; }
.restricted_resource_button { background: url("images/restricted_resource.png") no-repeat;  }
.restricted_resource_button:hover { background-position: 0 -39px; }
.restricted_resource_button_fixed { background: url("images/restricted_resource.png") no-repeat;  }
.private_resource_button { width:102px; background: url("images/private_resource.png") no-repeat; }
.private_resource_button:hover { background-position: 0 -39px; }
.private_resource_button_fixed { width:102px; background: url("images/private_resource.png") no-repeat; }
.view_worklog_button { background: url("images/view_work_log.png") no-repeat; }
.view_worklog_button:hover { background-position: 0 -39px; }
.manage_files_button { background: url("images/file_management.png") no-repeat; }
.manage_files_button:hover { background-position: 0 -39px; }
.delete_button { width: 97px; background: url("images/delete_item.png") no-repeat;  }
.delete_button:hover { background-position: 0 -39px; }
textarea.intheader_comments_input  {  color:Blue;  border-style:solid; border-width: 1px; border-color: #7f9db9; FONT-FAMILY: Arial, sans-serif; font-size: small; }
textarea.intheader_comments_input_focused  {  color:#0000a8; background-color: #fbf7b4; border-style:solid; border-width: 1px; border-color: #7f9db9; FONT-FAMILY: Arial, sans-serif; font-size: small; }
.add_volume_button { background: url("images/add_volume.png") no-repeat; }
.add_volume_button:hover { background-position: 0 -39px; }
.autofill_volumes_button { background: url("images/autofill_volumes.png") no-repeat; }
.autofill_volumes_button:hover { background-position: 0 -39px; }
.serial_hierarchy_button { width: 126px; background: url("images/edit_hierarchy.png") no-repeat; }
.serial_hierarchy_button:hover { background-position: 0 -39px; }
.mass_update_button { width: 141px; background: url("images/mass_update.png") no-repeat; }
.mass_update_button:hover { background-position: 0 -39px; }
#internal_notes_div
{
	margin-left: auto;
	margin-right: auto;
}

/** title bar ( Item_HtmlSubwriter ) */
#sbkIsw_Titlebar { width: 100%; background-color: #333333; padding: 4px 0 0 0; font-weight:bold; text-align:center; color:White;font-size: 0.90em; }
#sbkIsw_Titlebar h1  { font-size: 1.25em; padding: 0 0 4px 0; margin: 0; line-height: 1.25em;font-weight: bold; }
#sbkIsw_Titlebar a:link { color: cornflowerblue; }
#sbkIsw_Titlebar a:visited { color: cornflowerblue; }
#sbkIsw_Titlebar a:hover { color: cornflowerblue; text-decoration: underline; }

/** left navigation bar general styles ( Item_HtmlSubwriter ) */
#sbkIsw_Leftnavbar { background-color: #333333; padding: 0; MARGIN-RIGHT: 5px;  text-align: left; width: 185px; margin-top: 0;  float:left; font-size: 0.80em; box-shadow: 0 0 0 Black; box-shadow: 2px 2px 6px rgba(0,0,0,.2); }
#sbkIsw_Leftnavbar_hack { background-color: #333333; padding: 0; MARGIN-RIGHT: 5px;  text-align: left; width: 210px; margin-top: 0;  float:left; font-size: 0.80em; box-shadow: 0 0 0 Black; box-shadow: 2px 2px 6px rgba(0,0,0,.2); }
.sbkIsw_ShowTocRow  {  padding-top: 3px; padding-bottom: 6px; text-align:left;  background-color: #7d90d5;color: white;  text-transform:uppercase; font-weight:bold; font-size: 0.90em; width: 100%; }
.sbkIsw_ShowTocRow:hover { background-color: #888888; }
.sbkIsw_ShowTocRow a { text-decoration: none; color: white; }
.sbkIsw_DownTOC { padding-left: 4px; width: 187px; position: relative; }
.sbkIsw_DownTOC img { vertical-align: bottom; padding-left: 3px; opacity: 0.50; } 
.sbkIsw_UpToc { padding-left: 4px; position: relative; width: 187px; }
.sbkIsw_UpToc img { vertical-align: bottom; padding-left: 3px; opacity: 0.50; } 
#sbkIsw_Wordmarks { margin-top: 30px; }
#sbkIsw_Wordmarks img {  padding: 10px 30px 10px 30px; border:0; }
#sbkIsw_NoWordmarks { margin-top: 30px;height: 250px; }
UL.sbkIsw_NavBarMenu { PADDING: 0; MARGIN: 0; WIDTH: 100%; WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none; background-color: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif;}
.sbkIsw_NavBarHeader { padding: 5px 10px 0 5px; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: White; WHITE-SPACE: nowrap; LETTER-SPACING: 1px; background-color: #333333; }
.sbkIsw_NavBarMenuNonLink { FONT-SIZE: 0.7em; text-align: center;  PADDING-BOTTOM: 0; WIDTH: 100%; COLOR: White; TEXT-DECORATION: none; BACKGROUND-COLOR: #333333; }

/** table of contents in left navigation bar ( Item_HtmlSubwriter ) */
.sbkIsw_TocTreeView { FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: Blue; WIDTH: 100%; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #444444; text-decoration:none; }
.sbkIsw_SelectedTocTreeViewItem  { text-decoration: none; color: #FFD700;  }
.sbkIsw_TocTreeView A { text-decoration: none; color:White;  }
.sbkIsw_TocTreeView A:visited { text-decoration: none; color:White;  }
.sbkIsw_TocTreeView A:hover { color: #7d90d5; }

/** main item viewer area and page selection tools ( Item_HtmlSubwriter ) */
#sbkIsw_DocumentDisplay { background-color: #333333; margin-bottom: 2px; margin-left:auto; margin-right:auto; margin-top: 5px; font-size: 0.8em; box-shadow: 2px 2px 6px rgba(0,0,0,.2); color: white; }
#sbkIsw_DocumentDisplay2 { background-color: #333333; margin-bottom: 2px; margin-left:10px; margin-right:10px; margin-top: 5px; font-size: 0.8em; box-shadow: 2px 2px 6px rgba(0,0,0,.2); color: white; }
#sbkIsw_DocumentNonWindowed { font-size: 0.8em; background-color: #333333; color: white; padding: 0; margin: 0; border-collapse: collapse; border: none; }
#sbkIsw_RestrictedRow { text-align: center;background-color: #cccccc;height: 50px;vertical-align: middle;color: #222222; }
.sbkIsw_PageNavBar { background-color: #333333; padding: 6px 20px 3px 20px;  HEIGHT: 25px; TEXT-ALIGN: center; color:#222; font-weight: bold;border: 0; }
.sbkIsw_PageNavBar2 { margin: 3px 20px 0 20px;  HEIGHT: 20px; TEXT-ALIGN: center; color:#222; font-weight: bold; }
.sbkIsw_PageNavBar select { background-color: #777777; color: white; border: none; }
.sbkIsw_PageNavBar2 select { background-color: #777777; color: white; border: none; }
.sbkIsw_LeftPaginationButtons { float: left; }
.sbkIsw_RightPaginationButtons { float: right; height: 25px; }
#sbkIsw_GoToSpan { color: white; }
.sbkIsw_PageLinks { text-align: center; font-weight: bold; color: #C35817; font-size: 1.3em; }
.sbkIsw_PageLinks a:link { color: White; font-size: 0.80em; }
.sbkIsw_PageLinks a:visited { color: White; font-size: 0.80em; }
.sbkIsw_PageLinks a:hover { color: #FF0000; font-size: 0.80em; }
.sbkIsw_CheckOutRequired { color: gray; font-size: 0.8em; }
#sbkIsw_BottomPadding { background:#555555;height: 0; }
.sbkIsw_RoundButton { background-color: #7d90d5; color: white; text-transform:uppercase; font-weight:bold; border-radius:25px; border: none; padding: 3px 10px 3px 10px; cursor: pointer; font-size: 0.85em; letter-spacing: 0.5px; }
.sbkIsw_RoundButton:hover { background-color: #888888; -webkit-box-shadow: inset 0 0 9px 6px #6a6f75; box-shadow: inset 0 0 9px 6px #6a6f75; }

/* RELATED_IMAGES_ITEMVIEWER (Thumbnails) */
#sbkRi_Thumbnailsizeselect img { vertical-align:top;text-align:center; padding: 2px; margin: 2px; }
#sbkRi_Thumbnailsizeselect a img:hover { background-color: #888888; }
.sbkRi_Thumbnail { border-radius: 5px; background-color: #333333; pointer-events: all; display:inline-block; text-align:center; padding:4px;font-size: 0.80em;color: white; }
.sbkRi_Thumbnail:hover { background-color: #888888; }

/* JPEG_ITEMVIEWER (Standard Page View) */
#sbkJiv_Image { text-align: center; }
#sbkJiv_ImageZoomable { text-align: center; font-size: 0.90em; color: #aaaaaa; }
#sbkJiv_ImageZoomable img { text-align: center; cursor:url(http://ufdc.ufl.edu/default/images/zoom_tool.cur), pointer; border: none; }

/* AWARE_JP2_ITEMVIEWER ( Aware Zoomable ) */
#sbkAj2_Thumb { border:none; }
#sbkAj2_ThumbZoomedIn { border-width:2px;border-color:Blue; cursor: pointer; }
#sbkAj2_ImageTd { text-align: center; }
.sbkAj2_Image { border-color: black;border-width: 1px; }

/* CITATION_ITEMVIEWER */
#sbkCiv_Citation { BORDER-WIDTH: 0;COLOR: #222222; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; font-size: 0.9em; }
#sbkCiv_MarcAutoGenerated {  color: green; text-align: center;  }
.sbkCiv_StatsTable { font-size: 0.95em ;border: none;  border-collapse: collapse;padding-left: 0;margin-left: 0;}
.sbkCiv_StatsTableHeaderRow { text-align: left; background-color: #0022a7; }
.sbkCiv_StatsTable th { color: white; text-transform: uppercase; }
.sbkCiv_StatsTable tr { text-align: center; }
.sbkCiv_StatsTableYearRow { background-color: #7d90d5; font-weight: bold; color: white; text-transform: uppercase; }
.sbkCiv_StatsTableRowSeperator { background-color: #e7e7e7; }
.sbkCiv_StatsTableFinalSeperator { background-color: black; }
#sbkCiv_StatsTableTotalRow {text-align: center; font-weight: bold; }
.sbkCiv_CitationSection { border: none; width: 100%; background-color: white;line-height: 120%;padding-bottom: 15px;padding-left: 15px; }
.sbkCiv_CitationSection td { padding-top: 5px;padding-bottom: 5px; }
.sbkCiv_CitationSection h2 { color: #999999;font-size: 1.0em; }
.sbkCiv_Label { vertical-align:top;font-weight:bold;padding-left: 20px; }
.sbkCiv_TextHighlight { background:yellow; font-weight:bold; }
.sbCiv_DownloadSection { padding-bottom: 25px; }
.sbCiv_DownloadSection p { padding-left: 40px;padding-right: 30px; }

/** DOWNLOAD_ITEMVIEWER (For any downloads related to the resource) */
#sbkDiv_MainArea { width: 100%; COLOR: #222222; BACKGROUND-COLOR: #ffffff;}
#sbkDiv_MainArea h2 { font-size: 1.1em;font-weight: bold;padding: 15px 0 0 50px;  }
#sbkDiv_MainArea p { padding-left: 75px;padding-right: 50px; }
#sbkDiv_Downloads { padding: 25px 0 100px 100px; }
#sbkDiv_Aerials { padding-left: 100px;width: 100%; }

/** EMBEDDEDVIDEO_ITEMVIEWER */
#sbkEmv_ViewerTitle { padding: 5px 0 5px 35px; FONT-SIZE: 1.4em; COLOR: #999; TEXT-ALIGN: left; font-weight: bold; }
#sbkEmv_MainArea { text-align: center; background-color: #333333; }
#sbkEmv_MainArea iframe { display: block;text-align: center; margin: 0 auto;}

/** FLASH_ITEMVIEWER */
#sbkFiv_ViewerTitle { padding: 5px 0 5px 35px; FONT-SIZE: 1.4em; COLOR: #999; TEXT-ALIGN: left; font-weight: bold; }
#sbkFiv_MainArea { text-align: center; background-color: #333333; }

/* JPEG2000_ITEMVIEWER */
#sbkJp2_Container { width: 800px;height: 600px;background-color: black;border: 1px solid black;color: white; }
#sbkJp2_Navigator { width:145px; height: 95px; }

/* PDF_ITEMVIEWER */
#sbkPdf_MainArea { text-align: left; }
#sbkPdf_MainArea a:link { text-decoration: none; color: cornflowerblue; }
#sbkPdf_MainArea a:visited { text-decoration: none; color: cornflowerblue; }
#sbkPdf_MainArea a:hover { text-decoration: underline; color: white; }
#sbkPdf_DownloadFileLink { margin-left: 50px; }
#sbkPdf_Container {width: 600px;height: 700px; }

/* TEXT_ITEMVIEWER */
#sbkTiv_MainArea { text-align: left; display: block; white-space: pre;background-color: white;color: #222222;padding-left: 50px;padding-right: 50px; font-family: "Courier New", Arial, Serif;}
#sbkTiv_ErrorArea {font-size: 1.2em;font-weight: bold; text-align: center;padding: 100px 50px 100px 50px;color: #aaaaaa; }
.sbkTiv_TextHighlight { background:yellow; font-weight:bold; }

/* TEXT_SEARCH_ITEMVIEWER */
input.sbkTsv_SearchBox  {  color: Blue;  width: 220px;  background-color: White; border-style:solid; border-width: 1px; border-color: #7f9db9; }
input.sbkTsv_SearchBox_focused  {  color: #0000a8;  width: 220px;  background-color: #fbf7b4; border-style:solid; border-width: 1px; border-color: #7f9db9; }
.sbkTsv_ResultsArea { background-color: White; }
.sbkTsv_ResultsArea h2 { FONT-SIZE: 1.25em; COLOR: #999; TEXT-ALIGN: left;padding-left: 25px; }
#sbkTsv_ResultsTable { text-align: center;width: 100%; border-collapse:separate; border-spacing: 15px;background-color: white;color: #222222; }
#sbkTsv_HorizontalLine { width:100%; color:#dddddd;background-color: #dddddd; } 
#sbkTsv_CurrentSearch { width: 600px;padding: 5px 0 12px 0; }
#sbkTsv_CurrentSearch a:link { color: cornflowerblue; }
#sbkTsv_CurrentSearch a:visited { color: cornflowerblue; }
#sbkTsv_CurrentSearch a:hover { color: cornflowerblue; }
.sbkTsv_ResultNumber { width:5px;vertical-align:top;font-weight:bold; }
.sbkTsv_ResultsLink { font-weight: bold; }
.sbkTsv_Thumbnail { border: 1px solid blue; }
.sbkTsv_HighlightText { background-color:Yellow;font-weight: bold; }
#sbkTsv_QuickTips { PADDING: 0; FONT-SIZE: 1.0em; MARGIN: 0 0 0 15px; COLOR: #314384; text-align:left; }
#sbkTsv_QuickTips H3 { display: inline; FONT-SIZE: 1.0em; font-weight: bold;padding: 0;margin: 0; }
#sbkTsv_QuickTips P { PADDING: 0 0 6px 0; MARGIN: 0 0 0 10px; COLOR: black; }
#sbkTsv_QuickTips LI { padding:3px 0 4px 25px; LIST-STYLE-POSITION: outside; BACKGROUND: url( images/pointer_blue.gif) no-repeat 15px 7px; MARGIN-BOTTOM: 7px; LINE-HEIGHT: 16px; LIST-STYLE-TYPE: none; }
.sbkTsv_Bold { font-weight: bold; }
.sbkTsv_BoldItalic { font-weight: bold;font-style: italic; }
.sbkTsv_Italic { font-style: italic; }

/* MULTIVOLUMES_ITEMVIEWER */
#sbkMviv_ViewerTitle { padding: 5px 0 5px 35px; FONT-SIZE: 1.4em; COLOR: #999; TEXT-ALIGN: left; font-weight: bold; }
#sbkMviv_MainArea { BORDER-WIDTH: 0;COLOR: #222222; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; font-size: 0.9em; }
#sbkMviv_ThumbnailsArea { BORDER-WIDTH: 0; TEXT-ALIGN: center; font-size: 0.9em; }
.sbkMviv_Thumbnail { border-radius: 5px; background-color: #333333; pointer-events: all; display:inline-block; text-align:center; padding:4px;font-size: 0.80em;color: white; }
.sbkMviv_Thumbnail:hover { background-color: #888888; }
#sbkMviv_ThumbnailCurrent { font-weight: bold;font-style: italic;background-color: #6f6b06; }
.sbkMviv_Tree { padding: 20px 0 20px 40px; width: 600px; }
#sbkMviv_TableGroupTitle { font-weight: bold; }
#sbkMviv_TreeSelectedNode { font-style: italic; }
.sbkMviv_TreeDarkNode { background-color: black;color: white; }
.sbkMviv_TreePrivateNode { color: #555555; }
.sbkMviv_TreeRestrictedNode { font-style: normal; }
#sbkMviv_Table { border: none; border-collapse:collapse; width:750px; }
#sbkMviv_Table td { padding: 5px; }
#sbkMviv_TableHeaderRow { text-align: left;background-color: #0022a7;color: white;height: 25px; }
#sbkMviv_Table th { text-align: left;padding-left: 6px; }
.sbkMviv_TablePrivateItem { font-style: italic; }
.sbkMviv_TablePublicItem { font-style: normal; }
.sbkMviv_TableRestrictedItem { font-style: italic; }
.sbkMviv_TableRowSeperator { background-color: #e7e7e7; }
#sbkMviv_RelatedTitles { width: 650px; }
#sbkMviv_RelatedTitled td { padding: 5px; }
.sbkMviv_RelatedTitlesRelation { width:150px; vertical-align:top; font-weight:bold; }

/* TRACKING_ITEMVIEWER */
.sbkTrk_ViewerTitle { padding: 5px 0 5px 35px; FONT-SIZE: 1.4em; COLOR: #999; TEXT-ALIGN: left; font-weight: bold; }
.sbkTrk_MainArea { BORDER-WIDTH: 0;COLOR: #222222; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; font-size: 0.9em; }

/* EAD-SPECIFIC ITEM STYLES ( EAD_DESCRIPTION_ITEMVIEWER, EAD_CONTAINER_LIST_ITEMVIEWER, EAD TOC) */
#sbkEad_ViewerTitle { padding: 5px 0 5px 35px; FONT-SIZE: 1.4em; COLOR: #999; TEXT-ALIGN: left; font-weight: bold; }
#sbkEad_MainArea { BORDER-WIDTH: 0;COLOR: #222222; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; font-size: 0.9em;padding: 25px; margin: 0;}
#sbkEad_FloatingTOC { position:fixed; z-index:100; width: 184px; padding-bottom: 100px; }
.sbkEad_TocHeader { padding: 5px 10px 5px 5px; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: White; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; LETTER-SPACING: 1px; vertical-align: text-top; }
.sbkEad_TocHeader A:link { display:inline; background: #333333;  }
.sbkEad_TocHeader A:hover { display:inline; background: #333333; }
.sbkEad_TocHeader A:visited { display:inline; background: #333333;  }
UL.sbkEad_TocMenu { padding: 0;margin: 0; WIDTH: 100%; WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none; }
UL.sbkEad_TocMenu LI A { PADDING-BOTTOM: 2px; PADDING-TOP: 4px; DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 0.85em; WIDTH: 100%; TEXT-INDENT: 15px; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap;TEXT-DECORATION: none;color: white;background-color: #555555; }
UL.sbkEad_TocMenu LI A:hover { BACKGROUND-COLOR: #eeeeee; color:Black; }

/* RESTRICTED_ITEMVIEWER */
#sbkRes_MainArea {padding-left: 50px;padding-right: 50px; }
#sbkRes_MainArea a { color: #9cdcfe; }
#sbkRes_MainArea a:visited { color: #9cdcfe; }
#sbkRes_MainArea a:hover { text-decoration:underline; }

.fadeEffect { background-color: #6f6b06; border-radius: 5px; pointer-events: all; display:inline-block; text-align:center; padding:4px;font-size: 0.80em;color: white;  }