/* mapedit Other: Contains all other css for mapedit plugin */

/*menubar*/

#content_menubar_save
{
    background: url("images/mapedit/button-save.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_cancel
{
    background: url("images/mapedit/button-cancel.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_reset
{
    background: url("images/mapedit/button-reset.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_header2Sub1
{
    padding-left: 35px;
}

#content_menubar_toggleMapControls
{
    background: url("images/mapedit/button-toggleMapControls.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_toggleToolbar
{
    background: url("images/mapedit/button-toggleToolbar.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_toggleToolbox
{
    background: url("images/mapedit/button-toggleToolbox.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_header2Sub2
{
    padding-left: 35px;
}

#content_menubar_layerRoadmap
{
    background: url("images/mapedit/button-layerRoadmap.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_layerSatellite
{
    background: url("images/mapedit/button-layerSatellite.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_layerHybrid
{
    background: url("images/mapedit/button-layerHybrid.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_layerTerrain
{
    background: url("images/mapedit/button-layerTerrain.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_layerCustom
{
    background: url("images/mapedit/button-layerCustom.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_layerReset
{
    background: url("images/mapedit/button-layerReset.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_header2Sub3
{
    padding-left: 35px;
}

#content_menubar_zoomIn
{
    background: url("images/mapedit/button-zoomIn.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_zoomOut
{
    background: url("images/mapedit/button-zoomOut.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_zoomReset
{
    background: url("images/mapedit/button-zoomReset.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_header2Sub4
{
    padding-left: 35px;
}

#content_menubar_panUp
{
    background: url("images/mapedit/button-panUp.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_panRight
{
    background: url("images/mapedit/button-panRight.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_panDown
{
    background: url("images/mapedit/button-panDown.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_panLeft
{
    background: url("images/mapedit/button-panLeft.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_panReset
{
    background: url("images/mapedit/button-panReset.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_header3Sub1
{
    background: url("images/mapedit/button-search.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_searchButton
{
    background-image: url("images/mapedit/search.png");
}

#content_menubar_manageItem
{
    background: url("images/mapedit/button-manageItem.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_itemGetUserLocation
{
    background: url("images/mapedit/button-itemGetUserLocation.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_itemPlace
{
    background: url("images/mapedit/button-itemPlace.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_useSearchAsLocation
{
    background: url("images/mapedit/button-useSearchAsLocation.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_convertToOverlay
{
    background: url("images/mapedit/button-convertToOverlay.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_itemReset
{
    background: url("images/mapedit/button-itemReset.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_manageOverlay
{
    background: url("images/mapedit/button-manageOverlay.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_overlayGetUserLocation
{
    background: url("images/mapedit/button-overlayGetUserLocation.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_overlayEdit
{
    background: url("images/mapedit/button-overlayEdit.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_overlayPlace
{
    background: url("images/mapedit/button-overlayPlace.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_overlayToggle
{
    background: url("images/mapedit/button-overlayToggle.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_header3Sub3Sub1
{
    background: url("images/mapedit/button-overlayRotate.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_rotationClockwise
{
    background: url("images/mapedit/button-rotationClockwise.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_rotationCounterClockwise
{
    background: url("images/mapedit/button-rotationCounterClockwise.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_rotationReset
{
    background: url("images/mapedit/button-rotationReset.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_header3Sub3Sub2
{
    background: url("images/mapedit/button-overlayTransparency.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_transparencyDarker
{
    background: url("images/mapedit/button-transparencyDarker.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_transparencyLighter
{
    background: url("images/mapedit/button-transparencyLighter.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_transparencyReset
{
    background: url("images/mapedit/button-transparencyReset.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_overlayReset
{
    background: url("images/mapedit/button-overlayReset.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_managePOI
{
    background: url("images/mapedit/button-managePOI.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_poiGetUserLocation
{
    background: url("images/mapedit/button-poiGetUserLocation.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_poiPlace
{
    background: url("images/mapedit/button-poiPlace.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_poiToggle
{
    background: url("images/mapedit/button-poiToggle.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_poiReset
{
    background: url("images/mapedit/button-poiReset.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_header3Sub4Sub1
{
    background: url("images/mapedit/button-base.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_poiMarker
{
    background: url("images/mapedit/button-poiMarker.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_poiCircle
{
    background: url("images/mapedit/button-poiCircle.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_poiRectangle
{
    background: url("images/mapedit/button-poiRectangle.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_poiPolygon
{
    background: url("images/mapedit/button-poiPolygon.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_poiLine
{
    background: url("images/mapedit/button-poiLine.png") no-repeat 5px;
    padding-left: 35px;
    -webkit-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -moz-background-size: 25px 25px;
    background-size: 25px 25px;
}

#content_menubar_documentation
{
    padding-left: 35px;
}

#content_menubar_reportAProblem
{
    padding-left: 35px;
}

/*toolbar*/

#content_toolbar_button_reset
{
    background-image: url("images/mapedit/button-reset.png");
}

#content_toolbar_button_toggleMapControls
{
    background-image: url("images/mapedit/button-controls.png");
}

#content_toolbar_button_toggleToolbox
{
    background-image: url("images/mapedit/button-toolbox.png");
}

#content_toolbar_button_layerRoadmap
{
    background-image: url("images/mapedit/button-roadmap.png");
}

#content_toolbar_button_layerTerrain
{
    background-image: url("images/mapedit/button-terrain.png");
}

#content_toolbar_button_layerSatellite
{
    background-image: url("images/mapedit/button-satellite.png");
}

#content_toolbar_button_layerHybrid
{
    background-image: url("images/mapedit/button-hybrid.png");
}

#content_toolbar_button_layerCustom
{
    background-image: url("images/mapedit/button-blockLot.png");
}

#content_toolbar_button_layerReset
{
    background-image: url("images/mapedit/button-layerReset.png");
}

#content_toolbar_button_panUp
{
    background-image: url("images/mapedit/button-panUp.png");
}

#content_toolbar_button_panLeft
{
    background-image: url("images/mapedit/button-panLeft.png");
}

#content_toolbar_button_panReset
{
    background-image: url("images/mapedit/button-panReset.png");
}

#content_toolbar_button_panRight
{
    background-image: url("images/mapedit/button-panRight.png");
}

#content_toolbar_button_panDown
{
    background-image: url("images/mapedit/button-panDown.png");
}

#content_toolbar_button_zoomIn
{
    background-image: url("images/mapedit/button-zoomIn.png");
}

#content_toolbar_button_zoomReset
{
    background-image: url("images/mapedit/button-zoomReset2.png");
}

#content_toolbar_button_zoomOut
{
    background-image: url("images/mapedit/button-zoomOut.png");
}

#content_toolbar_button_manageItem
{
    background-image: url("images/mapedit/button-action1.png");
}

#content_toolbar_button_manageOverlay
{
    background-image: url("images/mapedit/button-action2.png");
}

#content_toolbar_button_managePOI
{
    background-image: url("images/mapedit/button-action3.png");
}

#content_toolbar_button_search
{
    background-image: url("images/mapedit/button-search.png");
}

#content_toolbar_searchField
{
}

#content_toolbar_searchButton
{
    background-image: url("images/mapedit/search.png");
}

#content_toolbarGrabber
{
    display: none;
    background-image: url("images/mapedit/toolbar-toggle.png");
    background-repeat: no-repeat;
    min-height: 10px;
    min-width: 40px;
}

#content_minibar_icon
{
    float: left;
    background-image: url("images/mapedit/toolbox-icon.png");
    background-repeat: no-repeat;
    height: 15px;
    width: 28px;
}

#content_minibar_header
{
    float: left;
    height: 15px;
    font: 12px 'Arial Black', Gadget, sans-serif;
}

#content_minibar_button_minimize
{
    float: right;
    background-image: url("images/mapedit/toolbox-minimize2.png");
    background-repeat: no-repeat;
    height: 19px;
    width: 19px;
}

#content_minibar_button_maximize
{
    float: right;
    background-image: url("images/mapedit/toolbox-maximize2.png");
    background-repeat: no-repeat;
    height: 19px;
    width: 19px;
}

#content_minibar_button_close
{
    float: right;
    background-image: url("images/mapedit/toolbox-close2.png");
    background-repeat: no-repeat;
    height: 19px;
    width: 19px;
}

#content_minibar_button_minimize:hover
{
    cursor: pointer;
}

#content_minibar_button_maximize:hover
{
    cursor: pointer;
}

#content_minibar_button_close:hover
{
    cursor: pointer;
}

#content_toolbox_button_reset
{
    background-image: url("images/mapedit/button-reset.png");
}

#content_toolbox_button_toggleMapControls
{
    background-image: url("images/mapedit/button-controls.png");
}

#content_toolbox_button_toggleToolbox
{
    background-image: url("images/mapedit/button-toolbox.png");
}

#content_toolbox_button_layerRoadmap
{
    background-image: url("images/mapedit/button-roadmap.png");
}

#content_toolbox_button_layerTerrain
{
    background-image: url("images/mapedit/button-terrain.png");
}

#content_toolbox_button_layerSatellite
{
    background-image: url("images/mapedit/button-satellite.png");
}

#content_toolbox_button_layerHybrid
{
    background-image: url("images/mapedit/button-hybrid.png");
}

#content_toolbox_button_layerCustom
{
    background-image: url("images/mapedit/button-blockLot.png");
}

#content_toolbox_button_layerReset
{
    background-image: url("images/mapedit/button-layerReset.png");
}

#content_toolbox_button_panUp
{
    background-image: url("images/mapedit/button-panUp.png");
}

#content_toolbox_button_panLeft
{
    background-image: url("images/mapedit/button-panLeft.png");
}

#content_toolbox_button_panReset
{
    background-image: url("images/mapedit/button-panReset.png");
}

#content_toolbox_button_panRight
{
    background-image: url("images/mapedit/button-panRight.png");
}

#content_toolbox_button_panDown
{
    background-image: url("images/mapedit/button-panDown.png");
}

#content_toolbox_button_zoomIn
{
    background-image: url("images/mapedit/button-zoomIn.png");
}

#content_toolbox_button_zoomReset
{
    background-image: url("images/mapedit/button-zoomReset2.png");
}

#content_toolbox_button_zoomOut
{
    background-image: url("images/mapedit/button-zoomOut.png");
}

#content_toolbox_button_manageItem
{
    background-image: url("images/mapedit/button-action1.png");
}

#content_toolbox_button_manageOverlay
{
    background-image: url("images/mapedit/button-action2.png");
}

#content_toolbox_button_managePOI
{
    background-image: url("images/mapedit/button-action3.png");
}

#content_toolbox_searchButton
{
    background-image: url("images/mapedit/search.png");
}

#content_message
{
    /*something*/
}

.message
{
    text-align: center;
    color: black;
    font-size: 11px;
    font-weight: bold;
    z-index: 99999;
    padding: 2px 2px 2px 2px;
    margin: 2px 0 2px 0;
    background-color: peachpuff;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    display: none;
}

#content_toolbox_button_itemGetUserLocation
{
    background-image: url("images/mapedit/getUserLocation.png");
}

#content_toolbox_button_useSearchAsLocation
{
    background-image: url("images/mapedit/button-search.png");
}

#content_toolbox_button_convertToOverlay
{
    background-image: url("images/mapedit/button-action2.png");
}

#content_toolbox_button_overlayGetUserLocation
{
    background-image: url("images/mapedit/getUserLocation.png");
}

#content_toolbox_button_poiGetUserLocation
{
    background-image: url("images/mapedit/getUserLocation.png");
}

#content_toolbox_button_placeItem
{
    background-image: url("images/mapedit/button-action1.png");
}

#content_toolbox_button_overlayPlace
{
    background-image: url("images/mapedit/button-base.png");
}

#content_toolbox_button_overlayEdit
{
    background-image: url("images/mapedit/button-action2.png");
}

#content_toolbox_button_overlayToggle
{
    background-image: url("images/mapedit/button-base.png");
}

#content_toolbox_button_placePOI
{
    background-image: url("images/mapedit/button-action3.png");
}

#content_toolbox_button_poiToggle
{
    background-image: url("images/mapedit/button-base.png");
}

#content_toolbox_rotationCounterClockwise
{
    background-image: url("images/mapedit/rotation-counterClockwise.png");
    height: 25px;
    width: 17px;
    float: left;
}

#content_toolbox_rotationReset
{
    background-image: url("images/mapedit/rotation-reset.png");
    height: 29px;
    width: 28px;
    float: left;
}

#content_toolbox_rotationClockwise
{
    background-image: url("images/mapedit/rotation-clockwise.png");
    height: 25px;
    width: 17px;
    float: left;
}

#content_toolbox_button_poiMarker
{
    background-image: url("images/mapedit/button-drawMarker.png");
}

#content_toolbox_button_poiCircle
{
    background-image: url("images/mapedit/button-drawCircle.png");
}

#content_toolbox_button_poiRectangle
{
    background-image: url("images/mapedit/button-drawRectangle.png");
}

#content_toolbox_button_poiPolygon
{
    background-image: url("images/mapedit/button-drawPolygon.png");
}

#content_toolbox_button_poiLine
{
    background-image: url("images/mapedit/button-drawLine.png");
}
