@charset "UTF-8";
/* CSS Document */

#text-only
{
	display: none;
}

.logo
{
	display: none;
}

.firstLinks
{
	display:none;
}

.tab_image
{
	display: none;
}

.ViewsBrowsesRow
{
	padding-top: 20px;	
}

.homePageCollectionButtonLeft2
{ 
	display: none;
}

.tab
{
	padding-left: 10px;
	padding-right: 10px;
}

#UfdcWordmarkImage
{
	display: none;
}

#BasicSearchPanel
{
	width: 300px; margin-top: 30px; margin-bottom: 30px;
}

.ShowSelectRow
{
	padding-bottom: 20px;
}

.resultsThumbnail
{
	display: none;
}

#UfdcHighlight
{
	display: none;
}

Blockquote
{
	margin-left:0px;
}