<?xml version="1.0" encoding="utf-8"?>

<?include "..\Definitions.wxi" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="IIPIMAGEINSTALLFOLDER">
                <Component Id="iipsrv.exe" Guid="{4D773F03-F528-4B80-8CA7-65BB26CDACDC}">
                    <File Id="iipsrv.exe" KeyPath="yes" Source="$(var.IIPimageSource)\iipsrv.exe" />
                </Component>
                <Component Id="kdu_v64R.dll" Guid="{D358E147-1D6F-401E-9B0B-36EB7CDCFB4D}">
                    <File Id="kdu_v64R.dll" KeyPath="yes" Source="$(var.IIPimageSource)\kdu_v64R.dll" />
                </Component>
                <Component Id="libfcgi.dll" Guid="{B7DB6222-4CA2-43CB-9428-05BAB8CCD458}">
                    <File Id="libfcgi.dll" KeyPath="yes" Source="$(var.IIPimageSource)\libfcgi.dll" />
                </Component>
                <Component Id="msvcp100.dll" Guid="{400C8FF7-3C51-4F56-933F-733405B9BA9C}">
                    <File Id="msvcp100.dll" KeyPath="yes" Source="$(var.IIPimageSource)\msvcp100.dll" />
                </Component>
                <Component Id="msvcr100.dll" Guid="{C8AA4534-D092-4B1C-A623-A310684EA389}">
                    <File Id="msvcr100.dll" KeyPath="yes" Source="$(var.IIPimageSource)\msvcr100.dll" />
                </Component>
                <Component Id="Readme.rtf" Guid="{1165DD1C-5C87-44F1-84FE-B7D2569ABC26}">
                    <File Id="Readme.rtf" KeyPath="yes" Source="$(var.IIPimageSource)\Readme.rtf" />
                </Component>
                <Directory Id="imagesZoomableSub" Name="images">
                    <Component Id="iip_favicon.png" Guid="{2C66D199-A276-4932-ABC6-C2A0C6B81DBC}">
                        <File Id="iip_favicon.png" KeyPath="yes" Source="$(var.IIPimageSource)\images\iip-favicon.png" />
                    </Component>
                    <Component Id="iip.32x32.png" Guid="{0AF544C1-AFBD-475F-B78F-85E2CDB96276}">
                        <File Id="iip.32x32.png" KeyPath="yes" Source="$(var.IIPimageSource)\images\iip.32x32.png" />
                    </Component>
                    <Component Id="iip.png" Guid="{7DFCDD54-C97F-42C4-B880-F24E566ACEE9}">
                        <File Id="iip.png" KeyPath="yes" Source="$(var.IIPimageSource)\images\iip.png" />
                    </Component>
                    <Component Id="reset.png" Guid="{4891B94D-E968-406F-B434-B9E761F643AE}">
                        <File Id="reset.png" KeyPath="yes" Source="$(var.IIPimageSource)\images\reset.png" />
                    </Component>
                    <Component Id="reset.svg" Guid="{91B03892-97F3-421E-AD93-194D36F179AA}">
                        <File Id="reset.svg" KeyPath="yes" Source="$(var.IIPimageSource)\images\reset.svg" />
                    </Component>
                    <Component Id="zoomIn.png" Guid="{D75BC2FE-BA4D-473F-BF91-85685B1B0D08}">
                        <File Id="IipImageZoomIn.png" KeyPath="yes" Source="$(var.IIPimageSource)\images\zoomIn.png" />
                    </Component>
                    <Component Id="zoomIn.svg" Guid="{978947B2-6AF6-4803-9AFF-2F4A62784226}">
                        <File Id="zoomIn.svg" KeyPath="yes" Source="$(var.IIPimageSource)\images\zoomIn.svg" />
                    </Component>
                    <Component Id="zoomOut.png" Guid="{7322013B-3FEF-4AE8-9D04-C77B9ABA266D}">
                        <File Id="IipImageZoomOut.png" KeyPath="yes" Source="$(var.IIPimageSource)\images\zoomOut.png" />
                    </Component>
                    <Component Id="zoomOut.svg" Guid="{8FBD2118-1092-49FF-8174-FFAE234E8041}">
                        <File Id="zoomOut.svg" KeyPath="yes" Source="$(var.IIPimageSource)\images\zoomOut.svg" />
                    </Component>
                </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SobekZoomableComponent">
            <ComponentRef Id="iipsrv.exe" />
            <ComponentRef Id="kdu_v64R.dll" />
            <ComponentRef Id="libfcgi.dll" />
            <ComponentRef Id="msvcp100.dll" />
            <ComponentRef Id="msvcr100.dll" />
            <ComponentRef Id="Readme.rtf" />
            <ComponentRef Id="iip_favicon.png" />
            <ComponentRef Id="iip.32x32.png" />
            <ComponentRef Id="iip.png" />
            <ComponentRef Id="reset.png" />
            <ComponentRef Id="reset.svg" />
            <ComponentRef Id="zoomIn.png" />
            <ComponentRef Id="zoomIn.svg" />
            <ComponentRef Id="zoomOut.png" />
            <ComponentRef Id="zoomOut.svg" />
        </ComponentGroup>
    </Fragment>
</Wix>