<?xml version="1.0" encoding="utf-8"?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Citation ClearAll="true">

    <CitationSet Name="DEFAULT" Default="true">

      <!-- Initial field set does not have a heading attached to it -->
      <FieldSet ID="PURL" Order="first" >
        <Elements>
          <Append MetadataTerm="Permanent Link" DislpayTerm="Permanent Link" ItemProp="url" />
          <!-- FINDING GUIDE ( Location.EAD_Name, Location.EAD_URL ) -->
        </Elements>
      </FieldSet>

      <!-- Material information -->
      <FieldSet ID="MATERIAL" Heading="Material Information" Order="append" >
        <Elements>
          <Append MetadataTerm="Title" DisplayTerm="Title" ItemProp="name" />
          <Append MetadataTerm="Series Title" DisplayTerm="Series Title" SearchCode="TI" />
          <Append MetadataTerm="Uniform Title" DisplayTerm="Uniform Title" />
          <Append MetadataTerm="Alternate Title" DisplayTerm="Alternate Title" OverrideDisplayTerm="subterm" />
          <Append MetadataTerm="Translated Title" DisplayTerm="Translated Title" />
          <Append MetadataTerm="Abbreviated Title" DisplayTerm="Abbreviated Title" />
          <Append MetadataTerm="Creator" DisplayTerm="Creator" SearchCode="AU" >
            <SectionWriter assembly="" class="Creator_SectionWriter" />
          </Append>
          <Append MetadataTerm="Conference" DisplayTerm="Conference" />
          <Append MetadataTerm="Affiliation" DisplayTerm="Affiliation" />
          <Append MetadataTerm="Donor" DisplayTerm="Donor" SearchCode="DO" />
          <Append MetadataTerm="Place of Publication" DisplayTerm="Place of Publication" SearchCode="PP" />
          <Append MetadataTerm="Publisher" DisplayTerm="Publisher" SearchCode="PU" ItemProp="publisher" />
          <Append MetadataTerm="Manufacturer" DisplayTerm="Manufacturer" />
          <Append MetadataTerm="Creation Date" DisplayTerm="Creation Date" ItemProp="dateCreated" />
          <Append MetadataTerm="Publication Date" DisplayTerm="Publication Date" ItemProp="datePublished" />
          <Append MetadataTerm="Copyright Date" DisplayTerm="Copyright Date" ItemProp="copyrightYear"  />
          <Append MetadataTerm="Frequency" DisplayTerm="Frequency" />
          <Append MetadataTerm="Language" DisplayTerm="Language" ItemProp="inLanguage" SearchCode="LA" />
          <Append MetadataTerm="Edition" DisplayTerm="Edition" ItemProp="edition" />
          <Append MetadataTerm="State / Edition" DisplayTerm="State / Edition" ItemProp="edition" />
          <Append MetadataTerm="Physical Description" DisplayTerm="Physical Description" />
          <Append MetadataTerm="Scale" DisplayTerm="Scale" />
          <Append MetadataTerm="Materials" DisplayTerm="Materials" SearchCode="MA" />
          <Append MetadataTerm="Measurements" DisplayTerm="Measurements" />
          <Append MetadataTerm="Cultural Context" DisplayTerm="Cultural Context" />
          <Append MetadataTerm="Style/Period" DisplayTerm="Style/Period" />
          <Append MetadataTerm="Technique" DisplayTerm="Technique" />
          <Append MetadataTerm="Physical Location" DisplayTerm="Physical Location" />
        </Elements>
      </FieldSet>

      <!-- Theses information -->
      <FieldSet ID="THESIS" Heading="Thesis/Dissertation Information" Order="append" >
        <Elements>
          <Append MetadataTerm="Degree" DisplayTerm="Degree" />
          <Append MetadataTerm="Degree Grantor" DisplayTerm="Degree Grantor" />
          <Append MetadataTerm="Degree Divisions" DisplayTerm="Degree Divisions" SearchCode="EJ" />
          <Append MetadataTerm="Degree Disciplines" DisplayTerm="Degree Disciplines" SearchCode="EI" />
          <Append MetadataTerm="Committee Chair" DisplayTerm="Committee Chair" SearchCode="EC" />
          <Append MetadataTerm="Committee Co-Chair" DisplayTerm="Committee Co-Chair" SearchCode="EC" />
          <Append MetadataTerm="Committee Members" DisplayTerm="Committee Members" SearchCode="EC" />
        </Elements>
      </FieldSet>
      
      <!-- Darwin Core Stuff -->
      <FieldSet ID="DARWIN" Heading="Zoological Taxonomic Information" Order="append" >
        <Elements>
          <Append MetadataTerm="Scientific Name" DisplayTerm="Scientific Name" />
          <Append MetadataTerm="Kingdom" DisplayTerm="Kingdom" />
          <Append MetadataTerm="Phylum" DisplayTerm="Phylum" />
          <Append MetadataTerm="Class" DisplayTerm="Class" />
          <Append MetadataTerm="Order" DisplayTerm="Order" />
          <Append MetadataTerm="Family" DisplayTerm="Family" />
          <Append MetadataTerm="Genus" DisplayTerm="Genus" />
          <Append MetadataTerm="Species" DisplayTerm="Species" />
          <Append MetadataTerm="Taxonomic Rank" DisplayTerm="Taxonomic Rank" />
          <Append MetadataTerm="Common Name" DisplayTerm="Common Name" />
        </Elements>
      </FieldSet>
      
      <!-- Learning Object Metadata Stuff -->
      <FieldSet ID="LOM" Heading="Learning Resource Information" Order="append" >
        <Elements>
          <Append MetadataTerm="Aggregation Level" DisplayTerm="Aggregation Level" />
          <Append MetadataTerm="Learning Resource Type" DisplayTerm="Learning Resource Type" />
          <Append MetadataTerm="Status" DisplayTerm="Status" />
          <Append MetadataTerm="Interactivity Type" DisplayTerm="Interactivity Type" />
          <Append MetadataTerm="Interactivity Level" DisplayTerm="Interactivity Level" />
          <Append MetadataTerm="Difficulty Level" DisplayTerm="Difficulty Level" />
          <Append MetadataTerm="Intended User Roles" DisplayTerm="Intended User Roles" />
          <Append MetadataTerm="Context" DisplayTerm="Context" />
          <Append MetadataTerm="Typical Age Range" DisplayTerm="Typical Age Range" ItemProp="typicalAgeRange" />
          <Append MetadataTerm="Typical Learning Time" DisplayTerm="Typical Learning Time" />
          <Append MetadataTerm="System Requirements" DisplayTerm="System Requirements" />
        </Elements>
      </FieldSet>

      <!-- Subject information -->
      <FieldSet ID="SUBJECTS" Heading="Subjects" Order="append" >
        <Elements>
          <Append MetadataTerm="Subjects / Keywords" DisplayTerm="Subjects / Keywords" SearchCode="SU" />
          <Append MetadataTerm="Genre" DisplayTerm="Genre" SearchCode="GE" />
          <Append MetadataTerm="Temporal Coverage" DisplayTerm="Temporal Coverage" />
          <Append MetadataTerm="Spatial Coverage" DisplayTerm="Spatial Coverage">
            <SectionWriter assembly="" class="SpatialCoverage_SectionWriter" />
          </Append>
          <Append MetadataTerm="Coordinates" DisplayTerm="Coordinates">
            <SectionWriter assembly="" class="Coordinates_SectionWriter" />
          </Append>
          <Append MetadataTerm="Target Audience" DisplayTerm="Target Audience" />
        </Elements>
      </FieldSet>

      <!-- Notes -->
      <FieldSet ID="NOTES" Heading="Notes" Order="append" >
        <Elements>
          <Append MetadataTerm="Abstract" DisplayTerm="Abstract" OverrideDisplayTerm="subterm" ItemProp="description" />
          <Append MetadataTerm="Note" DisplayTerm="General Note" OverrideDisplayTerm="subterm" ItemProp="notes" />
          <Append MetadataTerm="Inscription" DisplayTerm="Inscription" />
          <Append MetadataTerm="User Tags" DisplayTerm="User Tags">
            <SectionWriter assembly="" class="UserTags_SectionWriter" />
          </Append>
        </Elements>
      </FieldSet>

      <!-- Record Information -->
      <FieldSet ID="RECORD" Heading="Record Information" Order="append" >
        <Elements>
          <Append MetadataTerm="Source Institution" DisplayTerm="Source Institution" ItemProp="sourceOrganization" />
          <Append MetadataTerm="Holding Location" DisplayTerm="Holding Location" itemProp="contentLocation" />
          <Append MetadataTerm="Rights Management" DisplayTerm="Rights Management" ItemProp="rights">
            <SectionWriter assembly="" class="Rights_SectionWriter" />
          </Append>
          <Append MetadataTerm="Embargo Date" DisplayTerm="Embargo Date" />
          <Append MetadataTerm="Resource Identifier" DisplayTerm="Resource Identifier" ItemProp="identifier" />
          <Append MetadataTerm="Classification" DisplayTerm="Classification" ItemProp="classification" />
          <Append MetadataTerm="System ID" DisplayTerm="System ID" />
        </Elements>
      </FieldSet>

      <!-- Related Items -->
      <FieldSet ID="RELATED" Heading="Related Items" Order="append" >
        <Elements>
          <Append MetadataTerm="Related Item" DisplayTerm="Related Item" OverrideDisplayTerm="subterm" />
        </Elements>
      </FieldSet>
    </CitationSet>

    <!-- Citation set used for emailing -->
    <CitationSet Name="EMAIL">
      <!-- All the information -->
      <FieldSet ID="MATERIAL" Heading="Material Information" Order="append" >
        <Elements>
          <Append MetadataTerm="Permanent Link" DislpayTerm="Permanent Link" ItemProp="url" />
          <Append MetadataTerm="Title" DisplayTerm="Title" ItemProp="name" />
          <Append MetadataTerm="Series Title" DisplayTerm="Series Title" SearchCode="TI" />
          <Append MetadataTerm="Uniform Title" DisplayTerm="Uniform Title" />
          <Append MetadataTerm="Alternate Title" DisplayTerm="Alternate Title" OverrideDisplayTerm="subterm" />
          <Append MetadataTerm="Creator" DisplayTerm="Creator" SearchCode="AU" />
          <Append MetadataTerm="Conference" DisplayTerm="Conference" />
          <Append MetadataTerm="Donor" DisplayTerm="Donor" SearchCode="DO" />
          <Append MetadataTerm="Place of Publication" DisplayTerm="Place of Publication" SearchCode="PP" />
          <Append MetadataTerm="Publisher" DisplayTerm="Publisher" SearchCode="PU" ItemProp="publisher" />
          <Append MetadataTerm="Manufacturer" DisplayTerm="Manufacturer" />
          <Append MetadataTerm="Creation Date" DisplayTerm="Creation Date" ItemProp="dateCreated" />
          <Append MetadataTerm="Publication Date" DisplayTerm="Publication Date" ItemProp="datePublished" />
          <Append MetadataTerm="Copyright Date" DisplayTerm="Copyright Date" ItemProp="copyrightYear"  />
          <Append MetadataTerm="Edition" DisplayTerm="Edition" ItemProp="edition" />
          <Append MetadataTerm="Physical Description" DisplayTerm="Permanent Link" />
          <Append MetadataTerm="Subjects / Keywords" DisplayTerm="Subjects / Keywords" SearchCode="SU" />
          <Append MetadataTerm="Genre" DisplayTerm="Genre" />
          <Append MetadataTerm="Temporal Coverage" DisplayTerm="Temporal Coverage" />
         </Elements>
      </FieldSet>
    </CitationSet>
  </Citation>
</SobekCM_Config>