<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
	<MicroservicesClient>
		<Add Key="Get_Complete_Aggregation" URL="[BASEURL]engine/aggregations/complete/json/{0}" Protocol="JSON" />
		<Add Key="Get_Aggregation" URL="[BASEURL]engine/aggregations/code/json/{0}/{1}" Protocol="JSON" />
    <Add Key="Get_All_Aggregations" URL="[BASEURL]engine/aggregations/all/json" Protocol="JSON" />
		<Add Key="Get_Aggregation_Uploaded_Files" URL="[BASEURL]engine/aggregations/uploads/{0}" Protocol="JSON" />
    <Add Key="Get_WebSkin_Uploaded_Files" URL="[BASEURL]engine/skins/uploads/{0}" Protocol="JSON" />
    <Add Key="URL_Resolver" URL="[BASEURL]engine/url-resolver/json/{0}" Protocol="JSON" />
  </MicroservicesClient>
</SobekCM_Config>