<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <BriefItem_Mapping>
    <MappingSet ID="Standard">
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Abstracts_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Affiliations_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Aggregations_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Classifications_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Containers_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Dates_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Donor_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Edition_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Frequency_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Genres_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="GeoSpatial_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Holding_Location_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Identifiers_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="InternalVarious_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Languages_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="LearningObjectMetadata_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Links_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Manufacturers_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Names_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Notes_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Physical_Description_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Publisher_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Related_Items_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="ResourceType_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Rights_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Rights_MD_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Source_Institution_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Subjects_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Target_Audience_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Temporal_Coverage_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Thesis_Dissertation_Info_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Titles_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="User_Tags_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="VRACore_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Namespace="SobekCM.Engine_Library.Items.BriefItems.Mappers" Class="Zoological_Taxonomy_Info_BriefItemMapper" Enabled="true" />
    </MappingSet>
  </BriefItem_Mapping>
</SobekCM_Config>