<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Microservices>
    <Mapping>
      <Path Segment="protobuf">
        <Path Segment="aggregations">
          <Endpoint Segment="all" ComponentID="C1" Method="GetAllAggregations" Enabled="true" RestrictionRangeID="R1" Protocol="PROTOBUF">
            <Description>Gets a single aggregation object, fully built and language specific</Description>
            <RequestType>GET</RequestType>
            <Arguments>none</Arguments>
            <Returns>List&lt;SobekCM.Core.Aggregations.Item_Aggregation_Related_Aggregations&gt;</Returns>
          </Endpoint>
          <Endpoint Segment="code" ComponentID="C1" Method="GetAggregationByCode" Enabled="true" Protocol="PROTOBUF">
            <Description>Gets a single aggregation object, fully built and language specific</Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code and language</Arguments>
            <Returns>SobekCM.Core.Aggregations.Item_Aggregation</Returns>
          </Endpoint>
          <Endpoint Segment="complete" ComponentID="C1" Method="GetCompleteAggregationByCode" Enabled="true" Protocol="PROTOBUF">
            <Description>Gets a single aggregation object, fully built</Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code</Arguments>
            <Returns>SobekCM.Core.Aggregations.Complete_Item_Aggregation</Returns>
          </Endpoint>
        </Path>
      </Path>
      <Path Segment="json">
        <Path Segment="aggregations">
          <Endpoint Segment="all" ComponentID="C1" Method="GetAllAggregations" Enabled="true" RestrictionRangeID="R1" Protocol="JSON">
            <Description>Gets a single aggregation object, fully built and language specific</Description>
            <RequestType>GET</RequestType>
            <Arguments>none</Arguments>
            <Returns>List&lt;SobekCM.Core.Aggregations.Item_Aggregation_Related_Aggregations&gt;</Returns>
          </Endpoint>
          <Endpoint Segment="code" ComponentID="C1" Method="GetAggregationByCode" Enabled="true" Protocol="JSON">
            <Description>Gets a single aggregation object, fully built and language specific</Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code and language</Arguments>
            <Returns>SobekCM.Core.Aggregations.Item_Aggregation</Returns>
          </Endpoint>
          <Endpoint Segment="complete" ComponentID="C1" Method="GetCompleteAggregationByCode" Enabled="true" Protocol="JSON">
            <Description>Gets a single aggregation object, fully built</Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code</Arguments>
            <Returns>SobekCM.Core.Aggregations.Complete_Item_Aggregation</Returns>
          </Endpoint>
          <Endpoint Segment="uploads" ComponentID="C1" Method="GetAggregationUploadedImages" Enabled="true" Protocol="JSON">
            <Description>Gets the list of uploaded images for this aggregation </Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code</Arguments>
            <Returns>List&lt;SobekCM.Engine_Library.JSON_Client_Helpers.UploadedFileFolderInfo&gt;</Returns>
          </Endpoint>
        </Path>
      </Path>
    </Mapping>
    <Components>
      <Component ID="C1" Assembly="myCustomDll.dll" Namespace="SobekCM.Engine_Library.Endpoints" Class="AggregationServices" />
    </Components>
    <RestrictionRanges>
      <Range ID="R1" Label="Read access clients" >
        <IpRange Label="SobekDigital Mark Dev" Start="10.20.0.101" />
      </Range>
    </RestrictionRanges>
  </Microservices>
</SobekCM_Config>