<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://sobekrepository.org/schemas/sobekcm_config"
  xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
    http://sobekrepository.org/schemas/sobekcm_config.xsd">
 <Static_Resources baseUrl="http://cdn2.sobekrepository.org">
   <grouping name="css">
     <file key="print.css" source="[%BASEURL%]/css/sobekcm-print/4.8.4/print.css" />
     <file key="sobekcm.css" source="[%BASEURL%]/css/sobekcm/4.8.4/SobekCM.min.css" />
     <file key="sobekcm_admin.css" source="[%BASEURL%]/css/sobekcm-admin/4.8.4/SobekCM_Admin.min.css" />
     <file key="sobekcm_bookturner.css" source="[%BASEURL%]/css/sobekcm-bookturner/4.8.4/SobekCM_BookTurner.css" />
     <file key="sobekcm_datatables.css" source="[%BASEURL%]/css/sobekcm-datatables/4.8.4/SobekCM_DataTables.css" />
     <file key="sobekcm_item.css" source="[%BASEURL%]/css/sobekcm-item/4.8.4/SobekCM_Item.min.css" />
     <file key="sobekcm_mapeditor.css" source="[%BASEURL%]/css/sobekcm-map/4.8.4/SobekCM_MapEditor.css" />
     <file key="sobekcm_mapsearch.css" source="[%BASEURL%]/css/sobekcm-map/4.8.4/SobekCM_MapSearch.css" />
     <file key="sobekcm_metadata.css" source="[%BASEURL%]/css/sobekcm-metadata/4.8.4/SobekCM_Metadata.min.css" />
     <file key="sobekcm_mysobek.css" source="[%BASEURL%]/css/sobekcm-mysobek/4.8.4/SobekCM_MySobek.min.css" />
     <file key="sobekcm_print.css" source="[%BASEURL%]/css/sobekcm-print/4.8.4/SobekCM_Print.css" />
     <file key="sobekcm_qc.css" source="[%BASEURL%]/css/sobekcm-qc/4.8.4/SobekCM_QC.css" />
     <file key="sobekcm_stats.css" source="[%BASEURL%]/css/sobekcm-stats/4.8.4/SobekCM_Stats.css" />
     <file key="sobekcm_trackingsheet.css" source="[%BASEURL%]/css/sobekcm-tracking/4.8.4/SobekCM_TrackingSheet.css" />
   </grouping>
   <grouping name="js">
     <file key="sobekcm_admin.js" source="[%BASEURL%]/js/sobekcm-admin/4.8.4/sobekcm_admin.js" />
     <file key="sobekcm_full.js" source="[%BASEURL%]/js/sobekcm-full/4.8.4/sobekcm_full.min.js" />
     <file key="sobekcm_map_editor.js" source="[%BASEURL%]/js/sobekcm-map-editor/4.8.4/sobekcm_map_editor.js" />
     <file key="sobekcm_map_search.js" source="[%BASEURL%]/js/sobekcm-map/4.8.4/sobekcm_map_search.js" />
     <file key="sobekcm_map_tool.js" source="[%BASEURL%]/js/sobekcm-map/4.8.4/sobekcm_map_tool.js" />
     <file key="sobekcm_metadata.js" source="[%BASEURL%]/js/sobekcm-metadata/4.8.4/sobekcm_metadata.js" />
     <file key="sobekcm_qc.js" source="[%BASEURL%]/js/sobekcm-qc/4.8.4/sobekcm_qc.js" />
     <file key="sobekcm_thumb_results.js" source="[%BASEURL%]/js/sobekcm-thumb-results/4.8.4/sobekcm_thumb_results.js" />
     <file key="sobekcm_track_item.js" source="[%BASEURL%]/js/sobekcm-track-item/4.8.4/sobekcm_track_item.js" />
   </grouping>
   <grouping name="images">
     <file key="16px-feed-icon.svg.png" source="[%BASEURL%]/images/misc/16px-Feed-icon.svg.png" />
     <file key="add_geospatial_icon.png" source="[%BASEURL%]/images/misc/add_geospatial_icon.png" />
     <file key="add_volume.png" source="[%BASEURL%]/images/misc/add_volume.png" />
     <file key="add_volume_icon.png" source="[%BASEURL%]/images/misc/add_volume_icon.png" />
     <file key="admin_view.png" source="[%BASEURL%]/images/misc/admin_view.png" />
     <file key="ajax-loader.gif" source="[%BASEURL%]/images/mapedit/ajax-loader.gif" />
     <file key="arw05lt.gif" source="[%BASEURL%]/images/qc/ARW05LT.gif" />
     <file key="arw05rt.gif" source="[%BASEURL%]/images/qc/ARW05RT.gif" />
     <file key="autofill_volumes.png" source="[%BASEURL%]/images/misc/autofill_volumes.png" />
     <file key="bg1.png" source="[%BASEURL%]/images/mapedit/bg1.png" />
     <file key="big_bookshelf.gif" source="[%BASEURL%]/images/misc/big_bookshelf.gif" />
     <file key="blue.png" source="[%BASEURL%]/images/mapedit/mapIcons/blue.png" />
     <file key="blue-pin.png" source="[%BASEURL%]/images/mapsearch/blue-pin.png" />
     <file key="bookshelf.jpg" source="[%BASEURL%]/images/misc/bookshelf.jpg" />
     <file key="bookshelf.png" source="[%BASEURL%]/images/misc/bookshelf.png" />
     <file key="bookturner.html" source="[%BASEURL%]/images/misc/bookturner.html" />
     <file key="brief_blue.png" source="[%BASEURL%]/images/misc/brief_blue.png" />
     <file key="building.gif" source="[%BASEURL%]/images/misc/building.gif" />
     <file key="button_down_arrow.png" source="[%BASEURL%]/images/misc/button_down_arrow.png" />
     <file key="button_first_arrow.png" source="[%BASEURL%]/images/misc/button_first_arrow.png" />
     <file key="button_last_arrow.png" source="[%BASEURL%]/images/misc/button_last_arrow.png" />
     <file key="button_next_arrow.png" source="[%BASEURL%]/images/misc/button_next_arrow.png" />
     <file key="button_next_arrow2.png" source="[%BASEURL%]/images/misc/button_next_arrow2.png" />
     <file key="button_previous_arrow.png" source="[%BASEURL%]/images/misc/button_previous_arrow.png" />
     <file key="button_up_arrow.png" source="[%BASEURL%]/images/misc/button_up_arrow.png" />
     <file key="button-action1.png" source="[%BASEURL%]/images/mapedit/button-action1.png" />
     <file key="button-action2.png" source="[%BASEURL%]/images/mapedit/button-action2.png" />
     <file key="button-action3.png" source="[%BASEURL%]/images/mapedit/button-action3.png" />
     <file key="button-base.png" source="[%BASEURL%]/images/mapedit/button-base.png" />
     <file key="button-blocklot.png" source="[%BASEURL%]/images/mapedit/button-blockLot.png" />
     <file key="button-cancel.png" source="[%BASEURL%]/images/mapedit/button-cancel.png" />
     <file key="button-controls.png" source="[%BASEURL%]/images/mapedit/button-controls.png" />
     <file key="button-converttooverlay.png" source="[%BASEURL%]/images/mapedit/button-convertToOverlay.png" />
     <file key="button-drawcircle.png" source="[%BASEURL%]/images/mapedit/button-drawCircle.png" />
     <file key="button-drawline.png" source="[%BASEURL%]/images/mapedit/button-drawLine.png" />
     <file key="button-drawmarker.png" source="[%BASEURL%]/images/mapedit/button-drawMarker.png" />
     <file key="button-drawpolygon.png" source="[%BASEURL%]/images/mapedit/button-drawPolygon.png" />
     <file key="button-drawrectangle.png" source="[%BASEURL%]/images/mapedit/button-drawRectangle.png" />
     <file key="button-hybrid.png" source="[%BASEURL%]/images/mapedit/button-hybrid.png" />
     <file key="button-itemgetuserlocation.png" source="[%BASEURL%]/images/mapedit/button-itemGetUserLocation.png" />
     <file key="button-itemplace.png" source="[%BASEURL%]/images/mapedit/button-itemPlace.png" />
     <file key="button-itemreset.png" source="[%BASEURL%]/images/mapedit/button-itemReset.png" />
     <file key="button-layercustom.png" source="[%BASEURL%]/images/mapedit/button-layerCustom.png" />
     <file key="button-layerhybrid.png" source="[%BASEURL%]/images/mapedit/button-layerHybrid.png" />
     <file key="button-layerreset.png" source="[%BASEURL%]/images/mapedit/button-layerReset.png" />
     <file key="button-layerroadmap.png" source="[%BASEURL%]/images/mapedit/button-layerRoadmap.png" />
     <file key="button-layersatellite.png" source="[%BASEURL%]/images/mapedit/button-layerSatellite.png" />
     <file key="button-layerterrain.png" source="[%BASEURL%]/images/mapedit/button-layerTerrain.png" />
     <file key="button-manageitem.png" source="[%BASEURL%]/images/mapedit/button-manageItem.png" />
     <file key="button-manageoverlay.png" source="[%BASEURL%]/images/mapedit/button-manageOverlay.png" />
     <file key="button-managepoi.png" source="[%BASEURL%]/images/mapedit/button-managePOI.png" />
     <file key="button-overlayedit.png" source="[%BASEURL%]/images/mapedit/button-overlayEdit.png" />
     <file key="button-overlaygetuserlocation.png" source="[%BASEURL%]/images/mapedit/button-overlayGetUserLocation.png" />
     <file key="button-overlayplace.png" source="[%BASEURL%]/images/mapedit/button-overlayPlace.png" />
     <file key="button-overlayreset.png" source="[%BASEURL%]/images/mapedit/button-overlayReset.png" />
     <file key="button-overlayrotate.png" source="[%BASEURL%]/images/mapedit/button-overlayRotate.png" />
     <file key="button-overlaytoggle.png" source="[%BASEURL%]/images/mapedit/button-overlayToggle.png" />
     <file key="button-overlaytransparency.png" source="[%BASEURL%]/images/mapedit/button-overlayTransparency.png" />
     <file key="button-pandown.png" source="[%BASEURL%]/images/mapedit/button-panDown.png" />
     <file key="button-panleft.png" source="[%BASEURL%]/images/mapedit/button-panLeft.png" />
     <file key="button-panreset.png" source="[%BASEURL%]/images/mapedit/button-panReset.png" />
     <file key="button-panright.png" source="[%BASEURL%]/images/mapedit/button-panRight.png" />
     <file key="button-panup.png" source="[%BASEURL%]/images/mapedit/button-panUp.png" />
     <file key="button-poicircle.png" source="[%BASEURL%]/images/mapedit/button-poiCircle.png" />
     <file key="button-poiedit.png" source="[%BASEURL%]/images/mapedit/button-poiEdit.png" />
     <file key="button-poigetuserlocation.png" source="[%BASEURL%]/images/mapedit/button-poiGetUserLocation.png" />
     <file key="button-poiline.png" source="[%BASEURL%]/images/mapedit/button-poiLine.png" />
     <file key="button-poimarker.png" source="[%BASEURL%]/images/mapedit/button-poiMarker.png" />
     <file key="button-poiplace.png" source="[%BASEURL%]/images/mapedit/button-poiPlace.png" />
     <file key="button-poipolygon.png" source="[%BASEURL%]/images/mapedit/button-poiPolygon.png" />
     <file key="button-poirectangle.png" source="[%BASEURL%]/images/mapedit/button-poiRectangle.png" />
     <file key="button-poireset.png" source="[%BASEURL%]/images/mapedit/button-poiReset.png" />
     <file key="button-poitoggle.png" source="[%BASEURL%]/images/mapedit/button-poiToggle.png" />
     <file key="button-reset.png" source="[%BASEURL%]/images/mapedit/button-reset.png" />
     <file key="button-roadmap.png" source="[%BASEURL%]/images/mapedit/button-roadmap.png" />
     <file key="button-satellite.png" source="[%BASEURL%]/images/mapedit/button-satellite.png" />
     <file key="button-save.png" source="[%BASEURL%]/images/mapedit/button-save.png" />
     <file key="button-search.png" source="[%BASEURL%]/images/mapedit/button-search.png" />
     <file key="button-terrain.png" source="[%BASEURL%]/images/mapedit/button-terrain.png" />
     <file key="button-togglemapcontrols.png" source="[%BASEURL%]/images/mapedit/button-toggleMapControls.png" />
     <file key="button-toggletoolbar.png" source="[%BASEURL%]/images/mapedit/button-toggleToolbar.png" />
     <file key="button-toggletoolbox.png" source="[%BASEURL%]/images/mapedit/button-toggleToolbox.png" />
     <file key="button-toolbox.png" source="[%BASEURL%]/images/mapedit/button-toolbox.png" />
     <file key="button-usesearchaslocation.png" source="[%BASEURL%]/images/mapedit/button-useSearchAsLocation.png" />
     <file key="button-zoomin.png" source="[%BASEURL%]/images/mapedit/button-zoomIn.png" />
     <file key="button-zoomout.png" source="[%BASEURL%]/images/mapedit/button-zoomOut.png" />
     <file key="button-zoomreset.png" source="[%BASEURL%]/images/mapedit/button-zoomReset.png" />
     <file key="button-zoomreset2.png" source="[%BASEURL%]/images/mapedit/button-zoomReset2.png" />
     <file key="calendar_button.png" source="[%BASEURL%]/images/misc/calendar_button.png" />
     <file key="cancel.ico" source="[%BASEURL%]/images/qc/Cancel.ico" />
     <file key="cc_by.png" source="[%BASEURL%]/images/misc/cc_by.png" />
     <file key="cc_by_nc.png" source="[%BASEURL%]/images/misc/cc_by_nc.png" />
     <file key="cc_by_nc_nd.png" source="[%BASEURL%]/images/misc/cc_by_nc_nd.png" />
     <file key="cc_by_nc_sa.png" source="[%BASEURL%]/images/misc/cc_by_nc_sa.png" />
     <file key="cc_by_nd.png" source="[%BASEURL%]/images/misc/cc_by_nd.png" />
     <file key="cc_by_sa.png" source="[%BASEURL%]/images/misc/cc_by_sa.png" />
     <file key="cc_zero.png" source="[%BASEURL%]/images/misc/cc_zero.png" />
     <file key="chat.png" source="[%BASEURL%]/images/misc/chat.png" />
     <file key="checkmark.png" source="[%BASEURL%]/images/misc/checkmark.png" />
     <file key="checkmark2.png" source="[%BASEURL%]/images/misc/checkmark2.png" />
     <file key="closed_folder.jpg" source="[%BASEURL%]/images/misc/closed_folder.jpg" />
     <file key="closed_folder_public.jpg" source="[%BASEURL%]/images/misc/closed_folder_public.jpg" />
     <file key="closed_folder_public_big.jpg" source="[%BASEURL%]/images/misc/closed_folder_public_big.jpg" />
     <file key="dark_resource.png" source="[%BASEURL%]/images/misc/dark_resource.png" />
     <file key="default_banner.jpg" source="[%BASEURL%]/images/misc/default_banner.jpg" />
     <file key="default_button.gif" source="[%BASEURL%]/images/misc/default_button.gif" />
     <file key="default_button.png" source="[%BASEURL%]/images/misc/default_button.png" />
     <file key="delete_cursor.cur" source="[%BASEURL%]/images/qc/delete_cursor.cur" />
     <file key="delete_item.png" source="[%BASEURL%]/images/misc/delete_item.png" />
     <file key="delete_item_icon.png" source="[%BASEURL%]/images/misc/delete_item_icon.png" />
     <file key="digg_share.gif" source="[%BASEURL%]/images/misc/digg_share.gif" />
     <file key="digg_share_h.gif" source="[%BASEURL%]/images/misc/digg_share_h.gif" />
     <file key="dloc_banner_700.jpg" source="[%BASEURL%]/images/misc/dloc_banner_700.jpg" />
     <file key="drag1pg.ico" source="[%BASEURL%]/images/qc/DRAG1PG.ICO" />
     <file key="edit.gif" source="[%BASEURL%]/images/misc/edit.gif" />
     <file key="edit.png" source="[%BASEURL%]/images/mapedit/edit.png" />
     <file key="edit_behaviors.png" source="[%BASEURL%]/images/misc/edit_behaviors.png" />
     <file key="edit_behaviors_icon.png" source="[%BASEURL%]/images/misc/edit_behaviors_icon.png" />
     <file key="edit_hierarchy.png" source="[%BASEURL%]/images/misc/edit_hierarchy.png" />
     <file key="edit_metadata.png" source="[%BASEURL%]/images/misc/edit_metadata.png" />
     <file key="edit_metadata_icon.png" source="[%BASEURL%]/images/misc/edit_metadata_icon.png" />
     <file key="email.png" source="[%BASEURL%]/images/misc/email.png" />
     <file key="emptypage.jpg" source="[%BASEURL%]/images/bookturner/emptypage.jpg" />
     <file key="exit.gif" source="[%BASEURL%]/images/misc/exit.gif" />
     <file key="facebook_share.gif" source="[%BASEURL%]/images/misc/facebook_share.gif" />
     <file key="facebook_share_h.gif" source="[%BASEURL%]/images/misc/facebook_share_h.gif" />
     <file key="favorites_share.gif" source="[%BASEURL%]/images/misc/favorites_share.gif" />
     <file key="favorites_share_h.gif" source="[%BASEURL%]/images/misc/favorites_share_h.gif" />
     <file key="file_management.png" source="[%BASEURL%]/images/misc/file_management.png" />
     <file key="file_management_icon.png" source="[%BASEURL%]/images/misc/file_management_icon.png" />
     <file key="firewall.gif" source="[%BASEURL%]/images/misc/firewall.gif" />
     <file key="firewall.png" source="[%BASEURL%]/images/misc/firewall.png" />
     <file key="first2.png" source="[%BASEURL%]/images/bookturner/first2.png" />
     <file key="forwarding.gif" source="[%BASEURL%]/images/misc/forwarding.gif" />
     <file key="forwarding.png" source="[%BASEURL%]/images/misc/forwarding.png" />
     <file key="gears.png" source="[%BASEURL%]/images/misc/gears.png" />
     <file key="geo_blue.png" source="[%BASEURL%]/images/misc/geo_blue.png" />
     <file key="get_adobe_reader.png" source="[%BASEURL%]/images/misc/get_adobe_reader.png" />
     <file key="getuserlocation.png" source="[%BASEURL%]/images/mapedit/getUserLocation.png" />
     <file key="go_button.png" source="[%BASEURL%]/images/misc/go_button.png" />
     <file key="go_gray.gif" source="[%BASEURL%]/images/misc/go_gray.gif" />
     <file key="google_share.gif" source="[%BASEURL%]/images/misc/google_share.gif" />
     <file key="google_share_h.gif" source="[%BASEURL%]/images/misc/google_share_h.gif" />
     <file key="help_button.jpg" source="[%BASEURL%]/images/misc/help_button.jpg" />
     <file key="help_button_darkgray.jpg" source="[%BASEURL%]/images/misc/help_button_darkgray.jpg" />
     <file key="hide_internal_header.png" source="[%BASEURL%]/images/misc/hide_internal_header.png" />
     <file key="hide_internal_header2.png" source="[%BASEURL%]/images/misc/hide_internal_header2.png" />
     <file key="home.png" source="[%BASEURL%]/images/misc/home.png" />
     <file key="home_button.gif" source="[%BASEURL%]/images/misc/home_button.gif" />
     <file key="home_folder.gif" source="[%BASEURL%]/images/misc/home_folder.gif" />
     <file key="icon_permission.png" source="[%BASEURL%]/images/misc/icon_permission.png" />
     <file key="icons-os.png" source="[%BASEURL%]/images/mapedit/icons-os.png" />
     <file key="index.html" source="[%BASEURL%]/images/misc/index.html" />
     <file key="item_count.png" source="[%BASEURL%]/images/misc/item_count.png" />
     <file key="last2.png" source="[%BASEURL%]/images/bookturner/last2.png" />
     <file key="leftarrow.png" source="[%BASEURL%]/images/misc/leftarrow.png" />
     <file key="legend_nonselected_polygon.png" source="[%BASEURL%]/images/misc/legend_nonselected_polygon.png" />
     <file key="legend_point_interest.png" source="[%BASEURL%]/images/misc/legend_point_interest.png" />
     <file key="legend_red_pushpin.png" source="[%BASEURL%]/images/misc/legend_red_pushpin.png" />
     <file key="legend_search_area.png" source="[%BASEURL%]/images/misc/legend_search_area.png" />
     <file key="legend_selected_polygon.png" source="[%BASEURL%]/images/misc/legend_selected_polygon.png" />
     <file key="main_information.ico" source="[%BASEURL%]/images/qc/Main_Information.ICO" />
     <file key="map_drag_hand.gif" source="[%BASEURL%]/images/misc/map_drag_hand.gif" />
     <file key="map_point.gif" source="[%BASEURL%]/images/misc/map_point.gif" />
     <file key="map_point.png" source="[%BASEURL%]/images/misc/map_point.png" />
     <file key="map_polygon2.gif" source="[%BASEURL%]/images/misc/map_polygon2.gif" />
     <file key="map_rectangle2.gif" source="[%BASEURL%]/images/misc/map_rectangle2.gif" />
     <file key="mapedit.html" source="[%BASEURL%]/images/misc/mapedit.html" />
     <file key="mapsearch.html" source="[%BASEURL%]/images/misc/mapsearch.html" />
     <file key="mass_update.png" source="[%BASEURL%]/images/misc/mass_update.png" />
     <file key="mass_update_icon.png" source="[%BASEURL%]/images/misc/mass_update_icon.png" />
     <file key="minussign.png" source="[%BASEURL%]/images/misc/minussign.png" />
     <file key="missingimage.jpg" source="[%BASEURL%]/images/misc/MissingImage.jpg" />
     <file key="move_pages_cursor.cur" source="[%BASEURL%]/images/qc/move_pages_cursor.cur" />
     <file key="new_element.jpg" source="[%BASEURL%]/images/misc/new_element.jpg" />
     <file key="new_element_demo.jpg" source="[%BASEURL%]/images/misc/new_element_demo.jpg" />
     <file key="new_folder.jpg" source="[%BASEURL%]/images/misc/new_folder.jpg" />
     <file key="new_item.gif" source="[%BASEURL%]/images/misc/new_item.gif" />
     <file key="next.png" source="[%BASEURL%]/images/bookturner/next.png" />
     <file key="next2.png" source="[%BASEURL%]/images/bookturner/next2.png" />
     <file key="no_pages.jpg" source="[%BASEURL%]/images/qc/no_pages.jpg" />
     <file key="nocheckmark.png" source="[%BASEURL%]/images/misc/nocheckmark.png" />
     <file key="nothumb.jpg" source="[%BASEURL%]/images/misc/NoThumb.jpg" />
     <file key="open_folder.jpg" source="[%BASEURL%]/images/misc/open_folder.jpg" />
     <file key="open_folder_public.jpg" source="[%BASEURL%]/images/misc/open_folder_public.jpg" />
     <file key="pagenumbg.gif" source="[%BASEURL%]/images/bookturner/pageNumBg.gif" />
     <file key="plussign.png" source="[%BASEURL%]/images/misc/plussign.png" />
     <file key="pmets.gif" source="[%BASEURL%]/images/misc/pmets.gif" />
     <file key="point02.ico" source="[%BASEURL%]/images/qc/POINT02.ICO" />
     <file key="point04.ico" source="[%BASEURL%]/images/qc/POINT04.ICO" />
     <file key="point13.ico" source="[%BASEURL%]/images/qc/POINT13.ICO" />
     <file key="pointer_blue.gif" source="[%BASEURL%]/images/misc/pointer_blue.gif" />
     <file key="portals.gif" source="[%BASEURL%]/images/misc/portals.gif" />
     <file key="portals.png" source="[%BASEURL%]/images/misc/portals.png" />
     <file key="previous2.png" source="[%BASEURL%]/images/bookturner/previous2.png" />
     <file key="printer.png" source="[%BASEURL%]/images/misc/printer.png" />
     <file key="private_items.png" source="[%BASEURL%]/images/misc/private_items.png" />
     <file key="private_resource.png" source="[%BASEURL%]/images/misc/private_resource.png" />
     <file key="private_resource_icon.png" source="[%BASEURL%]/images/misc/private_resource_icon.png" />
     <file key="public_resource.png" source="[%BASEURL%]/images/misc/public_resource.png" />
     <file key="public_resource_icon.png" source="[%BASEURL%]/images/misc/public_resource_icon.png" />
     <file key="qc.html" source="[%BASEURL%]/images/misc/qc.html" />
     <file key="qc_addfiles.png" source="[%BASEURL%]/images/qc/qc_addfiles.png" />
     <file key="qc_button.png" source="[%BASEURL%]/images/misc/qc_button.png" />
     <file key="qc_button_icon.png" source="[%BASEURL%]/images/misc/qc_button_icon.png" />
     <file key="rect_large.ico" source="[%BASEURL%]/images/qc/rect_large.ico" />
     <file key="rect_medium.ico" source="[%BASEURL%]/images/qc/rect_medium.ico" />
     <file key="rect_small.ico" source="[%BASEURL%]/images/qc/rect_small.ico" />
     <file key="red-pushpin.png" source="[%BASEURL%]/images/misc/red-pushpin.png" />
     <file key="refresh.gif" source="[%BASEURL%]/images/misc/refresh.gif" />
     <file key="refresh.png" source="[%BASEURL%]/images/misc/refresh.png" />
     <file key="refresh_folder.jpg" source="[%BASEURL%]/images/misc/refresh_folder.jpg" />
     <file key="removeicon.gif" source="[%BASEURL%]/images/misc/removeIcon.gif" />
     <file key="restricted_resource.png" source="[%BASEURL%]/images/misc/restricted_resource.png" />
     <file key="restricted_resource_icon.png" source="[%BASEURL%]/images/misc/restricted_resource_icon.png" />
     <file key="return.gif" source="[%BASEURL%]/images/misc/return.gif" />
     <file key="return.png" source="[%BASEURL%]/images/bookturner/return.png" />
     <file key="rotation-clockwise.png" source="[%BASEURL%]/images/mapedit/rotation-clockwise.png" />
     <file key="rotation-counterclockwise.png" source="[%BASEURL%]/images/mapedit/rotation-counterClockwise.png" />
     <file key="rotation-reset.png" source="[%BASEURL%]/images/mapedit/rotation-reset.png" />
     <file key="save.ico" source="[%BASEURL%]/images/qc/Save.ico" />
     <file key="saved_searches.gif" source="[%BASEURL%]/images/misc/saved_searches.gif" />
     <file key="saved_searches_big.gif" source="[%BASEURL%]/images/misc/saved_searches_big.gif" />
     <file key="search.png" source="[%BASEURL%]/images/mapedit/search.png" />
     <file key="settings.gif" source="[%BASEURL%]/images/misc/Settings.gif" />
     <file key="show_internal_header.png" source="[%BASEURL%]/images/misc/show_internal_header.png" />
     <file key="skins.gif" source="[%BASEURL%]/images/misc/skins.gif" />
     <file key="skins.png" source="[%BASEURL%]/images/misc/skins.png" />
     <file key="source.html" source="[%BASEURL%]/images/misc/source.html" />
     <file key="spinner.gif" source="[%BASEURL%]/images/misc/spinner.gif" />
     <file key="spinner_gray.gif" source="[%BASEURL%]/images/misc/spinner_gray.gif" />
     <file key="stumbleupon_share.gif" source="[%BASEURL%]/images/misc/stumbleupon_share.gif" />
     <file key="stumbleupon_share_h.gif" source="[%BASEURL%]/images/misc/stumbleupon_share_h.gif" />
     <file key="submitted_items.gif" source="[%BASEURL%]/images/misc/submitted_items.gif" />
     <file key="table_blue.png" source="[%BASEURL%]/images/misc/table_blue.png" />
     <file key="thumb_blue.png" source="[%BASEURL%]/images/misc/thumb_blue.png" />
     <file key="thumbnail_cursor.cur" source="[%BASEURL%]/images/qc/thumbnail_cursor.cur" />
     <file key="thumbnail_large.gif" source="[%BASEURL%]/images/misc/thumbnail_large.gif" />
     <file key="thumbs1.gif" source="[%BASEURL%]/images/misc/thumbs1.gif" />
     <file key="thumbs1_selected.gif" source="[%BASEURL%]/images/misc/thumbs1_selected.gif" />
     <file key="thumbs2.gif" source="[%BASEURL%]/images/misc/thumbs2.gif" />
     <file key="thumbs2_selected.gif" source="[%BASEURL%]/images/misc/thumbs2_selected.gif" />
     <file key="thumbs3.gif" source="[%BASEURL%]/images/misc/thumbs3.gif" />
     <file key="thumbs3_selected.gif" source="[%BASEURL%]/images/misc/thumbs3_selected.gif" />
     <file key="toolbar-toggle.png" source="[%BASEURL%]/images/mapedit/toolbar-toggle.png" />
     <file key="toolbox-close2.png" source="[%BASEURL%]/images/mapedit/toolbox-close2.png" />
     <file key="toolbox-icon.png" source="[%BASEURL%]/images/mapedit/toolbox-icon.png" />
     <file key="toolbox-maximize2.png" source="[%BASEURL%]/images/mapedit/toolbox-maximize2.png" />
     <file key="toolbox-minimize2.png" source="[%BASEURL%]/images/mapedit/toolbox-minimize2.png" />
     <file key="top_left.jpg" source="[%BASEURL%]/images/bookturner/top_left.jpg" />
     <file key="top_right.jpg" source="[%BASEURL%]/images/bookturner/top_right.jpg" />
     <file key="track2.gif" source="[%BASEURL%]/images/misc/track2.gif" />
     <file key="trash01.ico" source="[%BASEURL%]/images/qc/TRASH01.ICO" />
     <file key="twitter_share.gif" source="[%BASEURL%]/images/misc/twitter_share.gif" />
     <file key="twitter_share_h.gif" source="[%BASEURL%]/images/misc/twitter_share_h.gif" />
     <file key="ufdc_banner_700.jpg" source="[%BASEURL%]/images/misc/ufdc_banner_700.jpg" />
     <file key="ui-icons_ffffff_256x240.png" source="[%BASEURL%]/images/mapsearch/ui-icons_ffffff_256x240.png" />
     <file key="usage.png" source="[%BASEURL%]/images/misc/usage.png" />
     <file key="usage_statistics.png" source="[%BASEURL%]/images/misc/usage_statistics.png" />
     <file key="users.gif" source="[%BASEURL%]/images/misc/Users.gif" />
     <file key="users.png" source="[%BASEURL%]/images/misc/Users.png" />
     <file key="view.ico" source="[%BASEURL%]/images/qc/View.ico" />
     <file key="view_work_log.png" source="[%BASEURL%]/images/misc/view_work_log.png" />
     <file key="view_work_log_icon.png" source="[%BASEURL%]/images/misc/view_work_log_icon.png" />
     <file key="wizard.png" source="[%BASEURL%]/images/misc/wizard.png" />
     <file key="wordmarks.gif" source="[%BASEURL%]/images/misc/wordmarks.gif" />
     <file key="wrench.png" source="[%BASEURL%]/images/misc/wrench.png" />
     <file key="yahoo_share.gif" source="[%BASEURL%]/images/misc/yahoo_share.gif" />
     <file key="yahoo_share_h.gif" source="[%BASEURL%]/images/misc/yahoo_share_h.gif" />
     <file key="yahoobuzz_share.gif" source="[%BASEURL%]/images/misc/yahoobuzz_share.gif" />
     <file key="yahoobuzz_share_h.gif" source="[%BASEURL%]/images/misc/yahoobuzz_share_h.gif" />
     <file key="zoom_tool.cur" source="[%BASEURL%]/images/misc/zoom_tool.cur" />
     <file key="zoomin.png" source="[%BASEURL%]/images/bookturner/zoomin.png" />
     <file key="zoomout.png" source="[%BASEURL%]/images/bookturner/zoomout.png" />
   </grouping>
   <grouping name="includes">
     <file key="bookturner.js" source="[%BASEURL%]/includes/bookturner/1.0.0/bookturner.js" />
     <file key="chart.js" source="[%BASEURL%]/includes/chartjs/1.0.2/Chart.min.js" />
     <file key="ckeditor.js" source="[%BASEURL%]/includes/ckeditor/4.4.7/ckeditor.js" />
     <file key="contentslider.js" source="[%BASEURL%]/includes/contentslider/2.4/contentslider.min.js" />
     <file key="gmaps-infobox.js" source="[%BASEURL%]/includes/gmaps-infobox/1.0/gmaps-infobox.js" />
     <file key="gmaps-markerwithlabel.js" source="[%BASEURL%]/includes/gmaps-markerwithlabel/1.9.1/gmaps-markerwithlabel-1.9.1.js" />   
     <file key="html5shiv.js" source="[%BASEURL%]/includes/html5shiv/3.7.3/html5shiv.js" />
     <file key="jquery.color-2.1.1.js" source="[%BASEURL%]/includes/jquery-color/2.1.1/jquery.color-2.1.1.js" />
     <file key="jquery.datatables.js" source="[%BASEURL%]/includes/datatables/1.11.1/js/jquery.dataTables.min.js" />
     <file key="jquery.easing.1.3.js" source="[%BASEURL%]/includes/bookturner/1.0.0/jquery.easing.1.3.js" />
     <file key="jquery.hovercard.js" source="[%BASEURL%]/includes/jquery-hovercard/2.4/jquery.hovercard.min.js" />
     <file key="jquery.mousewheel.js" source="[%BASEURL%]/includes/jquery-mousewheel/3.1.3/jquery.mousewheel.js" />
     <file key="jquery.qtip.css" source="[%BASEURL%]/includes/jquery-qtip/2.2.0/jquery.qtip.min.css" />
     <file key="jquery.qtip.js" source="[%BASEURL%]/includes/jquery-qtip/2.2.0/jquery.qtip.min.js" />
     <file key="jquery.timeentry.css" source="[%BASEURL%]/includes/timeentry/1.5.2/jquery.timeentry.css" />
     <file key="jquery.timeentry.js" source="[%BASEURL%]/includes/timeentry/1.5.2/jquery.timeentry.min.js" />
     <file key="jquery.timers.js" source="[%BASEURL%]/includes/jquery-timers/1.2/jquery.timers.min.js" />
     <file key="jquery.uploadifive.js" source="[%BASEURL%]/includes/uploadifive/1.1.2/jquery.uploadifive.min.js" />
     <file key="jquery.uploadify.js" source="[%BASEURL%]/includes/uploadify/3.2.1/jquery.uploadify.min.js" />
     <file key="jquery-1.10.2.js" source="[%BASEURL%]/includes/jquery/1.10.2/jquery-1.10.2.min.js" />
     <file key="jquery-1.2.6.min.js" source="[%BASEURL%]/includes/bookturner/1.0.0/jquery-1.2.6.min.js" />
     <file key="jquery-json-2.4.js" source="[%BASEURL%]/includes/jquery-json/2.4/jquery-json-2.4.min.js" />
     <file key="jquery-knob.js" source="[%BASEURL%]/includes/jquery-knob/1.2.0/jquery-knob.js" />
     <file key="jquery-migrate-1.1.1.js" source="[%BASEURL%]/includes/jquery-migrate/1.1.1/jquery-migrate-1.1.1.min.js" />
     <file key="jquery-rotate.js" source="[%BASEURL%]/includes/jquery-rotate/2.2/jquery-rotate.js" />
     <file key="jquery-searchbox.css" source="[%BASEURL%]/includes/jquery-searchbox/1.0/jquery-searchbox.css" />
     <file key="jquery-ui-1.10.1.js" source="[%BASEURL%]/includes/jquery-ui/1.10.1/jquery-ui-1.10.1.js" />
     <file key="jquery-ui-1.10.3.custom.js" source="[%BASEURL%]/includes/jquery-ui/1.10.3/jquery-ui-1.10.3.custom.min.js" />
     <file key="jquery-ui.css" source="[%BASEURL%]/includes/jquery-ui/1.10.3/jQuery-ui.css" />
     <file key="jquery-searchbox.css" source="[%BASEURL%]/includes/jquery-searchbox/1.0/jquery-searchbox.css" />
     <file key="jsdatepick.full.1.3.js" source="[%BASEURL%]/includes/datepicker/1.3/jsDatePick.full.1.3.js" />
     <file key="jsdatepick.min.1.3.js" source="[%BASEURL%]/includes/datepicker/1.3/jsDatePick.min.1.3.js" />
     <file key="jsdatepick_ltr.css" source="[%BASEURL%]/includes/datepicker/1.3/jsDatePick_ltr.css" />
     <file key="jstree.css" source="[%BASEURL%]/includes/jstree/3.0.9/themes/default/style.min.css" />
     <file key="jstree.js" source="[%BASEURL%]/includes/jstree/3.0.9/jstree.min.js" />
     <file key="keydragzoom_packed.js" source="[%BASEURL%]/includes/keydragzoom/1.0/keydragzoom_packed.js" />
     <file key="uploadifive.css" source="[%BASEURL%]/includes/uploadifive/1.1.2/uploadifive.css" />
     <file key="uploadify.css" source="[%BASEURL%]/includes/uploadify/3.2.1/uploadify.css" />
     <file key="uploadify.swf" source="[%BASEURL%]/includes/uploadify/3.2.1/uploadify.swf" />     
   </grouping>
 </Static_Resources>
</SobekCM_Config>