<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
	<TemplateElements>
		<TemplateElement type="abstract" class="Abstract_Complex_Element" image="" helpUri="" adminUri="" />
		<TemplateElement type="abstract" subtype="simple" class="Abstract_Summary_Element" />
		<TemplateElement type="acquisition" class="Acquisition_Note_Element" />
		<TemplateElement type="additional work needed" class="Additional_Work_Needed_Element" />
		<TemplateElement type="aggregations" class="Aggregations_Element" />
		<TemplateElement type="attribution" class="Attribution_Element" />
		<TemplateElement type="bibid" class="BibID_Element" />
		<TemplateElement type="born digital" class="Born_Digital_Element" />
		<TemplateElement type="catalog record num" class="Catalog_Record_Number_Element" />
		<TemplateElement type="classification" class="Classification_Element" />
		<TemplateElement type="container" class="Container_Element" />
		<TemplateElement type="contributor" class="Contributor_Element" />
		<TemplateElement type="coordinates" class="Coordinates_Point_Element" />
		<TemplateElement type="creator" subtype="simple" class="Creator_Element" />
		<TemplateElement type="creator" subtype="complex" class="Creator_Complex_Element" />
		<TemplateElement type="creator" subtype="fixed_role" class="Creator_Fixed_Role_Element" />
		<TemplateElement type="creator" class="Name_Form_Element" />
		<TemplateElement type="creator notes" class="Creator_Notes_Element" />
		<TemplateElement type="dark flag" class="Dark_Flag_Element" />
		<TemplateElement type="date" class="Date_Element" />
		<TemplateElement type="date copyrighted" class="Date_Copyrighted_Element" />
		<TemplateElement type="description standard" class="Description_Standard_Element" />
		<TemplateElement type="disposition advice" class="Disposition_Advice_Element" />
		<TemplateElement type="donor" class="Donor_Element" />
		<TemplateElement type="ead" class="EAD_Form_Element" />
		<TemplateElement type="edition" class="Edition_Element" />
		<TemplateElement type="embedded video" class="EmbeddedVideo_Element" />
		<TemplateElement type="encoding level" class="Encoding_Level_Element" />
		<TemplateElement type="etd committee chair" class="ETD_CommitteeChair_Element" />
		<TemplateElement type="etd committee cochair" class="ETD_CommitteeCoChair_Element" />
		<TemplateElement type="etd committee member" class="ETD_CommitteeMember_Element" />
		<TemplateElement type="etd degree" class="ETD_Degree_Element" />
		<TemplateElement type="etd degree discipline" class="ETD_DegreeDiscipline_Element" />
		<TemplateElement type="etd degree division" class="ETD_DegreeDivision_Element" />
		<TemplateElement type="etd degree grantor" class="ETD_DegreeGrantor_Element" />
		<TemplateElement type="etd degree level" class="ETD_DegreeLevel_Element" />
		<TemplateElement type="etd graduation semester" class="ETD_GraduationSemester_Element" />
		<TemplateElement type="fast subject" class="FAST_Subject_Element" />
		<TemplateElement type="format" class="Format_Element" />
		<TemplateElement type="frequency" class="Frequency_Element" />
		<TemplateElement type="genre" class="Genre_Element" />
		<TemplateElement type="group title" class="Group_Title_Element" />
		<TemplateElement type="holding" class="Holding_Element" />
		<TemplateElement type="identifier" class="Identifier_Element" />
		<TemplateElement type="identifier" subtype="fixed_type" class="Identifier_Fixed_Type_Element" />
		<TemplateElement type="language" class="Language_Element" />
		<TemplateElement type="language" subtype="select" class="Language_Select_Element" />
		<TemplateElement type="lccn" class="LCCN_Element" />
		<TemplateElement type="literal" class="Literal_Element" />
		<TemplateElement type="lom aggregation level" class="LOM_AggregationLevel_Element" />
		<TemplateElement type="lom context" class="LOM_Contenxt_Element" />
		<TemplateElement type="lom difficulty level" class="LOM_DifficultyLevel_Element" />
		<TemplateElement type="lom intended end user role" class="LOM_IntendedUser_Element" />
		<TemplateElement type="lom interactivity level" class="LOM_InteractivityLevel_Element" />
		<TemplateElement type="lom interactivity type" class="LOM_InteractivityType_Element" />
		<TemplateElement type="lom learning resource type" class="LOM_ResourceType_Element" />
		<TemplateElement type="lom status" class="LOM_Status_Element" />
		<TemplateElement type="lom typical age range" class="LOM_TypicalAgeRange_Element" />
		<TemplateElement type="main thumbnail" class="Main_Thumbnail_Element" />
		<TemplateElement type="manufacturer" class="Manufacturer_Complex_Element" />
		<TemplateElement type="manufacturer" subtype="simple" class="Manufacturer_Element" />
		<TemplateElement type="material received date" class="Material_Received_Date" />
		<TemplateElement type="note" class="Note_Complex_Element" />
		<TemplateElement type="note" subtype="simple" class="Note_Element" />
		<TemplateElement type="oclc record num" class="OCLC_Record_Number_Element" />
		<TemplateElement type="other url" class="Other_URL_Form_Element" />
		<TemplateElement type="other url" subtype="simple" class="Other_URL_Element" />
		<TemplateElement type="primary identifier" class="Primary_Alt_Identifier_Element" />
		<TemplateElement type="project" class="Projects_Element" />
		<TemplateElement type="publication status" class="Publication_Status_Element" />
		<TemplateElement type="publication place" class="Publication_Place_Element" />
		<TemplateElement type="publisher" class="Publisher_Complex_Element" />
		<TemplateElement type="publisher" subtype="simple" class="Publisher_Element" />
		<TemplateElement type="record origin" class="Record_Origin_Element" />
		<TemplateElement type="record status" class="RecordStatus_Element" />
		<TemplateElement type="related item" class="Related_Item_Form_Element" />
		<TemplateElement type="rights" class="Rights_Element" />
		<TemplateElement type="rights" subtype="ir" class="IR_Rights_Element" />
		<TemplateElement type="scale" class="Scale_Element" />
		<TemplateElement type="serial hierarchy" class="Serial_Hierarchy_Form_Element" />
		<TemplateElement type="serial hierarchy" subtype="panel" class="Serial_Hierarchy_Panel_Element" />
		<TemplateElement type="source" class="Source_Element" />
		<TemplateElement type="spatial" class="Hierarchical_Spatial_Form_Element" />
		<TemplateElement type="spatial" subtype="simple" class="Spatial_Coverage_Element" />
		<TemplateElement type="subject" class="Subject_Keyword_Standard_Form_Element" />
		<TemplateElement type="subject" subtype="scheme" class="Subject_Scheme_Element" />
		<TemplateElement type="subject" subtype="simple" class="Subject_Element" />
		<TemplateElement type="sudoc" class="SuDOC_Element" />
		<TemplateElement type="target audience" class="Target_Audience_Element" />
		<TemplateElement type="temporal" class="Temporal_Complex_Element" />
		<TemplateElement type="temporal" subtype="simple" class="Temporal_Coverage_Element" />
		<TemplateElement type="tickler" class="Tickler_Element" />
		<TemplateElement type="title" class="Title_Main_Form_Element" />
		<TemplateElement type="title" subtype="simple" class="Title_Main_Element" />
		<TemplateElement type="other title" class="Other_Title_Form_Element" />
		<TemplateElement type="other title" subtype="simple" class="Other_Title_Element" />
		<TemplateElement type="tracking box" class="Tracking_Box_Element" />
		<TemplateElement type="type" class="Type_Format_Form_Element" />
		<TemplateElement type="type" subtype="ir" class="IR_Type_Element" />
		<TemplateElement type="type" subtype="simple" class="Type_Element" />
		<TemplateElement type="vid" class="VID_Element" />
		<TemplateElement type="viewer" class="Viewer_Element" />
		<TemplateElement type="visibility" class="Visibility_Element" />
		<TemplateElement type="vra cultural context" class="VRA_CulturalContext_Element" />
		<TemplateElement type="vra inscription" class="VRA_Inscription_Element" />
		<TemplateElement type="vra material" class="VRA_Material_Element" />
		<TemplateElement type="vra measurement" class="VRA_Measurement_Element" />
		<TemplateElement type="vra state edition" class="VRA_StateEdition_Element" />
		<TemplateElement type="vra style period" class="VRA_StylePeriod_Element" />
		<TemplateElement type="vra technique" class="VRA_Technique_Element" />
		<TemplateElement type="web skin" class="Web_Skin_Element" />
		<TemplateElement type="wordmark" class="Wordmark_Element" />
		<TemplateElement type="zoological taxonomy" class="Zoological_Taxonomy_Form_Element" />
	</TemplateElements>
</SobekCM_Config>
