<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <MicroservicesClient>
    <Add Key="Get_Complete_Aggregation" URL="http://localhost:57384/json/utility/citystate/zip/{0}" Protocol="JSON" />
    <Add Key="Get_Aggregation" URL="http://localhost:57384/json/dms/search/acct/{0}" Protocol="JSON" />
  </MicroservicesClient>
</SobekCM_Config>