<?xml version="1.0" encoding="utf-8"?>

<!-- READ BEFORE CHANGING!                                             -->
<!--   This file should not be edited in the config/default folder     -->
<!--   or you could lose all your changes during the next upgrade.     -->
<!--   To override these settings, copy this file into the config/user -->
<!--   folder and make your changes there.  You may need to reset the  -->
<!--   application cache for your changes to take affect.              -->

<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <OAI-PMH Enabled="true">
    
    <!-- The repository element below can also have an optrional IdentifierBase value which   -->
    <!-- sets the identifier base used by all the digital resources in this repository.       -->
    <!-- By default, this will be "oai:CODE:", where code is the System Base Abbreviation     -->
    <!-- from the system-wide settings.  An example with the identifier base information      -->
    <!-- appears below.                                                                       -->
    <!-- <Repository IdentifierBase="oai:code:" /> -->
    <Repository />
    <Identify>
      <!-- Uncomment the line below to set the name of the repository, for OAI-PMH purposes.  -->
      <!-- By default, this will be the System Base Name from the system-wide settings. This  -->
      <!-- value is really only used in the Identify verb.                                    -->
      <!-- <Name>CUSTOM REPOSITORY NAME</Name>  -->
      
      <!-- Uncomment the line below to set the identifier of the repository, for OAI-PMH      -->
      <!-- purposes.  By default, this will be the System Base Abbreviation from the          -->
      <!-- system-wide settings.  The identifiers for each item within your repository will   -->
      <!-- start with this code in their identifier, unless the IdentifierBase attribute      -->
      <!-- is set on the Repository element above.  It is also common to use the MARC         -->
      <!-- location code, rather than the repository idenfitier here.                         -->                                                                  -->
      <!-- <Identifier>CUSTOM</Identifier> -->
      
      <!-- Uncomment out the line below to override the email displayed within the Identify   -->
      <!-- for your repository.  By default, the System Email from the system-wide settings   -->
      <!-- will be used here.  This field is repeatable and putting any data here will        -->
      <!-- stop the system-wide settings(s) from being added.                                 -->
      <!-- <AdminEmail>name@domain.com</AdminEmail>
      <AdminEmail>name2@domain.com</AdminEmail> -->
      
      <!-- Uncomment out the line below to add description data to your Identify OAI-PMH     -->
      <!-- response.  This field is repeatable and by default is blank.                      -->
      <!-- <Description>Additional description section</Description>
      <Description>Another place to add custom description stuff</Description> -->
    
    </Identify>
    <MetadataPrefixes>
      <MetadataFormat Prefix="oai_dc" Schema="http://www.openarchives.org/OAI/2.0/oai_dc.xsd" MetadataNamespace="http://www.openarchives.org/OAI/2.0/oai_dc/" Assembly="" Namespace="SobekCM.Resource_Object.OAI.Writer" Class="DC_OAI_Metadata_Type_Writer" Enabled="true" />
      <MetadataFormat Prefix="marc21" Schema="http://www.loc.gov/standards/marcxml/schema/MARC21slim.xsd" MetadataNamespace="http://www.loc.gov/MARC21/slim" Assembly="" Namespace="SobekCM.Resource_Object.OAI.Writer" Class="MarcXML_OAI_PMH_Metadata_Type_Writer" Enabled="true" />
     </MetadataPrefixes>
  </OAI-PMH>
</SobekCM_Config>


