<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://sobekrepository.org/schemas/sobekcm_config"
  xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
    http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Static_Resources code="local">[%BASEURL%]/default
    <grouping name="css">
      <file key="print.css" source="[%BASEURL%]/default/css/sobekcm-print/4.8.4/print.min.css" />
      <file key="sobekcm.css" source="[%BASEURL%]/default/css/sobekcm/4.10.0/sobekcm.min.css" />
      <file key="sobekcm_admin.css" source="[%BASEURL%]/default/css/sobekcm-admin/4.10.0/sobekcm_admin.min.css" />
      <file key="sobekcm_bookturner.css" source="[%BASEURL%]/default/css/sobekcm-bookturner/4.8.4/SobekCM_BookTurner.min.css" />
      <file key="sobekcm_datatables.css" source="[%BASEURL%]/default/css/sobekcm-datatables/4.8.4/SobekCM_DataTables.min.css" />
      <file key="sobekcm_item.css" source="[%BASEURL%]/default/css/sobekcm-item/4.10.1/sobekcm_item.min.css" />
      <file key="sobekcm_mapeditor.css" source="[%BASEURL%]/default/css/sobekcm-map/4.8.4/SobekCM_MapEditor.min.css" />
      <file key="sobekcm_mapsearch.css" source="[%BASEURL%]/default/css/sobekcm-map/4.8.4/SobekCM_MapSearch.min.css" />
      <file key="sobekcm_metadata.css" source="[%BASEURL%]/default/css/sobekcm-metadata/4.10.0/sobekcm_metadata.min.css" />
      <file key="sobekcm_mysobek.css" source="[%BASEURL%]/default/css/sobekcm-mysobek/4.10.1/sobekcm_mysobek.css" />
      <file key="sobekcm_print.css" source="[%BASEURL%]/default/css/sobekcm-print/4.8.4/SobekCM_Print.min.css" />
      <file key="sobekcm_qc.css" source="[%BASEURL%]/default/css/sobekcm-qc/4.10.0/sobekcm_qc.min.css" />
      <file key="sobekcm_stats.css" source="[%BASEURL%]/default/css/sobekcm-stats/4.8.4/SobekCM_Stats.min.css" />
      <file key="sobekcm_trackingsheet.css" source="[%BASEURL%]/default/css/sobekcm-tracking/4.8.4/SobekCM_TrackingSheet.min.css" />
    </grouping>
    <grouping name="js">
      <file key="sobekcm_admin.js" source="[%BASEURL%]/default/js/sobekcm-admin/4.10.0/sobekcm_admin.min.js" />
      <file key="sobekcm_full.js" source="[%BASEURL%]/default/js/sobekcm-full/4.10.1/sobekcm_full.min.js" />
      <file key="sobekcm_map_editor.js" source="[%BASEURL%]/default/js/sobekcm-map-editor/4.8.4/sobekcm_map_editor.min.js" />
      <file key="sobekcm_map_search.js" source="[%BASEURL%]/default/js/sobekcm-map/4.8.4/sobekcm_map_search.min.js" />
      <file key="sobekcm_map_tool.js" source="[%BASEURL%]/default/js/sobekcm-map/4.8.11/sobekcm_map_tool.min.js" />
      <file key="sobekcm_metadata.js" source="[%BASEURL%]/default/js/sobekcm-metadata/4.10.1/sobekcm_metadata.js" />
      <file key="sobekcm_qc.js" source="[%BASEURL%]/default/js/sobekcm-qc/4.8.8/sobekcm_qc.min.js" />
      <file key="sobekcm_thumb_results.js" source="[%BASEURL%]/default/js/sobekcm-thumb-results/4.8.4/sobekcm_thumb_results.min.js" />
      <file key="sobekcm_track_item.js" source="[%BASEURL%]/default/js/sobekcm-track-item/4.8.4/sobekcm_track_item.min.js" />
    </grouping>
    <grouping name="images">
      <file key="16px-feed-icon.svg_img" source="[%BASEURL%]/default/images/misc/16px-Feed-icon.svg.png" />
      <file key="add_geospatial_icon_img" source="[%BASEURL%]/default/images/misc/add_geospatial_icon.png" />
      <file key="add_volume_icon_img" source="[%BASEURL%]/default/images/misc/add_volume_icon.png" />
      <file key="admin_view_img" source="[%BASEURL%]/default/images/misc/admin_view.png" />
      <file key="admin_view_img_large" source="[%BASEURL%]/default/images/misc/admin_view_lg.png" />
      <file key="aggregations_img" source="[%BASEURL%]/default/images/misc/aggregations.gif" />
      <file key="aggregations_img_large" source="[%BASEURL%]/default/images/misc/aggregations_lg.png" />
      <file key="ajax-loader_img" source="[%BASEURL%]/default/images/mapedit/ajax-loader.gif" />
      <file key="aliases_img" source="[%BASEURL%]/default/images/misc/aliases.png" />
      <file key="aliases_img_small" source="[%BASEURL%]/default/images/misc/aliases_small.png" />
      <file key="aliases_img_large" source="[%BASEURL%]/default/images/misc/aliases_large.png" />
      <file key="arw05lt_img" source="[%BASEURL%]/default/images/qc/ARW05LT.gif" />
      <file key="arw05rt_img" source="[%BASEURL%]/default/images/qc/ARW05RT.gif" />
      <file key="bg1_img" source="[%BASEURL%]/default/images/mapedit/bg1.png" />
      <file key="big_bookshelf_img" source="[%BASEURL%]/default/images/misc/big_bookshelf.gif" />
      <file key="blue_img" source="[%BASEURL%]/default/images/mapedit/mapIcons/blue.png" />
      <file key="blue-pin_img" source="[%BASEURL%]/default/images/mapsearch/blue-pin.png" />
      <file key="bookshelf_img" source="[%BASEURL%]/default/images/misc/bookshelf.png" />
      <file key="brief_blue_img" source="[%BASEURL%]/default/images/misc/brief_blue.png" />
      <file key="button_down_arrow_img" source="[%BASEURL%]/default/images/misc/button_down_arrow.png" />
      <file key="button_first_arrow_img" source="[%BASEURL%]/default/images/misc/button_first_arrow.png" />
      <file key="button_last_arrow_img" source="[%BASEURL%]/default/images/misc/button_last_arrow.png" />
      <file key="button_next_arrow_img" source="[%BASEURL%]/default/images/misc/button_next_arrow.png" />
      <file key="button_next_arrow2_img" source="[%BASEURL%]/default/images/misc/button_next_arrow2.png" />
      <file key="button_previous_arrow_img" source="[%BASEURL%]/default/images/misc/button_previous_arrow.png" />
      <file key="button_up_arrow_img" source="[%BASEURL%]/default/images/misc/button_up_arrow.png" />
      <file key="button-action1_img" source="[%BASEURL%]/default/images/mapedit/button-action1.png" />
      <file key="button-action2_img" source="[%BASEURL%]/default/images/mapedit/button-action2.png" />
      <file key="button-action3_img" source="[%BASEURL%]/default/images/mapedit/button-action3.png" />
      <file key="button-base_img" source="[%BASEURL%]/default/images/mapedit/button-base.png" />
      <file key="button-blocklot_img" source="[%BASEURL%]/default/images/mapedit/button-blockLot.png" />
      <file key="button-cancel_img" source="[%BASEURL%]/default/images/mapedit/button-cancel.png" />
      <file key="button-controls_img" source="[%BASEURL%]/default/images/mapedit/button-controls.png" />
      <file key="button-converttooverlay_img" source="[%BASEURL%]/default/images/mapedit/button-convertToOverlay.png" />
      <file key="button-drawcircle_img" source="[%BASEURL%]/default/images/mapedit/button-drawCircle.png" />
      <file key="button-drawline_img" source="[%BASEURL%]/default/images/mapedit/button-drawLine.png" />
      <file key="button-drawmarker_img" source="[%BASEURL%]/default/images/mapedit/button-drawMarker.png" />
      <file key="button-drawpolygon_img" source="[%BASEURL%]/default/images/mapedit/button-drawPolygon.png" />
      <file key="button-drawrectangle_img" source="[%BASEURL%]/default/images/mapedit/button-drawRectangle.png" />
      <file key="button-hybrid_img" source="[%BASEURL%]/default/images/mapedit/button-hybrid.png" />
      <file key="button-itemgetuserlocation_img" source="[%BASEURL%]/default/images/mapedit/button-itemGetUserLocation.png" />
      <file key="button-itemplace_img" source="[%BASEURL%]/default/images/mapedit/button-itemPlace.png" />
      <file key="button-itemreset_img" source="[%BASEURL%]/default/images/mapedit/button-itemReset.png" />
      <file key="button-layercustom_img" source="[%BASEURL%]/default/images/mapedit/button-layerCustom.png" />
      <file key="button-layerhybrid_img" source="[%BASEURL%]/default/images/mapedit/button-layerHybrid.png" />
      <file key="button-layerreset_img" source="[%BASEURL%]/default/images/mapedit/button-layerReset.png" />
      <file key="button-layerroadmap_img" source="[%BASEURL%]/default/images/mapedit/button-layerRoadmap.png" />
      <file key="button-layersatellite_img" source="[%BASEURL%]/default/images/mapedit/button-layerSatellite.png" />
      <file key="button-layerterrain_img" source="[%BASEURL%]/default/images/mapedit/button-layerTerrain.png" />
      <file key="button-manageitem_img" source="[%BASEURL%]/default/images/mapedit/button-manageItem.png" />
      <file key="button-manageoverlay_img" source="[%BASEURL%]/default/images/mapedit/button-manageOverlay.png" />
      <file key="button-managepoi_img" source="[%BASEURL%]/default/images/mapedit/button-managePOI.png" />
      <file key="button-overlayedit_img" source="[%BASEURL%]/default/images/mapedit/button-overlayEdit.png" />
      <file key="button-overlaygetuserlocation_img" source="[%BASEURL%]/default/images/mapedit/button-overlayGetUserLocation.png" />
      <file key="button-overlayplace_img" source="[%BASEURL%]/default/images/mapedit/button-overlayPlace.png" />
      <file key="button-overlayreset_img" source="[%BASEURL%]/default/images/mapedit/button-overlayReset.png" />
      <file key="button-overlayrotate_img" source="[%BASEURL%]/default/images/mapedit/button-overlayRotate.png" />
      <file key="button-overlaytoggle_img" source="[%BASEURL%]/default/images/mapedit/button-overlayToggle.png" />
      <file key="button-overlaytransparency_img" source="[%BASEURL%]/default/images/mapedit/button-overlayTransparency.png" />
      <file key="button-pandown_img" source="[%BASEURL%]/default/images/mapedit/button-panDown.png" />
      <file key="button-panleft_img" source="[%BASEURL%]/default/images/mapedit/button-panLeft.png" />
      <file key="button-panreset_img" source="[%BASEURL%]/default/images/mapedit/button-panReset.png" />
      <file key="button-panright_img" source="[%BASEURL%]/default/images/mapedit/button-panRight.png" />
      <file key="button-panup_img" source="[%BASEURL%]/default/images/mapedit/button-panUp.png" />
      <file key="button-poicircle_img" source="[%BASEURL%]/default/images/mapedit/button-poiCircle.png" />
      <file key="button-poiedit_img" source="[%BASEURL%]/default/images/mapedit/button-poiEdit.png" />
      <file key="button-poigetuserlocation_img" source="[%BASEURL%]/default/images/mapedit/button-poiGetUserLocation.png" />
      <file key="button-poiline_img" source="[%BASEURL%]/default/images/mapedit/button-poiLine.png" />
      <file key="button-poimarker_img" source="[%BASEURL%]/default/images/mapedit/button-poiMarker.png" />
      <file key="button-poiplace_img" source="[%BASEURL%]/default/images/mapedit/button-poiPlace.png" />
      <file key="button-poipolygon_img" source="[%BASEURL%]/default/images/mapedit/button-poiPolygon.png" />
      <file key="button-poirectangle_img" source="[%BASEURL%]/default/images/mapedit/button-poiRectangle.png" />
      <file key="button-poireset_img" source="[%BASEURL%]/default/images/mapedit/button-poiReset.png" />
      <file key="button-poitoggle_img" source="[%BASEURL%]/default/images/mapedit/button-poiToggle.png" />
      <file key="button-reset_img" source="[%BASEURL%]/default/images/mapedit/button-reset.png" />
      <file key="button-roadmap_img" source="[%BASEURL%]/default/images/mapedit/button-roadmap.png" />
      <file key="button-satellite_img" source="[%BASEURL%]/default/images/mapedit/button-satellite.png" />
      <file key="button-save_img" source="[%BASEURL%]/default/images/mapedit/button-save.png" />
      <file key="button-search_img" source="[%BASEURL%]/default/images/mapedit/button-search.png" />
      <file key="button-terrain_img" source="[%BASEURL%]/default/images/mapedit/button-terrain.png" />
      <file key="button-togglemapcontrols_img" source="[%BASEURL%]/default/images/mapedit/button-toggleMapControls.png" />
      <file key="button-toggletoolbar_img" source="[%BASEURL%]/default/images/mapedit/button-toggleToolbar.png" />
      <file key="button-toggletoolbox_img" source="[%BASEURL%]/default/images/mapedit/button-toggleToolbox.png" />
      <file key="button-toolbox_img" source="[%BASEURL%]/default/images/mapedit/button-toolbox.png" />
      <file key="button-usesearchaslocation_img" source="[%BASEURL%]/default/images/mapedit/button-useSearchAsLocation.png" />
      <file key="button-zoomin_img" source="[%BASEURL%]/default/images/mapedit/button-zoomIn.png" />
      <file key="button-zoomout_img" source="[%BASEURL%]/default/images/mapedit/button-zoomOut.png" />
      <file key="button-zoomreset_img" source="[%BASEURL%]/default/images/mapedit/button-zoomReset.png" />
      <file key="button-zoomreset2_img" source="[%BASEURL%]/default/images/mapedit/button-zoomReset2.png" />
      <file key="calendar_button_img" source="[%BASEURL%]/default/images/misc/calendar_button.png" />
      <file key="cancel.ico" source="[%BASEURL%]/default/images/qc/Cancel.ico" />
      <file key="cc_by_img" source="[%BASEURL%]/default/images/misc/cc_by.png" />
      <file key="cc_by_nc_img" source="[%BASEURL%]/default/images/misc/cc_by_nc.png" />
      <file key="cc_by_nc_nd_img" source="[%BASEURL%]/default/images/misc/cc_by_nc_nd.png" />
      <file key="cc_by_nc_sa_img" source="[%BASEURL%]/default/images/misc/cc_by_nc_sa.png" />
      <file key="cc_by_nd_img" source="[%BASEURL%]/default/images/misc/cc_by_nd.png" />
      <file key="cc_by_sa_img" source="[%BASEURL%]/default/images/misc/cc_by_sa.png" />
      <file key="cc_zero_img" source="[%BASEURL%]/default/images/misc/cc_zero.png" />
      <file key="chat_img" source="[%BASEURL%]/default/images/misc/chat.png" />
      <file key="checkmark_img" source="[%BASEURL%]/default/images/misc/checkmark.png" />
      <file key="checkmark2_img" source="[%BASEURL%]/default/images/misc/checkmark2.png" />
      <file key="closed_folder_img" source="[%BASEURL%]/default/images/misc/closed_folder.jpg" />
      <file key="closed_folder_public_img" source="[%BASEURL%]/default/images/misc/closed_folder_public.jpg" />
      <file key="closed_folder_public_big_img" source="[%BASEURL%]/default/images/misc/closed_folder_public_big.jpg" />
      <file key="dark_resource_img" source="[%BASEURL%]/default/images/misc/dark_resource.png" />
      <file key="delete_cursor.cur" source="[%BASEURL%]/default/images/qc/delete_cursor.cur" />
      <file key="delete_item_icon_img" source="[%BASEURL%]/default/images/misc/delete_item_icon.png" />
      <file key="digg_share_img" source="[%BASEURL%]/default/images/misc/digg_share.gif" />
      <file key="digg_share_h_img" source="[%BASEURL%]/default/images/misc/digg_share_h.gif" />
      <file key="dloc_banner_700_img" source="[%BASEURL%]/default/images/misc/dloc_banner_700.jpg" />
      <file key="drag1pg.ico" source="[%BASEURL%]/default/images/qc/DRAG1PG.ICO" />
      <file key="edit_img" source="[%BASEURL%]/default/images/misc/edit.gif" />
      <file key="edit_mapedit_img" source="[%BASEURL%]/default/images/mapedit/edit.png" />
      <file key="edit_behaviors_icon_img" source="[%BASEURL%]/default/images/misc/edit_behaviors_icon.png" />
      <file key="edit_metadata_icon_img" source="[%BASEURL%]/default/images/misc/edit_metadata_icon.png" />
      <file key="email_img" source="[%BASEURL%]/default/images/misc/email.png" />
      <file key="emptypage_img" source="[%BASEURL%]/default/images/bookturner/emptypage.jpg" />
      <file key="exit_img" source="[%BASEURL%]/default/images/misc/exit.gif" />
      <file key="facebook_share_img" source="[%BASEURL%]/default/images/misc/facebook_share.gif" />
      <file key="facebook_share_h_img" source="[%BASEURL%]/default/images/misc/facebook_share_h.gif" />
      <file key="favorites_share_img" source="[%BASEURL%]/default/images/misc/favorites_share.gif" />
      <file key="favorites_share_h_img" source="[%BASEURL%]/default/images/misc/favorites_share_h.gif" />
      <file key="file_management_icon_img" source="[%BASEURL%]/default/images/misc/file_management_icon.png" />
      <file key="file_ai_img" source="[%BASEURL%]/default/images/misc/file_ai.png" />
      <file key="file_eps_img" source="[%BASEURL%]/default/images/misc/file_eps.png" />
      <file key="file_excel_img" source="[%BASEURL%]/default/images/misc/file_excel.png" />
      <file key="file_font_img" source="[%BASEURL%]/default/images/misc/file_font.png" />
      <file key="file_kml_img" source="[%BASEURL%]/default/images/misc/file_kml.png" />
      <file key="file_pdf_img" source="[%BASEURL%]/default/images/misc/file_pdf.png" />
      <file key="file_psd_img" source="[%BASEURL%]/default/images/misc/file_psd.png" />
      <file key="file_pub_img" source="[%BASEURL%]/default/images/misc/file_pub.png" />
      <file key="file_txt_img" source="[%BASEURL%]/default/images/misc/file_txt.png" />
      <file key="file_word_img" source="[%BASEURL%]/default/images/misc/file_word.png" />
      <file key="file_xml_img" source="[%BASEURL%]/default/images/misc/file_xml.png" />
      <file key="file_vsd_img" source="[%BASEURL%]/default/images/misc/file_vsd.png" />
      <file key="firewall_img" source="[%BASEURL%]/default/images/misc/firewall_med.png" />
      <file key="firewall_img_small" source="[%BASEURL%]/default/images/misc/firewall.png" />
      <file key="first2_img" source="[%BASEURL%]/default/images/bookturner/first2.png" />
      <file key="gears_img" source="[%BASEURL%]/default/images/misc/gears.png" />
      <file key="gears_img_small" source="[%BASEURL%]/default/images/misc/gears_small.png" />
      <file key="gears_img_large" source="[%BASEURL%]/default/images/misc/gears_large.png" />
      <file key="geo_blue_img" source="[%BASEURL%]/default/images/misc/geo_blue.png" />
      <file key="get_adobe_reader_img" source="[%BASEURL%]/default/images/misc/get_adobe_reader.png" />
      <file key="getuserlocation_img" source="[%BASEURL%]/default/images/mapedit/getUserLocation.png" />
      <file key="go_button_img" source="[%BASEURL%]/default/images/misc/go_button.png" />
      <file key="go_gray_img" source="[%BASEURL%]/default/images/misc/go_gray.gif" />
      <file key="google_share_img" source="[%BASEURL%]/default/images/misc/google_share.gif" />
      <file key="google_share_h_img" source="[%BASEURL%]/default/images/misc/google_share_h.gif" />
      <file key="help_button_img" source="[%BASEURL%]/default/images/misc/help_button.jpg" />
      <file key="help_button_darkgray_img" source="[%BASEURL%]/default/images/misc/help_button_darkgray.jpg" />
      <file key="hide_internal_header_img" source="[%BASEURL%]/default/images/misc/hide_internal_header.png" />
      <file key="hide_internal_header2_img" source="[%BASEURL%]/default/images/misc/hide_internal_header2.png" />
      <file key="home_img" source="[%BASEURL%]/default/images/misc/home.png" />
      <file key="home_button_img" source="[%BASEURL%]/default/images/misc/home_button.gif" />
      <file key="home_folder_img" source="[%BASEURL%]/default/images/misc/home_folder.gif" />
      <file key="icons-os_img" source="[%BASEURL%]/default/images/mapedit/icons-os.png" />
      <file key="item_count_img" source="[%BASEURL%]/default/images/misc/item_count.png" />
      <file key="item_count_img_large" source="[%BASEURL%]/default/images/misc/item_count_lg.png" />
      <file key="last2_img" source="[%BASEURL%]/default/images/bookturner/last2.png" />
      <file key="leftarrow_img" source="[%BASEURL%]/default/images/misc/leftarrow.png" />
      <file key="legend_nonselected_polygon_img" source="[%BASEURL%]/default/images/misc/legend_nonselected_polygon.png" />
      <file key="legend_point_interest_img" source="[%BASEURL%]/default/images/misc/legend_point_interest.png" />
      <file key="legend_red_pushpin_img" source="[%BASEURL%]/default/images/misc/legend_red_pushpin.png" />
      <file key="legend_search_area_img" source="[%BASEURL%]/default/images/misc/legend_search_area.png" />
      <file key="legend_selected_polygon_img" source="[%BASEURL%]/default/images/misc/legend_selected_polygon.png" />
      <file key="main_information.ico" source="[%BASEURL%]/default/images/qc/Main_Information.ICO" />
      <file key="manage_collection_img" source="[%BASEURL%]/default/images/misc/manage_collection.png" />
      <file key="map_drag_hand_img" source="[%BASEURL%]/default/images/misc/map_drag_hand.gif" />
      <file key="map_tack_img" source="[%BASEURL%]/default/images/misc/map_point.gif" />
      <file key="map_point_img" source="[%BASEURL%]/default/images/misc/map_point.png" />
      <file key="map_polygon2_img" source="[%BASEURL%]/default/images/misc/map_polygon2.gif" />
      <file key="map_rectangle2_img" source="[%BASEURL%]/default/images/misc/map_rectangle2.gif" />
      <file key="mass_update_icon_img" source="[%BASEURL%]/default/images/misc/mass_update_icon.png" />
      <file key="metadata_browse_img_large" source="[%BASEURL%]/default/images/misc/metadata_browse_large.png" />
      <file key="metadata_browse_img" source="[%BASEURL%]/default/images/misc/metadata_browse.png" />
      <file key="minussign_img" source="[%BASEURL%]/default/images/misc/minussign.png" />
      <file key="missingimage_img" source="[%BASEURL%]/default/images/misc/MissingImage.jpg" />
      <file key="move_pages_cursor.cur" source="[%BASEURL%]/default/images/qc/move_pages_cursor.cur" />
      <file key="new_element_img" source="[%BASEURL%]/default/images/misc/new_element.jpg" />
      <file key="new_element_demo_img" source="[%BASEURL%]/default/images/misc/new_element_demo.jpg" />
      <file key="new_folder_img" source="[%BASEURL%]/default/images/misc/new_folder.jpg" />
      <file key="new_item_img" source="[%BASEURL%]/default/images/misc/new_item.gif" />
      <file key="next_img" source="[%BASEURL%]/default/images/bookturner/next.png" />
      <file key="next2_img" source="[%BASEURL%]/default/images/bookturner/next2.png" />
      <file key="no_pages_img" source="[%BASEURL%]/default/images/qc/no_pages.jpg" />
      <file key="nocheckmark_img" source="[%BASEURL%]/default/images/misc/nocheckmark.png" />
      <file key="nothumb_img" source="[%BASEURL%]/default/images/misc/NoThumb.jpg" />
      <file key="open_folder_img" source="[%BASEURL%]/default/images/misc/open_folder.jpg" />
      <file key="open_folder_public_img" source="[%BASEURL%]/default/images/misc/open_folder_public.jpg" />
      <file key="pagenumbg_img" source="[%BASEURL%]/default/images/bookturner/pageNumBg.gif" />
      <file key="plussign_img" source="[%BASEURL%]/default/images/misc/plussign.png" />
      <file key="pmets_img" source="[%BASEURL%]/default/images/misc/pmets.gif" />
      <file key="point02.ico" source="[%BASEURL%]/default/images/qc/POINT02.ICO" />
      <file key="point04.ico" source="[%BASEURL%]/default/images/qc/POINT04.ICO" />
      <file key="point13.ico" source="[%BASEURL%]/default/images/qc/POINT13.ICO" />
      <file key="pointer_blue_img" source="[%BASEURL%]/default/images/misc/pointer_blue.gif" />
      <file key="portal_img" source="[%BASEURL%]/default/images/misc/portal.png" />
      <file key="portal_img_small" source="[%BASEURL%]/default/images/misc/portals_small.png" />
      <file key="portal_img_large" source="[%BASEURL%]/default/images/misc/portal_large.png" />
      <file key="previous2_img" source="[%BASEURL%]/default/images/bookturner/previous2.png" />
      <file key="printer_img" source="[%BASEURL%]/default/images/misc/printer.png" />
      <file key="private_items_img" source="[%BASEURL%]/default/images/misc/private_items.png" />
      <file key="private_items_img_large" source="[%BASEURL%]/default/images/misc/private_items_lg.png" />
      <file key="private_resource_img_jumbo" source="[%BASEURL%]/default/images/misc/private_resource_icon.png" />
      <file key="public_resource_img_jumbo" source="[%BASEURL%]/default/images/misc/public_resource_icon.png" />
      <file key="qc_addfiles_img" source="[%BASEURL%]/default/images/qc/qc_addfiles.png" />
      <file key="qc_button_img_large" source="[%BASEURL%]/default/images/misc/qc_button_icon.png" />
      <file key="rect_large.ico" source="[%BASEURL%]/default/images/qc/rect_large.ico" />
      <file key="rect_medium.ico" source="[%BASEURL%]/default/images/qc/rect_medium.ico" />
      <file key="rect_small.ico" source="[%BASEURL%]/default/images/qc/rect_small.ico" />
      <file key="red-pushpin_img" source="[%BASEURL%]/default/images/mapsearch/red-pushpin.png" />
      <file key="refresh_img" source="[%BASEURL%]/default/images/misc/refresh.png" />
      <file key="refresh_img_small" source="[%BASEURL%]/default/images/misc/refresh_small.png" />
      <file key="refresh_img_large" source="[%BASEURL%]/default/images/misc/refresh_large.png" />
      <file key="refresh_folder_img" source="[%BASEURL%]/default/images/misc/refresh_folder.jpg" />
      <file key="removeicon_img" source="[%BASEURL%]/default/images/misc/removeIcon.gif" />
      <file key="restricted_resource_img_large" source="[%BASEURL%]/default/images/misc/restricted_resource_lg.png" />
      <file key="restricted_resource_img_jumbo" source="[%BASEURL%]/default/images/misc/restricted_resource_icon.png" />
      <file key="return_img" source="[%BASEURL%]/default/images/misc/return.gif" />
      <file key="rotation-clockwise_img" source="[%BASEURL%]/default/images/mapedit/rotation-clockwise.png" />
      <file key="rotation-counterclockwise_img" source="[%BASEURL%]/default/images/mapedit/rotation-counterClockwise.png" />
      <file key="rotation-reset_img" source="[%BASEURL%]/default/images/mapedit/rotation-reset.png" />
      <file key="save.ico" source="[%BASEURL%]/default/images/qc/Save.ico" />
      <file key="saved_searches_img" source="[%BASEURL%]/default/images/misc/saved_searches.gif" />
      <file key="saved_searches_img_jumbo" source="[%BASEURL%]/default/images/misc/saved_searches_big.gif" />
      <file key="search_img" source="[%BASEURL%]/default/images/mapedit/search.png" />
      <file key="search_advanced_img" source="[%BASEURL%]/default/images/misc/search_advanced.png" />
      <file key="search_advanced_mimetype_img" source="[%BASEURL%]/default/images/misc/search_advanced_mimetype.png" />
      <file key="search_advanced_year_range_img" source="[%BASEURL%]/default/images/misc/search_advanced_year_range.png" />
      <file key="search_basic_img" source="[%BASEURL%]/default/images/misc/search_basic.png" />
      <file key="search_basic_mimetype_img" source="[%BASEURL%]/default/images/misc/search_basic_mimetype.png" />
      <file key="search_basic_year_range_img" source="[%BASEURL%]/default/images/misc/search_basic_year_range.png" />
      <file key="search_basic_with_fulltext_img" source="[%BASEURL%]/default/images/misc/search_basic_with_fulltext.png" />
      <file key="search_full_text_img" source="[%BASEURL%]/default/images/misc/search_full_text.png" />
      <file key="search_full_text_exlude_newspapers_img" source="[%BASEURL%]/default/images/misc/search_fulltext_exclude_newspapers.png" />
      <file key="search_map_img" source="[%BASEURL%]/default/images/misc/search_map.png" />
      <file key="search_newspaper_img" source="[%BASEURL%]/default/images/misc/search_newspaper.png" />
      <file key="settings_img" source="[%BASEURL%]/default/images/misc/settings.png" />
      <file key="settings_img_small" source="[%BASEURL%]/default/images/misc/settings_small.png" />
      <file key="settings_img_large" source="[%BASEURL%]/default/images/misc/settings_large.png" />
      <file key="show_internal_header_img" source="[%BASEURL%]/default/images/misc/show_internal_header.png" />
      <file key="skins_img" source="[%BASEURL%]/default/images/misc/skins.png" />
      <file key="skins_img_small" source="[%BASEURL%]/default/images/misc/skins_small.gif" />
      <file key="skins_img_large" source="[%BASEURL%]/default/images/misc/skins_lg.png" />
      <file key="spinner_img" source="[%BASEURL%]/default/images/misc/spinner.gif" />
      <file key="spinner_gray_img" source="[%BASEURL%]/default/images/misc/spinner_gray.gif" />
      <file key="stumbleupon_share_img" source="[%BASEURL%]/default/images/misc/stumbleupon_share.gif" />
      <file key="stumbleupon_share_h_img" source="[%BASEURL%]/default/images/misc/stumbleupon_share_h.gif" />
      <file key="submitted_items_img" source="[%BASEURL%]/default/images/misc/submitted_items.gif" />
      <file key="table_blue_img" source="[%BASEURL%]/default/images/misc/table_blue.png" />
      <file key="thematic_heading_img" source="[%BASEURL%]/default/images/misc/thematic_heading.png" />
      <file key="thematic_heading_img_small" source="[%BASEURL%]/default/images/misc/thematic_heading.gif" />
      <file key="thematic_heading_img_large" source="[%BASEURL%]/default/images/misc/thematic_heading_lg.png" />
      <file key="thumb_blue_img" source="[%BASEURL%]/default/images/misc/thumb_blue.png" />
      <file key="thumbnail_cursor.cur" source="[%BASEURL%]/default/images/qc/thumbnail_cursor.cur" />
      <file key="thumbnail_large_img" source="[%BASEURL%]/default/images/misc/thumbnail_large.gif" />
      <file key="thumbs1_img" source="[%BASEURL%]/default/images/misc/thumbs1.gif" />
      <file key="thumbs1_selected_img" source="[%BASEURL%]/default/images/misc/thumbs1_selected.gif" />
      <file key="thumbs2_img" source="[%BASEURL%]/default/images/misc/thumbs2.gif" />
      <file key="thumbs2_selected_img" source="[%BASEURL%]/default/images/misc/thumbs2_selected.gif" />
      <file key="thumbs3_img" source="[%BASEURL%]/default/images/misc/thumbs3.gif" />
      <file key="thumbs3_selected_img" source="[%BASEURL%]/default/images/misc/thumbs3_selected.gif" />
      <file key="toolbar-toggle_img" source="[%BASEURL%]/default/images/mapedit/toolbar-toggle.png" />
      <file key="toolbox-close2_img" source="[%BASEURL%]/default/images/mapedit/toolbox-close2.png" />
      <file key="toolbox-icon_img" source="[%BASEURL%]/default/images/mapedit/toolbox-icon.png" />
      <file key="toolbox-maximize2_img" source="[%BASEURL%]/default/images/mapedit/toolbox-maximize2.png" />
      <file key="toolbox-minimize2_img" source="[%BASEURL%]/default/images/mapedit/toolbox-minimize2.png" />
      <file key="top_left_img" source="[%BASEURL%]/default/images/bookturner/top_left.jpg" />
      <file key="top_right_img" source="[%BASEURL%]/default/images/bookturner/top_right.jpg" />
      <file key="track2_img" source="[%BASEURL%]/default/images/misc/track2.gif" />
      <file key="trash01.ico" source="[%BASEURL%]/default/images/qc/TRASH01.ICO" />
      <file key="twitter_share_img" source="[%BASEURL%]/default/images/misc/twitter_share.gif" />
      <file key="twitter_share_h_img" source="[%BASEURL%]/default/images/misc/twitter_share_h.gif" />
      <file key="ufdc_banner_700_img" source="[%BASEURL%]/default/images/misc/ufdc_banner_700.jpg" />
      <file key="ui-icons_ffffff_256x240_img" source="[%BASEURL%]/default/images/mapsearch/ui-icons_ffffff_256x240.png" />
      <file key="usage_img" source="[%BASEURL%]/default/images/misc/usage.png" />
      <file key="usage_img_large" source="[%BASEURL%]/default/images/misc/usage_lg.png" />
      <file key="users_img" source="[%BASEURL%]/default/images/misc/users_med.png" />
      <file key="users_img_small" source="[%BASEURL%]/default/images/misc/Users.png" />
      <file key="users_img_large" source="[%BASEURL%]/default/images/misc/users_lg.png" />
      <file key="user_permission_img" source="[%BASEURL%]/default/images/misc/icon_permission.png" />
      <file key="user_permissions_img_large" source="[%BASEURL%]/default/images/misc/user_permissions_lg.png" />
      <file key="view.ico" source="[%BASEURL%]/default/images/qc/View.ico" />
      <file key="view_work_log_img" source="[%BASEURL%]/default/images/misc/view_work_log.png" />
      <file key="view_work_log_img_large" source="[%BASEURL%]/default/images/misc/view_work_log_icon.png" />
      <file key="webcontent_img" source="[%BASEURL%]/default/images/misc/web_content_medium.png" />
      <file key="webcontent_img_small" source="[%BASEURL%]/default/images/misc/web_content_small.png" />
      <file key="webcontent_img_large" source="[%BASEURL%]/default/images/misc/web_content_large.png" />
      <file key="webcontent_history_img" source="[%BASEURL%]/default/images/misc/webcontent_history.png" />
      <file key="webcontent_history_img_small" source="[%BASEURL%]/default/images/misc/webcontent_history_small.png" />
      <file key="webcontent_history_img_large" source="[%BASEURL%]/default/images/misc/webcontent_history_large.png" />
      <file key="webcontent_usage_img" source="[%BASEURL%]/default/images/misc/webcontent_usage.png" />
      <file key="webcontent_usage_img_small" source="[%BASEURL%]/default/images/misc/webcontent_usage_small.png" />
      <file key="webcontent_usage_img_large" source="[%BASEURL%]/default/images/misc/webcontent_usage_large.png" />
      <file key="wizard_img" source="[%BASEURL%]/default/images/misc/wizard.png" />
      <file key="wizard_img_large" source="[%BASEURL%]/default/images/misc/wizard_lg.png" />
      <file key="wordmarks_img" source="[%BASEURL%]/default/images/misc/wordmarks.png" />
      <file key="wordmarks_img_small" source="[%BASEURL%]/default/images/misc/wordmarks_small.png" />
      <file key="wordmarks_img_large" source="[%BASEURL%]/default/images/misc/wordmarks_large.png" />
      <file key="wrench_img" source="[%BASEURL%]/default/images/misc/wrench.png" />
      <file key="yahoo_share_img" source="[%BASEURL%]/default/images/misc/yahoo_share.gif" />
      <file key="yahoo_share_h_img" source="[%BASEURL%]/default/images/misc/yahoo_share_h.gif" />
      <file key="yahoobuzz_share_img" source="[%BASEURL%]/default/images/misc/yahoobuzz_share.gif" />
      <file key="yahoobuzz_share_h_img" source="[%BASEURL%]/default/images/misc/yahoobuzz_share_h.gif" />
      <file key="zoom_tool.cur" source="[%BASEURL%]/default/images/misc/zoom_tool.cur" />
      <file key="zoomin_img" source="[%BASEURL%]/default/images/bookturner/zoomin.png" />
      <file key="zoomout_img" source="[%BASEURL%]/default/images/bookturner/zoomout.png" />
    </grouping>
    <grouping name="includes">
      <file key="bookturner.js" source="[%BASEURL%]/default/includes/bookturner/1.0.0/bookturner.min.js" />
      <file key="chart.js" source="[%BASEURL%]/default/includes/chartjs/1.0.2/Chart.min.js" />
      <file key="ckeditor.js" source="[%BASEURL%]/default/includes/ckeditor/4.4.7/ckeditor.js" />
      <file key="contentslider.js" source="[%BASEURL%]/default/includes/contentslider/2.4/contentslider.min.js" />
      <file key="gmaps-infobox.js" source="[%BASEURL%]/default/includes/gmaps-infobox/1.0/gmaps-infobox.min.js" />
      <file key="gmaps-markerwithlabel.js" source="[%BASEURL%]/default/includes/gmaps-markerwithlabel/1.9.1/gmaps-markerwithlabel-1.9.1.min.js" />
      <file key="html5shiv.js" source="[%BASEURL%]/default/includes/html5shiv/3.7.3/html5shiv.js" />
      <file key="jquery.color-2.1.1.js" source="[%BASEURL%]/default/includes/jquery-color/2.1.1/jquery.color-2.1.1.min.js" />
      <file key="jquery.datatables.js" source="[%BASEURL%]/default/includes/datatables/1.11.1/js/jquery.dataTables.min.js" />
      <file key="jquery.easing.1.3.js" source="[%BASEURL%]/default/includes/bookturner/1.0.0/jquery.easing.1.3.min.js" />
      <file key="jquery.hovercard.js" source="[%BASEURL%]/default/includes/jquery-hovercard/2.4/jquery.hovercard.min.js" />
      <file key="jquery.mousewheel.js" source="[%BASEURL%]/default/includes/jquery-mousewheel/3.1.3/jquery.mousewheel.min.js" />
      <file key="jquery.qtip.css" source="[%BASEURL%]/default/includes/jquery-qtip/2.2.0/jquery.qtip.min.css" />
      <file key="jquery.qtip.js" source="[%BASEURL%]/default/includes/jquery-qtip/2.2.0/jquery.qtip.min.js" />
      <file key="jquery.timeentry.js" source="[%BASEURL%]/default/includes/timeentry/1.5.2/jquery.timeentry.min.js" />
      <file key="jquery.timers.js" source="[%BASEURL%]/default/includes/jquery-timers/1.2/jquery.timers.min.js" />
      <file key="jquery.uploadifive.js" source="[%BASEURL%]/default/includes/uploadifive/1.1.2/jquery.uploadifive.min.js" />
      <file key="jquery.uploadify.js" source="[%BASEURL%]/default/includes/uploadify/3.2.1/jquery.uploadify.min.js" />
      <file key="jquery-1.10.2.js" source="[%BASEURL%]/default/includes/jquery/1.10.2/jquery-1.10.2.min.js" />
      <file key="jquery-1.2.6.min.js" source="[%BASEURL%]/default/includes/bookturner/1.0.0/jquery-1.2.6.min.js" />
      <file key="jquery-json-2.4.js" source="[%BASEURL%]/default/includes/jquery-json/2.4/jquery-json-2.4.min.js" />
      <file key="jquery-knob.js" source="[%BASEURL%]/default/includes/jquery-knob/1.2.0/jquery-knob.min.js" />
      <file key="jquery-migrate-1.1.1.js" source="[%BASEURL%]/default/includes/jquery-migrate/1.1.1/jquery-migrate-1.1.1.min.js" />
      <file key="jquery-rotate.js" source="[%BASEURL%]/default/includes/jquery-rotate/2.2/jquery-rotate.min.js" />
      <file key="jquery-searchbox.css" source="[%BASEURL%]/default/includes/jquery-searchbox/1.0/jquery-searchbox.min.css" />
      <file key="jquery-ui-1.10.1.js" source="[%BASEURL%]/default/includes/jquery-ui/1.10.1/jquery-ui-1.10.1.min.js" />
      <file key="jquery-ui-1.10.3.custom.js" source="[%BASEURL%]/default/includes/jquery-ui/1.10.3/jquery-ui-1.10.3.custom.min.js" />
      <file key="jquery-ui.css" source="[%BASEURL%]/default/includes/jquery-ui/1.10.3/jQuery-ui.min.css" />
      <file key="jsdatepick.min.1.3.js" source="[%BASEURL%]/default/includes/datepicker/1.3/jsDatePick.min.1.3.js" />
      <file key="jsdatepick_ltr.css" source="[%BASEURL%]/default/includes/datepicker/1.3/jsDatePick_ltr.css" />
      <file key="jstree.css" source="[%BASEURL%]/default/includes/jstree/3.0.9/themes/default/jstree.min.css" />
      <file key="jstree.js" source="[%BASEURL%]/default/includes/jstree/3.0.9/jstree.min.js" />
      <file key="keydragzoom_packed.js" source="[%BASEURL%]/default/includes/keydragzoom/1.0/keydragzoom_packed.js" />
      <file key="uploadifive.css" source="[%BASEURL%]/default/includes/uploadifive/1.1.2/uploadifive.min.css" />
      <file key="uploadify.css" source="[%BASEURL%]/default/includes/uploadify/3.2.1/uploadify.min.css" />
      <file key="uploadify.swf" source="[%BASEURL%]/default/includes/uploadify/3.2.1/uploadify.swf" />
    </grouping>
  </Static_Resources>
</SobekCM_Config>