<?xml version="1.0" encoding="utf-8"?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <OAI-PMH Enabled="true">
    <Repository IdentifierBase="oai:ufdc:" />
    <Identify>
      <Name>University of Florida Digital Collections</Name>
      <Identifier>ufdc</Identifier>
      <AdminEmail>marsull@uflib.ufl.edu</AdminEmail>
      <AdminEmail>test@ufl.edu</AdminEmail>
      <Description>Additional description section</Description>
      <Description>Another place to add custom description stuff</Description>
    </Identify>
    <MetadataPrefixes>
      <MetadataFormat Prefix="oai_dc" Schema="http://www.openarchives.org/OAI/2.0/oai_dc.xsd" MetadataNamespace="http://www.openarchives.org/OAI/2.0/oai_dc/" Assembly="" Namespace="SobekCM.Resource_Object.OAI.Writer" Class="DC_OAI_Metadata_Type_Writer" Enabled="true" />
      <MetadataFormat Prefix="marc21" Schema="http://www.loc.gov/standards/marcxml/schema/MARC21slim.xsd" MetadataNamespace="http://www.loc.gov/MARC21/slim" Assembly="" Namespace="SobekCM.Resource_Object.OAI.Writer" Class="MarcXML_OAI_PMH_Metadata_Type_Writer" Enabled="true" />
      <MetadataFormat Prefix="olac" Schema="http://www.language-archives.org/OLAC/olac-0.2.xsd" MetadataNamespace="http://www.language-archives.org/OLAC/0.2/" Assembly="" Namespace="C" Class="G" Enabled="false" />
      <MetadataFormat Prefix="perseus" Schema="http://www.perseus.tufts.edu/persmeta.xsd" MetadataNamespace="http://www.perseus.tufts.edu/persmeta.dtd" Assembly="" Namespace="D" Class="H" Enabled="false" />
    </MetadataPrefixes>
  </OAI-PMH>
</SobekCM_Config>


