<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <WriterViewers ClearAll="true">
    
    <!-- These are special writers, since there is no special URL segment specifying these -->
    <!-- different viewers.  If the first part of the URL (after the base) is a BibID then -->
    <!-- this goes to the item writer.  If it is an aggregation code (or alias) it goes to -->
    <!-- aggregation writer.  Or, if the code (and full URL) is a static web content page  -->
    <!-- this the web content writer is used.                                              -->
    <SpecialWriters>
      <AggregationWriter assembly="" class="SobekCM.Library.HTML.Aggregation_HtmlSubwriter" >
        <MenuProvider assembly="" class="SobekCM.Library.AggregationViewer.Menu.StandardItemMenuProvider" />
        
        
        <AggregationViewers>
          <AggregationViewer id="MENU" assembly="" class="SobekCM.Library.AggregationViewer.Viewers.MainMenu_AggregationViewer" enabled="true" />
          <AggregationViewer id="ADVANCED" assembly="" class="SobekCM.Library.AggregationViewer.Viewers.Advanced_Search_AggregationViewer" enabled="true" />
          <AggregationViewer id="BASIC" assembly="" class="SobekCM.Library.AggregationViewer.Viewers.Basic_Search_AggregationViewer" enabled="true" />
          <AggregationViewer id="TEXT" assembly="" class="SobekCM.Library.AggregationViewer.Viewers.Home_Text_AggregationViewer" enabled="true" />
          <AggregationViewer id="SEARCHTIPS" assembly="" class="SobekCM.Library.AggregationViewer.Viewers.SearchTips_AggregationViewer" enabled="true" />
          <AggregationViewer id="COLLECTION_LIST" assembly="" class="SobekCM.Library.AggregationViewer.Viewers.SubCollection_AggregationViewer" enabled="true" />
          <AggregationViewer id="BANNER" assembly="" class="SobekCM.Library.AggregationViewer.Viewers.Banner_AggregationViewer" enabled="true" />
          <AggregationViewer id="BROWSE_PREVIEW" assembly="" class="SobekCM.Library.AggregationViewer.Viewers.Banner_AggregationViewer" enabled="true" />
          <AggregationViewer id="BROWSE_ALL" assembly="" class="SobekCM.Library.AggregationViewer.Viewers.Banner_AggregationViewer" enabled="true" />
          <AggregationViewer id="BROWSE_NEW" assembly="" class="SobekCM.Library.AggregationViewer.Viewers.Banner_AggregationViewer" enabled="true" />
          <AggregationViewer id="BROWSE_METADATA" assembly="" class="SobekCM.Library.AggregationViewer.Viewers.Browse_Metadata_AggregationViewer" enabled="true" />
          <AggregationViewer id="FACETS_ALL" assembly="" class="SobekCM.Library.AggregationViewer.Viewers.Banner_AggregationViewer" enabled="true" />
          <AggregationViewer id="FACETS_NEW" assembly="" class="SobekCM.Library.AggregationViewer.Viewers.Banner_AggregationViewer" enabled="true" />
        </AggregationViewers>

        <AggregationLayoutSets>
          <AggregationLayoutSet type="STANDARD" default="true">
            
            <!-- Standard home page layout -->
            <AggregationLayout code="" default="true" container="container-inner">
              <Section AggregationViewerId="BANNER" id="sbkHmw_BannerDiv" />
              <Section AggregationViewerId="MENU" id="sbkAgm_MenuBar" />
              <Section AggregationViewerId="BASIC" id="SobekSearchPanel" />
              <Section AggregationViewerId="TEXT" class="SobekText" id="main-content" />
              <Section AggregationViewerId="COLLECTION_LIST" id="sbkAghsw_Children" />
            </AggregationLayout>
          
            <!-- Standard advanced search layout -->
            <AggregationLayout code="advanced" container="container-inner" >
              <Section AggregationViewerId="BANNER" id="sbkHmw_BannerDiv" />
              <Section AggregationViewerId="MENU" id="sbkAgm_MenuBar" />
              <Section AggregationViewerId="ADVANCED" id="SobekSearchPanel" />
              <Section AggregationViewerId="SEARCHTIPS" />
            </AggregationLayout>
            
            <!-- Standard browse all layout -->
            <AggregationLayout code="all" container="container-inner-facets" >
              <Section AggregationViewerId="BANNER" id="sbkHmw_BannerDiv" />
              <Section AggregationViewerId="MENU" id="sbkAgm_MenuBar" />
              <Section AggregationViewerId="FACETS_ALL" />
              <Section AggregationViewerId="BROWSE_ALL" />
            </AggregationLayout>          
          </AggregationLayoutSet>
        
          <!-- Second aggregation set for SimpleDL style, with the browse on the home page -->
          <AggregationLayoutSet type="SIMPLEDL" >
            
            <!-- Standard home page layout -->
            <AggregationLayout code="" default="true" container="container-inner">
              <Section AggregationViewerId="TITLE" />
              <Section AggregationViewerId="BANNER" id="sbkHmw_BannerDiv" />
              <Section AggregationViewerId="BASIC" id="SobekSearchPanel" />
              <Section AggregationViewerId="BROWSE_METADATA" />
              <Section AggregationViewerId="BROWSE_PREVIEW" />
            </AggregationLayout>
          
            <!-- Standard browse layout -->
            <AggregationLayout code="browse" container="container-inner" >
              <Section AggregationViewerId="FACETS_ALL" />
              <Section AggregationViewerId="TITLE" />
              <Section AggregationViewerId="BASIC" id="SobekSearchPanel" />
              <Section AggregationViewerId="BROWSE_ALL" />
            </AggregationLayout>
      
          </AggregationLayoutSet>

        </AggregationLayoutSets>
      
      </AggregationWriter>
    </SpecialWriters>
    
    
  </WriterViewers>
</SobekCM_Config>