<?xml version="1.0" encoding="utf-8"?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <ContactForm Name="Standard Contact Form">
    <Elements>
      <ExplanationText Text="Please complete the following required fields:">
        <Translations>
          <Language Code="en">Please complete the following required fields:</Language>
          <Language Code="fr">Veuillez remplir les champs obligatoires indiqués:</Language>
          <Language Code="es">Por Favor llene la información Requerida:</Language>
        </Translations>
      </ExplanationText>
      <Subject Query="Enter a subject here:" Required="true">
        <Translations>
          <Language Code="en">Enter a subject here:</Language>
          <Language Code="fr">Entrez votre sujet ici:</Language>
          <Language Code="es">Ponga un Sujeto Aquí:</Language>
        </Translations>
      </Subject>
      <TextArea Name="Notes" Query="Describe your question or problem here:" Required="true">
        <Translations>
          <Language Code="en">Describe your question or problem here:</Language>
          <Language Code="fr">Décrivez votre question ici:</Language>
          <Language Code="es">Describa su problema or pregunta Aquí:</Language>
        </Translations>
      </TextArea>
      <ExplanationText Text="May we contact you?  If so, please provide the following information:">
        <Translations>
          <Language Code="en">May we contact you?  If so, please provide the following information:</Language>
          <Language Code="fr">Mai-nous communiquer avec vous? Dans l'affirmative, s’il vous plaît fournir les informations suivantes:</Language>
          <Language Code="es">¿Podemos comunicarnos con usted? En caso afirmativo, sírvase proporcionar la siguiente información:</Language>
        </Translations>
      </ExplanationText>
      <TextBox Name="Full_Name" Query="Enter your name here:" UserAttribute="Fullname" Required="true" >
        <Translations>
          <Language Code="en">Enter your name here:</Language>
          <Language Code="fr">Votre nom ici:</Language>
          <Language Code="es">Su Nombre Aquí:</Language>
        </Translations>
      </TextBox>
      <TextBox Name="Email" Query="Enter your e-mail address here:" UserAttribute="Email" Required="true" >
        <Translations>
          <Language Code="en">Enter your e-mail address here:</Language>
          <Language Code="fr">Votre addresse de courriel electronique ici:</Language>
          <Language Code="es">Su Dirección de Correo Electrónico (Email) Aquí:</Language>
        </Translations>
      </TextBox>
    </Elements>    
  </ContactForm>
</SobekCM_Config>