<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <WriterViewers ClearAll="true">
    
    <!-- These are special writers, since there is no special URL segment specifying these -->
    <!-- different viewers.  If the first part of the URL (after the base) is a BibID then -->
    <!-- this goes to the item writer.  If it is an aggregation code (or alias) it goes to -->
    <!-- aggregation writer.  Or, if the code (and full URL) is a static web content page  -->
    <!-- this the web content writer is used.                                              -->
    <SpecialWriters>
      <WebContentWriter assembly="" class="SobekCM.Library.HTML.Web_Content_HtmlSubwriter" />
    </SpecialWriters>
    
    <!-- These writers are entirely based off the URL segment, and don't refer to any other -->
    <!-- values from the database (i.e., the URL first segment is not a BibID, aggregation  -->
    <!-- code, or a static web content piece.                                               -->
    <OtherWriters>
      
    </OtherWriters>
    
  </WriterViewers>
</SobekCM_Config>