<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <WriterViewers ClearAll="true">
    
    <!-- These are special writers, since there is no special URL segment specifying these -->
    <!-- different viewers.  If the first part of the URL (after the base) is a BibID then -->
    <!-- this goes to the item writer.  If it is an aggregation code (or alias) it goes to -->
    <!-- aggregation writer.  Or, if the code (and full URL) is a static web content page  -->
    <!-- this the web content writer is used.                                              -->
    <SpecialWriters>
      <ItemWriter assembly="" class="SobekCM.Library.HTML.Item_HtmlSubwriter">
        <MenuProvider assembly="" class="SobekCM.Library.ItemViewer.Menu.StandardItemMenuProvider" />
        <ItemViewer type="ALL_VOLUMES" viewerCode="allvolumes" assembly="" class="SobekCM.Library.ItemViewer.Viewers.MultiVolumes_ItemViewer_Prototyper" enabled="true" />
        <ItemViewer type="CITATION" viewerCode="citation" assembly="" class="SobekCM.Library.ItemViewer.Viewers.Citation_Standard_ItemViewer_Prototyper" enabled="true" />
        <ItemViewer type="DOWNLOADS" viewerCode="downloads" assembly="" class="SobekCM.Library.ItemViewer.Viewers.Downloads_ItemViewer_Prototyper" enabled="true" />
        <ItemViewer type="EMBEDDED_VIDEO" viewerCode="evideo" assembly="" class="SobekCM.Library.ItemViewer.Viewers.EmbeddedVideo_ItemViewer_Prototyper" enabled="true" />
        <ItemViewer type="FLASH" viewerCode="swf" assembly="" class="SobekCM.Library.ItemViewer.Viewers.Flash_ItemViewer_Prototyper" enabled="true" fileExtensions="SWF" />
        <ItemViewer type="GOOGLE_MAP" viewerCode="map" assembly="" class="SobekCM.Library.ItemViewer.Viewers.Google_Map_ItemViewer_Prototyper" enabled="true" />
        <ItemViewer type="HTML" viewerCode="html" assembly="" class="SobekCM.Library.ItemViewer.Viewers.HTML_ItemViewer_Prototyper" enabled="true" fileExtensions="HTML|HTM" />
        <ItemViewer type="JPEG" viewerCode="#j" assembly="" class="SobekCM.Library.ItemViewer.Viewers.JPEG_ItemViewer_Prototyper" enabled="true" pageFileExtensions="JPG|JPEG" />
        <ItemViewer type="JPEG2000" viewerCode="#x" assembly="" class="SobekCM.Library.ItemViewer.Viewers.JPEG2000_ItemViewer_Prototyper" enabled="true" pageFileExtensions="JP2" />
        <ItemViewer type="MARC" viewerCode="marc" assembly="" class="SobekCM.Library.ItemViewer.Viewers.Citation_MARC_ItemViewer_Prototyper" enabled="true" />
        <ItemViewer type="MANAGE_MENU" viewerCode="manage" assembly="" class="SobekCM.Library.ItemViewer.Viewers.ManageMenu_ItemViewer_Prototyper" enabled="true" mgmtViewer="true" mgmtOrder="1001" />
        <ItemViewer type="MAP_EDIT" viewerCode="mapedit" assembly="" class="SobekCM.Library.ItemViewer.Viewers.Google_Coordinate_Entry_ItemViewer_Prototyper" enabled="true" mgmtViewer="true" mgmtOrder="2000" />
        <ItemViewer type="METADATA" viewerCode="metadata" assembly="" class="SobekCM.Library.ItemViewer.Viewers.Metadata_Links_ItemViewer_Prototyper" enabled="true" />
        <ItemViewer type="PAGE_TURNER" viewerCode="pageturner" assembly="" class="SobekCM.Library.ItemViewer.Viewers.GnuBooks_PageTurner_ItemViewer_Prototyper" enabled="true" />
        <ItemViewer type="PDF" viewerCode="pdf" assembly="" class="SobekCM.Library.ItemViewer.Viewers.PDF_ItemViewer_Prototyper" enabled="true" alwaysAdd="true" fileExtensions="PDF" />
        <ItemViewer type="QUALITY_CONTROL" viewerCode="qc" assembly="" class="SobekCM.Library.ItemViewer.Viewers.QC_ItemViewer_Prototyper" enabled="true" mgmtViewer="true" mgmtOrder="2000" />
        <ItemViewer type="RELATED_IMAGES" viewerCode="thumbs" assembly="" class="SobekCM.Library.ItemViewer.Viewers.Related_Images_ItemViewer_Prototyper" enabled="true" />
        <ItemViewer type="RESTRICTED" viewerCode="restricted" assembly="" class="SobekCM.Library.ItemViewer.Viewers.Restricted_ItemViewer_Prototyper" enabled="true" mgmtViewer="true" mgmtOrder="2000"  />
        <ItemViewer type="TEXT" viewerCode="#t" assembly="" class="SobekCM.Library.ItemViewer.Viewers.Text_ItemViewer_Prototyper" enabled="true" pageFileExtensions="TXT" />
        <ItemViewer type="TRACKING_SHEET" viewerCode="ts" assembly="" class="SobekCM.Library.ItemViewer.Viewers.TrackingSheet_ItemViewer_Prototyper" enabled="true" mgmtViewer="true" mgmtOrder="2000" />
        <ItemViewer type="TRACKING" viewerCode="history" assembly="" class="SobekCM.Library.ItemViewer.Viewers.Tracking_ItemViewer_Prototyper" enabled="true" mgmtViewer="true" mgmtOrder="2000" />
        <ItemViewer type="SEARCH" viewerCode="search" assembly="" class="SobekCM.Library.ItemViewer.Viewers.Text_Search_ItemViewer_Prototyper" enabled="true" mgmtViewer="true" mgmtOrder="1000" />
        <ItemViewer type="USAGE" viewerCode="usage" assembly="" class="SobekCM.Library.ItemViewer.Viewers.Usage_Stats_ItemViewer_Prototyper" enabled="true" />
        <ItemViewer type="VIDEO" viewerCode="video" assembly="" class="SobekCM.Library.ItemViewer.Viewers.Video_ItemViewer_Prototyper" enabled="true" fileExtensions="WEBM|OGG|MP4" />
      </ItemWriter>
      <AggregationWriter assembly="" class="SobekCM.Library.HTML.Aggregation_HtmlSubwriter" >
        <!-- Just a smattering here to facilate creating the XSD creation for this config -->
        <AggregationViewer type="ADVANCED" assembly="" class="SobekCM.Library.AggregationViewer.Viewers.Advanced_Search_AggregationViewer" enabled="true" />
        <AggregationViewer type="BASIC" assembly="" class="SobekCM.Library.AggregationViewer.Viewers.Basic_Search_AggregationViewer" enabled="true" />
      </AggregationWriter>
      <WebContentWriter assembly="" class="SobekCM.Library.HTML.Web_Content_HtmlSubwriter" />
    </SpecialWriters>
    
    <!-- These writers are entirely based off the URL segment, and don't refer to any other -->
    <!-- values from the database (i.e., the URL first segment is not a BibID, aggregation  -->
    <!-- code, or a static web content piece.                                               -->
    <OtherWriters>
      
    </OtherWriters>
    
  </WriterViewers>
</SobekCM_Config>