<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <BriefItem_Mapping>
    <MappingSet ID="Standard" Default="true">
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Abstracts_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Affiliations_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Aggregations_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Classifications_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Containers_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Dates_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Donor_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Edition_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Frequency_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Genres_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.GeoSpatial_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Holding_Location_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Identifiers_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.InternalVarious_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Languages_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.LearningObjectMetadata_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Links_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Manufacturers_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Names_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Notes_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Physical_Description_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Publisher_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Related_Items_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.ResourceType_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Rights_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Rights_MD_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Source_Institution_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Subjects_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Target_Audience_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Temporal_Coverage_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Thesis_Dissertation_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Titles_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.User_Tags_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.VRACore_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Zoological_Taxonomy_BriefItemMapper" Enabled="true" />
    </MappingSet>
    <MappingSet ID="Citation">
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Abstracts_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Affiliations_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Aggregations_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Classifications_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Containers_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Dates_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Donor_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Edition_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Frequency_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Genres_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.GeoSpatial_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Holding_Location_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Identifiers_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.InternalVarious_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Languages_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.LearningObjectMetadata_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Links_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Manufacturers_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Names_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Notes_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Physical_Description_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Publisher_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Related_Items_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.ResourceType_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Rights_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Rights_MD_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Source_Institution_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Subjects_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Target_Audience_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Temporal_Coverage_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Thesis_Dissertation_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Titles_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.User_Tags_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.VRACore_BriefItemMapper" Enabled="true" />
      <Mapper Assembly="" Class="SobekCM.Engine_Library.Items.BriefItems.Mappers.Zoological_Taxonomy_BriefItemMapper" Enabled="true" />
    </MappingSet>
  </BriefItem_Mapping>
</SobekCM_Config>