<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Microservices>
    <Mapping>
      <Path Segment="aggregations">
        <Path Segment="all">
          <Endpoint Segment="json" ComponentID="C1" Method="GetAllAggregations" Enabled="true" RestrictionRangeID="R1" Protocol="JSON">
            <Description>Gets a single aggregation object, fully built and language specific</Description>
            <RequestType>GET</RequestType>
            <Arguments>none</Arguments>
            <Returns>List&lt;SobekCM.Core.Aggregations.Item_Aggregation_Related_Aggregations&gt;</Returns>
          </Endpoint>
          <Endpoint Segment="json-p" ComponentID="C1" Method="GetAllAggregations" Enabled="true" RestrictionRangeID="R1" Protocol="JSON-P">
            <Description>Gets a single aggregation object, fully built and language specific</Description>
            <RequestType>GET</RequestType>
            <Arguments>none</Arguments>
            <Returns>List&lt;SobekCM.Core.Aggregations.Item_Aggregation_Related_Aggregations&gt;</Returns>
          </Endpoint>
          <Endpoint Segment="protobuf" ComponentID="C1" Method="GetAllAggregations" Enabled="true" RestrictionRangeID="R1" Protocol="PROTOBUF">
            <Description>Gets a single aggregation object, fully built and language specific</Description>
            <RequestType>GET</RequestType>
            <Arguments>none</Arguments>
            <Returns>List&lt;SobekCM.Core.Aggregations.Item_Aggregation_Related_Aggregations&gt;</Returns>
          </Endpoint>
          <Endpoint Segment="xml" ComponentID="C1" Method="GetAllAggregations" Enabled="true" RestrictionRangeID="R1" Protocol="XML">
            <Description>Gets a single aggregation object, fully built and language specific</Description>
            <RequestType>GET</RequestType>
            <Arguments>none</Arguments>
            <Returns>List&lt;SobekCM.Core.Aggregations.Item_Aggregation_Related_Aggregations&gt;</Returns>
          </Endpoint>
          <Endpoint Segment="soap" ComponentID="C1" Method="GetAllAggregations" Enabled="true" RestrictionRangeID="R1" Protocol="SOAP">
            <Description>Gets a single aggregation object, fully built and language specific</Description>
            <RequestType>GET</RequestType>
            <Arguments>none</Arguments>
            <Returns>List&lt;SobekCM.Core.Aggregations.Item_Aggregation_Related_Aggregations&gt;</Returns>
          </Endpoint>
          <Endpoint Segment="binary" ComponentID="C1" Method="GetAllAggregations" Enabled="true" RestrictionRangeID="R1" Protocol="BINARY">
            <Description>Gets a single aggregation object, fully built and language specific</Description>
            <RequestType>GET</RequestType>
            <Arguments>none</Arguments>
            <Returns>List&lt;SobekCM.Core.Aggregations.Item_Aggregation_Related_Aggregations&gt;</Returns>
          </Endpoint>
        </Path>
        <Path Segment="childpage">
          <Endpoint Segment="json" ComponentID="C1" Method="GetCollectionStaticPage" Enabled="true" Protocol="JSON">
            <Description> Gets the all information, including the HTML, for an item aggregation child page </Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code, language, and child page code </Arguments>
            <Returns>SobekCM.Core.WebContent.HTML_Based_Content</Returns>
          </Endpoint>
          <Endpoint Segment="json-p" ComponentID="C1" Method="GetCollectionStaticPage" Enabled="true" Protocol="JSON-P">
            <Description> Gets the all information, including the HTML, for an item aggregation child page </Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code, language, and child page code </Arguments>
            <Returns>SobekCM.Core.WebContent.HTML_Based_Content</Returns>
          </Endpoint>
          <Endpoint Segment="protobuf" ComponentID="C1" Method="GetCollectionStaticPage" Enabled="true" Protocol="PROTOBUF">
            <Description> Gets the all information, including the HTML, for an item aggregation child page </Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code, language, and child page code </Arguments>
            <Returns>SobekCM.Core.WebContent.HTML_Based_Content</Returns>
          </Endpoint>
          <Endpoint Segment="xml" ComponentID="C1" Method="GetCollectionStaticPage" Enabled="true" Protocol="XML">
            <Description> Gets the all information, including the HTML, for an item aggregation child page </Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code, language, and child page code </Arguments>
            <Returns>SobekCM.Core.WebContent.HTML_Based_Content</Returns>
          </Endpoint>
          <Endpoint Segment="soap" ComponentID="C1" Method="GetCollectionStaticPage" Enabled="true" Protocol="SOAP">
            <Description> Gets the all information, including the HTML, for an item aggregation child page </Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code, language, and child page code </Arguments>
            <Returns>SobekCM.Core.WebContent.HTML_Based_Content</Returns>
          </Endpoint>
          <Endpoint Segment="binary" ComponentID="C1" Method="GetCollectionStaticPage" Enabled="true" Protocol="BINARY">
            <Description> Gets the all information, including the HTML, for an item aggregation child page </Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code, language, and child page code </Arguments>
            <Returns>SobekCM.Core.WebContent.HTML_Based_Content</Returns>
          </Endpoint>
        </Path>
        <Path Segment="code">
          <Endpoint Segment="json" ComponentID="C1" Method="GetAggregationByCode" Enabled="true" Protocol="JSON">
            <Description>Gets a single aggregation object, fully built and language specific</Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code and language</Arguments>
            <Returns>SobekCM.Core.Aggregations.Item_Aggregation</Returns>
          </Endpoint>
          <Endpoint Segment="json-p" ComponentID="C1" Method="GetAggregationByCode" Enabled="true" Protocol="JSON-P">
            <Description>Gets a single aggregation object, fully built and language specific</Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code and language</Arguments>
            <Returns>SobekCM.Core.Aggregations.Item_Aggregation</Returns>
          </Endpoint>
          <Endpoint Segment="protobuf" ComponentID="C1" Method="GetAggregationByCode" Enabled="true" Protocol="PROTOBUF">
            <Description>Gets a single aggregation object, fully built and language specific</Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code and language</Arguments>
            <Returns>SobekCM.Core.Aggregations.Item_Aggregation</Returns>
          </Endpoint>
          <Endpoint Segment="xml" ComponentID="C1" Method="GetAggregationByCode" Enabled="true" Protocol="XML">
            <Description>Gets a single aggregation object, fully built and language specific</Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code and language</Arguments>
            <Returns>SobekCM.Core.Aggregations.Item_Aggregation</Returns>
          </Endpoint>
          <Endpoint Segment="soap" ComponentID="C1" Method="GetAggregationByCode" Enabled="true" Protocol="SOAP">
            <Description>Gets a single aggregation object, fully built and language specific</Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code and language</Arguments>
            <Returns>SobekCM.Core.Aggregations.Item_Aggregation</Returns>
          </Endpoint>
          <Endpoint Segment="binary" ComponentID="C1" Method="GetAggregationByCode" Enabled="true" Protocol="BINARY">
            <Description>Gets a single aggregation object, fully built and language specific</Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code and language</Arguments>
            <Returns>SobekCM.Core.Aggregations.Item_Aggregation</Returns>
          </Endpoint>
        </Path>
        <Path Segment="complete">
          <Endpoint Segment="json" ComponentID="C1" Method="GetCompleteAggregationByCode" Enabled="true" Protocol="JSON">
            <Description>Gets a single aggregation object, fully built</Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code</Arguments>
            <Returns>SobekCM.Core.Aggregations.Complete_Item_Aggregation</Returns>
          </Endpoint>
          <Endpoint Segment="json-p" ComponentID="C1" Method="GetCompleteAggregationByCode" Enabled="true" Protocol="JSON-P">
            <Description>Gets a single aggregation object, fully built</Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code</Arguments>
            <Returns>SobekCM.Core.Aggregations.Complete_Item_Aggregation</Returns>
          </Endpoint>
          <Endpoint Segment="protobuf" ComponentID="C1" Method="GetCompleteAggregationByCode" Enabled="true" Protocol="PROTOBUF">
            <Description>Gets a single aggregation object, fully built</Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code</Arguments>
            <Returns>SobekCM.Core.Aggregations.Complete_Item_Aggregation</Returns>
          </Endpoint>
          <Endpoint Segment="xml" ComponentID="C1" Method="GetCompleteAggregationByCode" Enabled="true" Protocol="XML">
            <Description>Gets a single aggregation object, fully built</Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code</Arguments>
            <Returns>SobekCM.Core.Aggregations.Complete_Item_Aggregation</Returns>
          </Endpoint>
          <Endpoint Segment="soap" ComponentID="C1" Method="GetCompleteAggregationByCode" Enabled="true" Protocol="SOAP">
            <Description>Gets a single aggregation object, fully built</Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code</Arguments>
            <Returns>SobekCM.Core.Aggregations.Complete_Item_Aggregation</Returns>
          </Endpoint>
          <Endpoint Segment="binary" ComponentID="C1" Method="GetCompleteAggregationByCode" Enabled="true" Protocol="BINARY">
            <Description>Gets a single aggregation object, fully built</Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code</Arguments>
            <Returns>SobekCM.Core.Aggregations.Complete_Item_Aggregation</Returns>
          </Endpoint>
        </Path>
        <Path Segment="hierarchy">
          <Endpoint Segment="json" ComponentID="C1" Method="GetCollectionHierarchy" Enabled="true" Protocol="JSON">
            <Description>Gets the complete aggregation hierarchy</Description>
            <RequestType>GET</RequestType>
            <Arguments>none</Arguments>
            <Returns>SobekCM.Core.Aggregations.Aggregation_Hierarchy</Returns>
          </Endpoint>
          <Endpoint Segment="json-p" ComponentID="C1" Method="GetCollectionHierarchy" Enabled="true" Protocol="JSON-P">
            <Description>Gets the complete aggregation hierarchy</Description>
            <RequestType>GET</RequestType>
            <Arguments>none</Arguments>
            <Returns>SobekCM.Core.Aggregations.Aggregation_Hierarchy</Returns>
          </Endpoint>
          <Endpoint Segment="protobuf" ComponentID="C1" Method="GetCollectionHierarchy" Enabled="true" Protocol="PROTOBUF">
            <Description>Gets the complete aggregation hierarchy</Description>
            <RequestType>GET</RequestType>
            <Arguments>none</Arguments>
            <Returns>SobekCM.Core.Aggregations.Aggregation_Hierarchy</Returns>
          </Endpoint>
          <Endpoint Segment="xml" ComponentID="C1" Method="GetCollectionHierarchy" Enabled="true" Protocol="XML">
            <Description>Gets the complete aggregation hierarchy</Description>
            <RequestType>GET</RequestType>
            <Arguments>none</Arguments>
            <Returns>SobekCM.Core.Aggregations.Aggregation_Hierarchy</Returns>
          </Endpoint>
          <Endpoint Segment="soap" ComponentID="C1" Method="GetCollectionHierarchy" Enabled="true" Protocol="SOAP">
            <Description>Gets the complete aggregation hierarchy</Description>
            <RequestType>GET</RequestType>
            <Arguments>none</Arguments>
            <Returns>SobekCM.Core.Aggregations.Aggregation_Hierarchy</Returns>
          </Endpoint>
          <Endpoint Segment="binary" ComponentID="C1" Method="GetCollectionHierarchy" Enabled="true" Protocol="BINARY">
            <Description>Gets the complete aggregation hierarchy</Description>
            <RequestType>GET</RequestType>
            <Arguments>none</Arguments>
            <Returns>SobekCM.Core.Aggregations.Aggregation_Hierarchy</Returns>
          </Endpoint>
          
        </Path>
        <Endpoint Segment="uploads" ComponentID="C1" Method="GetAggregationUploadedImages" Enabled="true" Protocol="JSON">
          <Description>Gets the list of uploaded images for this aggregation (for consumption by web users)</Description>
          <RequestType>GET</RequestType>
          <Arguments>Aggregation code</Arguments>
          <Returns>List&lt;SobekCM.Engine_Library.JSON_Client_Helpers.UploadedFileFolderInfo&gt;</Returns>
        </Endpoint>
      </Path>
      <Path Segment="items">
        <Path Segment="brief">
          <Endpoint Segment="json" ComponentID="C3" Method="GetItemBrief" Enabled="true" Protocol="JSON">
            <Description>Gets the item information (primarily citation right now)</Description>
            <RequestType>GET</RequestType>
            <Arguments>BibID and VID</Arguments>
            <Returns>BriefItemInfo</Returns>
          </Endpoint>
          <Endpoint Segment="json-p" ComponentID="C3" Method="GetItemBrief" Enabled="true" Protocol="JSON-P">
            <Description>Gets the item information (primarily citation right now)</Description>
            <RequestType>GET</RequestType>
            <Arguments>BibID and VID</Arguments>
            <Returns>BriefItemInfo</Returns>
          </Endpoint>
          <Endpoint Segment="protobuf" ComponentID="C3" Method="GetItemBrief" Enabled="true" Protocol="PROTOBUF">
            <Description>Gets the item information (primarily citation right now)</Description>
            <RequestType>GET</RequestType>
            <Arguments>BibID and VID</Arguments>
            <Returns>BriefItemInfo</Returns>
          </Endpoint>
          <Endpoint Segment="xml" ComponentID="C3" Method="GetItemBrief" Enabled="true" Protocol="XML">
            <Description>Gets the item information (primarily citation right now)</Description>
            <RequestType>GET</RequestType>
            <Arguments>BibID and VID</Arguments>
            <Returns>BriefItemInfo</Returns>
          </Endpoint>
          <Endpoint Segment="soap" ComponentID="C3" Method="GetItemBrief" Enabled="true" Protocol="SOAP">
            <Description>Gets the item information (primarily citation right now)</Description>
            <RequestType>GET</RequestType>
            <Arguments>BibID and VID</Arguments>
            <Returns>BriefItemInfo</Returns>
          </Endpoint>
          <Endpoint Segment="binary" ComponentID="C3" Method="GetItemBrief" Enabled="true" Protocol="BINARY">
            <Description>Gets the item information (primarily citation right now)</Description>
            <RequestType>GET</RequestType>
            <Arguments>BibID and VID</Arguments>
            <Returns>BriefItemInfo</Returns>
          </Endpoint>
        </Path>
        <Path Segment="citation">
          <Endpoint Segment="json" ComponentID="C3" Method="GetItemCitation" Enabled="true" Protocol="JSON">
            <Description>Gets the item information (primarily citation right now)</Description>
            <RequestType>GET</RequestType>
            <Arguments>BibID, and VID</Arguments>
            <Returns>BriefItemInfo</Returns>
          </Endpoint>
          <Endpoint Segment="json-p" ComponentID="C3" Method="GetItemCitation" Enabled="true" Protocol="JSON-P">
            <Description>Gets the item information (primarily citation right now)</Description>
            <RequestType>GET</RequestType>
            <Arguments>BibID and VID</Arguments>
            <Returns>BriefItemInfo</Returns>
          </Endpoint>
          <Endpoint Segment="protobuf" ComponentID="C3" Method="GetItemCitation" Enabled="true" Protocol="PROTOBUF">
            <Description>Gets the item information (primarily citation right now)</Description>
            <RequestType>GET</RequestType>
            <Arguments>BibID, and VID</Arguments>
            <Returns>BriefItemInfo</Returns>
          </Endpoint>
          <Endpoint Segment="xml" ComponentID="C3" Method="GetItemCitation" Enabled="true" Protocol="XML">
            <Description>Gets the item information (primarily citation right now)</Description>
            <RequestType>GET</RequestType>
            <Arguments>BibID, and VID</Arguments>
            <Returns>BriefItemInfo</Returns>
          </Endpoint>
          <Endpoint Segment="soap" ComponentID="C3" Method="GetItemCitation" Enabled="true" Protocol="SOAP">
            <Description>Gets the item information (primarily citation right now)</Description>
            <RequestType>GET</RequestType>
            <Arguments>BibID, and VID</Arguments>
            <Returns>BriefItemInfo</Returns>
          </Endpoint>
          <Endpoint Segment="binary" ComponentID="C3" Method="GetItemCitation" Enabled="true" Protocol="BINARY">
            <Description>Gets the item information (primarily citation right now)</Description>
            <RequestType>GET</RequestType>
            <Arguments>BibID, and VID</Arguments>
            <Returns>BriefItemInfo</Returns>
          </Endpoint>
        </Path>
        <Path Segment="legacy">
          <Endpoint Segment="json" ComponentID="C3" Method="Get_Item_Info_Legacy" Enabled="true" Protocol="JSON">
            <Description>Gets the search results and returns them in the legacy format supported prior to v5.0</Description>
            <RequestType>GET</RequestType>
            <Arguments></Arguments>
            <Returns>Legacy formatted JSON response</Returns>
          </Endpoint>
        </Path>
        <Endpoint Segment="random" ComponentID="C3" Method="GetRandomItem" Enabled="true" Protocol="JSON-P">
          <Description>Gets a random item from this instance</Description>
          <RequestType>GET</RequestType>
          <Arguments>none</Arguments>
          <Returns>BibID and VID</Returns>
        </Endpoint>
        <Endpoint Segment="rdf" ComponentID="C3" Method="GetItemRdf" Enabled="true" Protocol="XML">
          <Description>Get the item information, as dublin core based RDF</Description>
          <RequestType>GET</RequestType>
          <Arguments>BibID and VID</Arguments>
          <Returns>RDF-formatted XML</Returns>
        </Endpoint>
        <Endpoint Segment="xml" ComponentID="C3" Method="GetItemXml" Enabled="true" Protocol="XML">
          <Description>Get the item information formatted in a number of different XML schemas</Description>
          <RequestType>GET</RequestType>
          <Arguments>Format and BibID and VID</Arguments>
          <Returns>XML output of a version/format of the item informaiton</Returns>
        </Endpoint>
      </Path>
      <Path Segment="search">
        <Path Segment="legacy">
          <Endpoint Segment="json" ComponentID="C6" Method="Get_Search_Results_Legacy" Enabled="true" Protocol="JSON">
            <Description>Gets the search results and returns them in the legacy format supported prior to v5.0</Description>
            <RequestType>GET</RequestType>
            <Arguments></Arguments>
            <Returns>Legacy formatted JSON response</Returns>
          </Endpoint>
          <Endpoint Segment="xml" ComponentID="C6" Method="Get_Search_Results_Legacy" Enabled="true" Protocol="XML">
            <Description>Gets the search results and returns them in the legacy format supported prior to v5.0</Description>
            <RequestType>GET</RequestType>
            <Arguments></Arguments>
            <Returns>Legacy formatted XML response</Returns>
          </Endpoint>
        </Path>
        <Path Segment="results">
          <Endpoint Segment="json" ComponentID="C6" Method="Get_Search_Results_Page" Enabled="true" Protocol="JSON">
            <Description>Gets a single web skin object</Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggrgeation code</Arguments>
            <Returns>Search_Results_Statistics</Returns>
          </Endpoint>
          <Endpoint Segment="json-p" ComponentID="C6" Method="Get_Search_Results_Page" Enabled="true" Protocol="JSON-P">
            <Description>Gets a single web skin object</Description>
            <RequestType>GET</RequestType>
            <Arguments>Web skin code</Arguments>
            <Returns>SobekCM.Core.Skins.Complete_Web_Skin_Object</Returns>
          </Endpoint>
          <Endpoint Segment="protobuf" ComponentID="C6" Method="Get_Search_Results_Page" Enabled="true" Protocol="PROTOBUF">
            <Description>Gets a single web skin object</Description>
            <RequestType>GET</RequestType>
            <Arguments>Web skin code</Arguments>
            <Returns>SobekCM.Core.Skins.Complete_Web_Skin_Object</Returns>
          </Endpoint>
          <Endpoint Segment="xml" ComponentID="C6" Method="Get_Search_Results_Page" Enabled="true" Protocol="XML">
            <Description>Gets a single web skin object</Description>
            <RequestType>GET</RequestType>
            <Arguments>Web skin code</Arguments>
            <Returns>SobekCM.Core.Skins.Complete_Web_Skin_Object</Returns>
          </Endpoint>
        </Path>
        <Path Segment="stats">
          <Endpoint Segment="json" ComponentID="C6" Method="Get_Search_Statistics" Enabled="true" Protocol="JSON">
            <Description>Gets statistics for a results set </Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code and all the search info in the query string</Arguments>
            <Returns>Search_Results_Statistics</Returns>
          </Endpoint>
          <Endpoint Segment="json-p" ComponentID="C6" Method="Get_Search_Statistics" Enabled="true" Protocol="JSON-P">
            <Description>Gets statistics for a results set </Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code and all the search info in the query string</Arguments>
            <Returns>Search_Results_Statistics</Returns>
          </Endpoint>
          <Endpoint Segment="protobuf" ComponentID="C6" Method="Get_Search_Statistics" Enabled="true" Protocol="PROTOBUF">
            <Description>Gets statistics for a results set </Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code and all the search info in the query string</Arguments>
            <Returns>Search_Results_Statistics</Returns>
          </Endpoint>
          <Endpoint Segment="xml" ComponentID="C6" Method="Get_Search_Statistics" Enabled="true" Protocol="XML">
            <Description>Gets statistics for a results set </Description>
            <RequestType>GET</RequestType>
            <Arguments>Aggregation code and all the search info in the query string</Arguments>
            <Returns>Search_Results_Statistics</Returns>
          </Endpoint>
        </Path>

      </Path>
      <Path Segment="skins">
        <Path Segment="all">
          <Endpoint Segment="json" ComponentID="C2" Method="GetOrderedCodes" Enabled="true" Protocol="JSON">
            <Description>Gets the ordered list of all web skins in the system</Description>
            <RequestType>GET</RequestType>
            <Arguments>none</Arguments>
            <Returns>List&lt;string&gt;</Returns>
          </Endpoint>
        </Path>
        <Path Segment="code">
          <Endpoint Segment="json" ComponentID="C2" Method="GetWebSkin" Enabled="true" Protocol="JSON">
            <Description>Gets a single web skin object, fully built and language specific</Description>
            <RequestType>GET</RequestType>
            <Arguments>Web skin code and language</Arguments>
            <Returns>SobekCM.Core.Skins.Web_Skin_Object</Returns>
          </Endpoint>
          <Endpoint Segment="json-p" ComponentID="C2" Method="GetWebSkin" Enabled="true" Protocol="JSON-P">
            <Description>Gets a single web skin object, fully built and language specific</Description>
            <RequestType>GET</RequestType>
            <Arguments>Web skin code and language</Arguments>
            <Returns>SobekCM.Core.Skins.Web_Skin_Object</Returns>
          </Endpoint>
          <Endpoint Segment="protobuf" ComponentID="C2" Method="GetWebSkin" Enabled="true" Protocol="PROTOBUF">
            <Description>Gets a single web skin object, fully built and language specific</Description>
            <RequestType>GET</RequestType>
            <Arguments>Web skin code and language</Arguments>
            <Returns>SobekCM.Core.Skins.Web_Skin_Object</Returns>
          </Endpoint>
          <Endpoint Segment="xml" ComponentID="C2" Method="GetWebSkin" Enabled="true" Protocol="XML">
            <Description>Gets a single web skin object, fully built and language specific</Description>
            <RequestType>GET</RequestType>
            <Arguments>Web skin code and language</Arguments>
            <Returns>SobekCM.Core.Skins.Web_Skin_Object</Returns>
          </Endpoint>
        </Path>
        <Path Segment="complete">
          <Endpoint Segment="json" ComponentID="C2" Method="GetCompleteWebSkin" Enabled="true" Protocol="JSON">
            <Description>Gets a single web skin object</Description>
            <RequestType>GET</RequestType>
            <Arguments>Web skin code</Arguments>
            <Returns>SobekCM.Core.Skins.Complete_Web_Skin_Object</Returns>
          </Endpoint>
          <Endpoint Segment="json-p" ComponentID="C2" Method="GetCompleteWebSkin" Enabled="true" Protocol="JSON-P">
            <Description>Gets a single web skin object</Description>
            <RequestType>GET</RequestType>
            <Arguments>Web skin code</Arguments>
            <Returns>SobekCM.Core.Skins.Complete_Web_Skin_Object</Returns>
          </Endpoint>
          <Endpoint Segment="protobuf" ComponentID="C2" Method="GetCompleteWebSkin" Enabled="true" Protocol="PROTOBUF">
            <Description>Gets a single web skin object</Description>
            <RequestType>GET</RequestType>
            <Arguments>Web skin code</Arguments>
            <Returns>SobekCM.Core.Skins.Complete_Web_Skin_Object</Returns>
          </Endpoint>
          <Endpoint Segment="xml" ComponentID="C2" Method="GetCompleteWebSkin" Enabled="true" Protocol="XML">
            <Description>Gets a single web skin object</Description>
            <RequestType>GET</RequestType>
            <Arguments>Web skin code</Arguments>
            <Returns>SobekCM.Core.Skins.Complete_Web_Skin_Object</Returns>
          </Endpoint>
        </Path>
        <Endpoint Segment="uploads" ComponentID="C2" Method="GetWebSkinUploadedImages" Enabled="true" Protocol="JSON">
          <Description>Gets the list of uploaded images for this web skin </Description>
          <RequestType>GET</RequestType>
          <Arguments>Web skin code</Arguments>
          <Returns>List&lt;SobekCM.Engine_Library.JSON_Client_Helpers.UploadedFileFolderInfo&gt;</Returns>
        </Endpoint>
      </Path>
      <Path Segment="url-resolver">
        <Endpoint Segment="json" ComponentID="C4" Method="ResolveUrl" Enabled="true" Protocol="JSON">
          <Description>Resolves the url to a SobekCM Navigation_Object</Description>
          <RequestType>GET</RequestType>
          <Arguments>many possible</Arguments>
          <Returns>SobekCM.Core.Navigation.Navigation_Object</Returns>
        </Endpoint>
        <Endpoint Segment="json-p" ComponentID="C4" Method="ResolveUrl" Enabled="true" Protocol="JSON-P">
          <Description>Resolves the url to a SobekCM Navigation_Object</Description>
          <RequestType>GET</RequestType>
          <Arguments>many possible</Arguments>
          <Returns>SobekCM.Core.Navigation.Navigation_Object</Returns>
        </Endpoint>
        <Endpoint Segment="protobuf" ComponentID="C4" Method="ResolveUrl" Enabled="true" Protocol="PROTOBUF">
          <Description>Resolves the url to a SobekCM Navigation_Object</Description>
          <RequestType>GET</RequestType>
          <Arguments>many possible</Arguments>
          <Returns>SobekCM.Core.Navigation.Navigation_Object</Returns>
        </Endpoint>
        <Endpoint Segment="xml" ComponentID="C4" Method="ResolveUrl" Enabled="true" Protocol="XML">
          <Description>Resolves the url to a SobekCM Navigation_Object</Description>
          <RequestType>GET</RequestType>
          <Arguments>many possible</Arguments>
          <Returns>SobekCM.Core.Navigation.Navigation_Object</Returns>
        </Endpoint>
      </Path>
      <Path Segment="webcontent">
        <Path Segment="all">
          <Path Segment="list">
            <Endpoint Segment="json" ComponentID="C5" Method="Get_All_Pages" Enabled="true" Protocol="JSON">
              <Description>Get the list of all the web content pages ( excluding reidrects )</Description>
              <RequestType>GET</RequestType>
              <Arguments>Page number in the URL, rowsPerPage.. all optional </Arguments>
              <Returns>WebContent_Basic_Pages</Returns>
            </Endpoint>
            <Endpoint Segment="json-p" ComponentID="C5" Method="Get_All_Pages" Enabled="true" Protocol="JSON-P">
              <Description>Get the list of all the web content pages ( excluding reidrects )</Description>
              <RequestType>GET</RequestType>
              <Arguments>Page number in the URL, rowsPerPage.. all optional </Arguments>
              <Returns>WebContent_Basic_Pages</Returns>
            </Endpoint>
            <Endpoint Segment="protobuf" ComponentID="C5" Method="Get_All_Pages" Enabled="true" Protocol="PROTOBUF">
              <Description>Get the list of all the web content pages ( excluding reidrects )</Description>
              <RequestType>GET</RequestType>
              <Arguments>Page number in the URL, rowsPerPage.. all optional </Arguments>
              <Returns>WebContent_Basic_Pages</Returns>
            </Endpoint>
            <Endpoint Segment="xml" ComponentID="C5" Method="Get_All_Pages" Enabled="true" Protocol="XML">
              <Description>Get the list of all the web content pages ( excluding reidrects )</Description>
              <RequestType>GET</RequestType>
              <Arguments>Page number in the URL, rowsPerPage.. all optional </Arguments>
              <Returns>WebContent_Basic_Pages</Returns>
            </Endpoint>
            <Endpoint Segment="jtable" ComponentID="C5" Method="Get_All_Pages_JDataTable" Enabled="true" Protocol="JSON">
              <Description> Get the list of all the web content pages ( excluding reidrects ) for consumption by the jQuery DataTable.net plug-in </Description>
              <RequestType>GET</RequestType>
              <Arguments>Page number in the URL, rowsPerPage.. all optional </Arguments>
              <Returns>JSON response configured for the jQuery DataTables.net plugin</Returns>
            </Endpoint>
          </Path>
        </Path>
        <Path Segment="get">
          <Endpoint Segment="json" ComponentID="C5" Method="Get_HTML_Based_Content" Enabled="true" Protocol="JSON">
            <Description>Get a static web content page</Description>
            <RequestType>GET</RequestType>
            <Arguments>primariyl the URL segments</Arguments>
            <Returns>SobekCM.Core.Navigation.HTML_Based_Content</Returns>
          </Endpoint>
          <Endpoint Segment="json-p" ComponentID="C5" Method="Get_HTML_Based_Content" Enabled="true" Protocol="JSON-P">
            <Description>Get a static web content page</Description>
            <RequestType>GET</RequestType>
            <Arguments>primariyl the URL segments</Arguments>
            <Returns>SobekCM.Core.Navigation.HTML_Based_Content</Returns>
          </Endpoint>
          <Endpoint Segment="protobuf" ComponentID="C5" Method="Get_HTML_Based_Content" Enabled="true" Protocol="PROTOBUF">
            <Description>Get a static web content page</Description>
            <RequestType>GET</RequestType>
            <Arguments>primariyl the URL segments</Arguments>
            <Returns>SobekCM.Core.Navigation.HTML_Based_Content</Returns>
          </Endpoint>
          <Endpoint Segment="xml" ComponentID="C5" Method="Get_HTML_Based_Content" Enabled="true" Protocol="XML">
            <Description>Get a static web content page</Description>
            <RequestType>GET</RequestType>
            <Arguments>primariyl the URL segments</Arguments>
            <Returns>SobekCM.Core.Navigation.HTML_Based_Content</Returns>
          </Endpoint>
        </Path>
        <Path Segment="recent">
          <Path Segment="global">
            <Endpoint Segment="json" ComponentID="C5" Method="Get_Global_Recent_Updates" Enabled="true" Protocol="JSON">
              <Description>Get the list of all the recent updates to all top-level static web content pages</Description>
              <RequestType>GET</RequestType>
              <Arguments>Page number in the URL, rowsPerPage and user as query string.. all optional </Arguments>
              <Returns>WebContent_Recent_Changes</Returns>
            </Endpoint>
            <Endpoint Segment="json-p" ComponentID="C5" Method="Get_Global_Recent_Updates" Enabled="true" Protocol="JSON-P">
              <Description>Get the list of all the recent updates to all top-level static web content pages</Description>
              <RequestType>GET</RequestType>
              <Arguments>Page number in the URL, rowsPerPage and user as query string.. all optional </Arguments>
              <Returns>WebContent_Recent_Changes</Returns>
            </Endpoint>
            <Endpoint Segment="protobuf" ComponentID="C5" Method="Get_Global_Recent_Updates" Enabled="true" Protocol="PROTOBUF">
              <Description>Get the list of all the recent updates to all top-level static web content pages</Description>
              <RequestType>GET</RequestType>
              <Arguments>Page number in the URL, rowsPerPage and user as query string.. all optional </Arguments>
              <Returns>WebContent_Recent_Changes</Returns>
            </Endpoint>
            <Endpoint Segment="xml" ComponentID="C5" Method="Get_Global_Recent_Updates" Enabled="true" Protocol="XML">
              <Description>Get the list of all the recent updates to all top-level static web content pages</Description>
              <RequestType>GET</RequestType>
              <Arguments>Page number in the URL, rowsPerPage and user as query string.. all optional </Arguments>
              <Returns>WebContent_Recent_Changes</Returns>
            </Endpoint>
          </Path>
          <Path Segment="users">
            <Endpoint Segment="json" ComponentID="C5" Method="Get_Global_Recent_Updates_Users" Enabled="true" Protocol="JSON">
              <Description>Get the list of all users that have participated in the recent updates to all top-level static web content pages</Description>
              <RequestType>GET</RequestType>
              <Arguments>None</Arguments>
              <Returns>List of users</Returns>
            </Endpoint>
            <Endpoint Segment="json-p" ComponentID="C5" Method="Get_Global_Recent_Updates_Users" Enabled="true" Protocol="JSON-P">
              <Description>Get the list of all users that have participated in the recent updates to all top-level static web content pages</Description>
              <RequestType>GET</RequestType>
              <Arguments>None</Arguments>
              <Returns>List of users</Returns>
            </Endpoint>
            <Endpoint Segment="protobuf" ComponentID="C5" Method="Get_Global_Recent_Updates_Users" Enabled="true" Protocol="PROTOBUF">
              <Description>Get the list of all users that have participated in the recent updates to all top-level static web content pages</Description>
              <RequestType>GET</RequestType>
              <Arguments>None</Arguments>
              <Returns>List of users</Returns>
            </Endpoint>
            <Endpoint Segment="xml" ComponentID="C5" Method="Get_Global_Recent_Updates_Users" Enabled="true" Protocol="XML">
              <Description>Get the list of all users that have participated in the recent updates to all top-level static web content pages</Description>
              <RequestType>GET</RequestType>
              <Arguments>None</Arguments>
              <Returns>List of users</Returns>
            </Endpoint>
          </Path>
        </Path>
        <Path Segment="redirects">
          <Path Segment="list">
            <Endpoint Segment="json" ComponentID="C5" Method="Get_All_Redirects" Enabled="true" Protocol="JSON">
              <Description>Get the list of all the global redirects</Description>
              <RequestType>GET</RequestType>
              <Arguments>Page number in the URL, rowsPerPage .. all optional </Arguments>
              <Returns>WebContent_Basic_Pages</Returns>
            </Endpoint>
            <Endpoint Segment="json-p" ComponentID="C5" Method="Get_All_Redirects" Enabled="true" Protocol="JSON-P">
              <Description>Get the list of all the global redirects</Description>
              <RequestType>GET</RequestType>
              <Arguments>Page number in the URL, rowsPerPage .. all optional </Arguments>
              <Returns>WebContent_Basic_Pages</Returns>
            </Endpoint>
            <Endpoint Segment="protobuf" ComponentID="C5" Method="Get_All_Redirects" Enabled="true" Protocol="PROTOBUF">
              <Description>Get the list of all the global redirects</Description>
              <RequestType>GET</RequestType>
              <Arguments>Page number in the URL, rowsPerPage .. all optional </Arguments>
              <Returns>WebContent_Basic_Pages</Returns>
            </Endpoint>
            <Endpoint Segment="xml" ComponentID="C5" Method="Get_All_Redirects" Enabled="true" Protocol="XML">
              <Description>Get the list of all the global redirects</Description>
              <RequestType>GET</RequestType>
              <Arguments>Page number in the URL, rowsPerPage .. all optional </Arguments>
              <Returns>WebContent_Basic_Pages</Returns>
            </Endpoint>
          </Path>
        </Path>
        <Path Segment="usage">
          <Path Segment="list">
            <Endpoint Segment="json" ComponentID="C5" Method="Get_Global_Usage_Report" Enabled="true" Protocol="JSON">
              <Description>Get usage of all web content pages between two dates</Description>
              <RequestType>GET</RequestType>
              <Arguments>Page number in the URL, rowsPerPage, date range .. all optional </Arguments>
              <Returns>WebContent_Usage_Report</Returns>
            </Endpoint>
            <Endpoint Segment="json-p" ComponentID="C5" Method="Get_Global_Usage_Report" Enabled="true" Protocol="JSON-P">
              <Description>Get usage of all web content pages between two dates</Description>
              <RequestType>GET</RequestType>
              <Arguments>Page number in the URL, rowsPerPage, date range .. all optional </Arguments>
              <Returns>WebContent_Usage_Report</Returns>
            </Endpoint>
            <Endpoint Segment="protobuf" ComponentID="C5" Method="Get_Global_Usage_Report" Enabled="true" Protocol="PROTOBUF">
              <Description>Get usage of all web content pages between two dates</Description>
              <RequestType>GET</RequestType>
              <Arguments>Page number in the URL, rowsPerPage, date range .. all optional </Arguments>
              <Returns>WebContent_Usage_Report</Returns>
            </Endpoint>
            <Endpoint Segment="xml" ComponentID="C5" Method="Get_Global_Usage_Report" Enabled="true" Protocol="XML">
              <Description>Get usage of all web content pages between two dates</Description>
              <RequestType>GET</RequestType>
              <Arguments>Page number in the URL, rowsPerPage, date range .. all optional </Arguments>
              <Returns>WebContent_Usage_Report</Returns>
            </Endpoint>
          </Path>
        </Path>
      </Path>
    </Mapping>
    <Components>
      <Component ID="C1" Assembly="myCustomDll.dll" Namespace="SobekCM.Engine_Library.Endpoints" Class="AggregationServices" />
      <Component ID="C2" Assembly="myCustomDll.dll" Namespace="SobekCM.Engine_Library.Endpoints" Class="WebSkinServices" />
      <Component ID="C3" Assembly="myCustomDll.dll" Namespace="SobekCM.Engine_Library.Endpoints" Class="ItemServices" />
      <Component ID="C4" Assembly="myCustomDll.dll" Namespace="SobekCM.Engine_Library.Endpoints" Class="NavigationServices" />
      <Component ID="C5" Assembly="myCustomDll.dll" Namespace="SobekCM.Engine_Library.Endpoints" Class="WebContentServices" />
      <Component ID="C6" Assembly="myCustomDll.dll" Namespace="SobekCM.Engine_Library.Endpoints" Class="ResultsServices" />
      <Component ID="C7" Assembly="myCustomDll.dll" Namespace="SobekCM.Engine_Library.Endpoints" Class="DataServices" />
    </Components>
    <RestrictionRanges>
      <Range ID="R0" Label="Modify and update IPs" >
        <IpRange Label="SobekDigital Mark Dev" Start="127.0.0.1" />
      </Range>
      <Range ID="R1" Label="Read access clients" >
        <IpRange Label="SobekDigital Mark Dev" Start="10.20.0.101" />
      </Range>
    </RestrictionRanges>
  </Microservices>
</SobekCM_Config>