<?xml version="1.0" encoding="utf-8"?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/"
	xsi:schemaLocation="http://sobekrepository.org/schemas
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
	<QualityControl>
		<Errors>
			<Profile isDefault="true" name="Complete" description="The complete QC errors list utilized by UF as of 2014">
				<ErrorCategories>
					<Clear />
					<ErrorCategory ID="1" type="Recapture required">
						<ErrorType ErrorID="1" type="Overcropped" isOther="false" >
							<Translation language="es" text="más de corte" />
							<Translation language="fr" text="sur coupe" />
						</ErrorType>
						<ErrorType ErrorID="2" type="Image Quality error" isOther="false" >
							<Translation language="es" text="Error de calidad de imagen" />
							<Translation language="fr" text="Erreur de qualité d'image" />
						</ErrorType>
						<ErrorType ErrorID="3" type="Technical Spec Error" isOther="false" >
							<Translation language="es" text="Especificaciones error técnico" />
							<Translation language="fr" text="Spécifications techniques erreur" />
						</ErrorType>
						<ErrorType ErrorID="4" type="Other (specify)" isOther="true" >
							<Translation language="es" text="otros (especificar)" />
							<Translation language="fr" text="autres (préciser)" />
						</ErrorType>
					</ErrorCategory>
					<ErrorCategory ID="2" type="Processing required">
						<ErrorType ErrorID="5" type="Undercropped" isOther="false">
							<Translation language="es" text="procesamiento requerido"/>
							<Translation language="fr" text="traitement requis"/>
						</ErrorType>
						<ErrorType ErrorID="6" type="Orientation Error" isOther="false">
							<Translation language="es" text="error de orientación"/>
							<Translation language="fr" text="erreur d'orientation"/>
						</ErrorType>
						<ErrorType ErrorID="7" type="Skew Error" isOther="false">
							<Translation language="es" text="error de sesgo"/>
							<Translation language="fr" text="erreur d'inclinaison"/>
						</ErrorType>
						<ErrorType ErrorID="8" type="Blur Needed" isOther="false">
							<Translation language="es" text="desdibujar necesaria"/>
							<Translation language="fr" text="flou nécessaire"/>
						</ErrorType>
						<ErrorType ErrorID="9" type="Unblur Needed" isOther="false">
							<Translation language="es" text="unblur necesaria"/>
							<Translation language="fr" text="unblur nécessaire"/>
						</ErrorType>
						<ErrorType ErrorID="10" type="Other (specify)" isOther="false">
							<Translation language="es" text="otros (especificar)" />
							<Translation language="fr" text="autres (préciser)" />
						</ErrorType>
					</ErrorCategory>
				</ErrorCategories>
			</Profile>

		</Errors>

	</QualityControl>
</SobekCM_Config>
