<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <Microservices>
    <Mapping>
      <Path Segment="protobuf">
        <Path Segment="aggregation">
          <Endpoint Segment="code" ComponentID="C1" Method="GetAggregationByCode" Enabled="true" RestrictionRangeID="R1 R2" Protocol="PROTOBUF">
            <Description>Gets a single aggregation object, fully built</Description>
            <RequestType>GET</RequestType>
            <Arguments>none</Arguments>
            <Returns>SobekCM.Core.Aggregations.Item_Aggregation</Returns>
          </Endpoint>
        </Path>
      </Path>
      <Path Segment="json">
        <Path Segment="aggregation">
          <Endpoint Segment="code" ComponentID="C1" Method="GetAggregationByCode" Enabled="true" RestrictionRangeID="R1 R2" Protocol="JSON">
            <Description>Gets a single aggregation object, fully built</Description>
            <RequestType>GET</RequestType>
            <Arguments>none</Arguments>
            <Returns>SobekCM.Core.Aggregations.Item_Aggregation</Returns>
          </Endpoint>
        </Path>
      </Path>
    </Mapping>
    <Components>
      <Component ID="C1" Assembly="XX" Namespace="SobekCM.Engine_Library.Endpoints" Class="AggregationServices" />
    </Components>
    <RestrictionRanges>
      <Range ID="R1" Label="Webservers" >
        <IpRange Label="USYellow.com" Start="74.52.223.155" />
        <IpRange Label="BrightLocal.com" Start="74.52.223.155" />
      </Range>
      <Range ID="R2" Label="CSR">
        <IpRange Label="East Office" Start="192.168.0.0" End="192.168.0.255" />
      </Range>
    </RestrictionRanges>
  </Microservices>
</Config>