.upProgressContainer
{
	padding-top: 5px;
	padding-bottom: 5px;
}

.upOuterBar
{
    width: 570px;
    height: 32px;
    border: solid 1px #8a8a8a;
    background-color: #fff;
    overflow: hidden;
}

.upInnerBar
{
    width: 0;
    height: 32px;
    background-color: #cccccc;
    position: relative;
}

.upLabel
{
    width: 100%;
    background-color: Transparent;
    color: #000000;
    text-align: center;
    z-index: 9999;
    position: relative;
    top: -32px;
    font-family: Arial;
    font-size: 9pt;
    font-weight: bold;
}

div.upFileInputs 
{
    position: relative;
}

.upButtons
{
	clear: both;
}

div.upFakeFile 
{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.upFile 
{
    position: relative;
    text-align: right;
    opacity: 0;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    zoom: 1;
    z-index: 2;
    cursor: hand;
    width: 225px;
    border:none;
    zoom:1;
    height: 22px;
}

.upFileBox
{
	position: absolute;
    top: 0px;
    left: 0px;
	height: 22px;
	border: solid 1px #8a8a8a;
	font-size: x-small;
	width: 150px;
}

.upUploadBox
{
	width: 750px;
	padding: 10px;
	
}

.upRemoveButton
{
	position:absolute;
	left: 230px;
	top: 0px;
}

.upSelectButton
{
	position:absolute;
	left: 155px;
	top: 0px;
}

.upButtons
{
	position:relative;
	top: 5px;
}

.upFileNormal
{
	color: blue;
}

.upFileNormal_IE
{
	width: 530px;
	height: 25px;
	color:blue;
}


input.upFileNormal
{
	background-color: White;
	color: blue;
}

input.upFileNormal_IE
{
	width: 530px;
	height: 25px;
	color: blue;
}

.upButtonNormal, .upFileNormal
{
	height: 25px;
}

.upButtonNormal
{
	width: 60px;
	margin-left: 5px;
}

.upShowDynamic
{
	display: none;
}