<?xml version="1.0" encoding="utf-8"?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
	<Metadata>
		<Metadata_File_ReaderWriters>
			<ReaderWriter mdtype="DC" label="Dublin Core File" namespace="SobekCM.Resource_Object.Metadata_File_ReaderWriters" class="DC_File_ReaderWriter" canRead="true" canWrite="true" >
				<Options>
					<Option key="RDF_Style" value="false" />
				</Options>
			</ReaderWriter>
			<ReaderWriter mdtype="DC" label="Dublin Core File (RDF Style)" namespace="SobekCM.Resource_Object.Metadata_File_ReaderWriters" class="DC_File_ReaderWriter" canRead="false" canWrite="true" >
				<Options>
					<Option key="RDF_Style" value="true" />
				</Options>
			</ReaderWriter>
			<ReaderWriter mdtype="EAD" label="Encoded Archival Descriptor (EAD)" namespace="SobekCM.Resource_Object.Metadata_File_ReaderWriters" class="EAD_File_ReaderWriter" canRead="true" canWrite="false" >
				<Options>
					<Option key="Analyze_Description" value="true" />
				</Options>
			</ReaderWriter>
			<ReaderWriter mdtype="MARC21" label="MARC21 Single Record File" namespace="SobekCM.Resource_Object.Metadata_File_ReaderWriters" class="Marc21_File_ReaderWriter" canRead="true" canWrite="true" />
			<ReaderWriter mdtype="MARCXML" label="MarcXML Single Record File" namespace="SobekCM.Resource_Object.Metadata_File_ReaderWriters" class="MarcXML_File_ReaderWriter" canRead="true" canWrite="true" />
			<ReaderWriter mdtype="METS" label="Metadata Encoding and Transmission Standard (METS)" namespace="SobekCM.Resource_Object.Metadata_File_ReaderWriters" class="METS_File_ReaderWriter" canRead="true" canWrite="true" >
				<Options>
					<Option key="Minimize_File_Info" value="false" />
					<Option key="Support_Divisional_dmdSec_amdSec" value="true" />
				</Options>
			</ReaderWriter>
			<ReaderWriter mdtype="MODS" label="Metadata Object Description Standard (MODS)" namespace="SobekCM.Resource_Object.Metadata_File_ReaderWriters" class="MODS_File_ReaderWriter" canRead="true" canWrite="true" />
			<ReaderWriter mdtype="OTHER" othermdtype="INFO" label="Legacy UF INFO Files" namespace="SobekCM.Resource_Object.Metadata_File_ReaderWriters" class="INFO_File_ReaderWriter" canRead="true" canWrite="false" />
			<ReaderWriter mdtype="OTHER" othermdtype="MXF" label="MXF File" namespace="SobekCM.Resource_Object.Metadata_File_ReaderWriters" class="MXF_File_ReaderWriter" canRead="true" canWrite="false" />
			<ReaderWriter mdtype="OTHER" othermdtype="OAI" label="OAI-PMH File" namespace="SobekCM.Resource_Object.Metadata_File_ReaderWriters" class="OAI_File_ReaderWriter" canRead="false" canWrite="true" />
		</Metadata_File_ReaderWriters>
		<METS_Sec_ReaderWriters>
			<ReaderWriter ID="MODS" label="MODS" namespace="SobekCM.Resource_Object.METS_Sec_ReaderWriters" class="MODS_METS_dmdSec_ReaderWriter" isActive="true" section="dmdSec" >
				<Mappings>
					<Mapping mdtype="MODS" label="MODS Metadata" isDefault="true" />
					<Mapping mdtype="Metadata Object Description Standard" />
				</Mappings>
			</ReaderWriter>
			<ReaderWriter ID="DC" label="Dublin Core" namespace="SobekCM.Resource_Object.METS_Sec_ReaderWriters" class="DC_METS_dmdSec_ReaderWriter" isActive="true" section="dmdSec" >
				<Mappings>
					<Mapping mdtype="DC" label="Dublin Core Metadata" isDefault="true" />
					<Mapping mdtype="DUBLIN CORE" />
				</Mappings>
			</ReaderWriter>
			<ReaderWriter ID="MarcXML" label="MarcXML" namespace="SobekCM.Resource_Object.METS_Sec_ReaderWriters" class="MarcXML_METS_dmdSec_ReaderWriter" isActive="true" section="dmdSec" >
				<Mappings>
					<Mapping mdtype="MARCXML" label="MarcXML Metadata" isDefault="true" />
				</Mappings>
			</ReaderWriter>
			<ReaderWriter ID="DARWIN" label="DarwinCore" namespace="SobekCM.Resource_Object.METS_Sec_ReaderWriters" class="DarwinCore_METS_dmdSec_ReaderWriter" isActive="true" section="dmdSec" >
				<Mappings>
					<Mapping mdtype="OTHER" othermdtype="DARWINCORE" label="DarwinCore Zoological Taxonomic Information" isDefault="true" />
				</Mappings>
			</ReaderWriter>
			<ReaderWriter ID="ETD" label="ETD" namespace="SobekCM.Resource_Object.METS_Sec_ReaderWriters" class="ETD_SobekCM_METS_dmdSec_ReaderWriter" isActive="true" section="dmdSec" >
				<Mappings>
					<Mapping mdtype="OTHER" othermdtype="SOBEK_ETD" label="SobekCM ETD Extension" isDefault="true" />
				</Mappings>
			</ReaderWriter>
			<ReaderWriter ID="ETD2" label="ETD2" namespace="SobekCM.Resource_Object.METS_Sec_ReaderWriters" class="ETD_PALMM_METS_dmdSec_ReaderWriter" isActive="true" section="dmdSec" >
				<Mappings>
					<Mapping mdtype="OTHER" othermdtype="PALMM" label="PALMM ETD Extension" isDefault="true" />
					<Mapping mdtype="OTHER" othermdtype="PALMM Extensions" label="PALMM ETD Extension" />
				</Mappings>
			</ReaderWriter>
			<ReaderWriter ID="SOBEK1" label="SobekCM" namespace="SobekCM.Resource_Object.METS_Sec_ReaderWriters" class="SobekCM_METS_dmdSec_ReaderWriter" isActive="true" section="dmdSec" >
				<Mappings>
					<Mapping mdtype="OTHER" othermdtype="SOBEKCM" label="SobekCM Custom Metadata" isDefault="true" />
					<Mapping mdtype="OTHER" othermdtype="UFDC" label="SobekCM Custom Metadata" />
					<Mapping mdtype="OTHER" othermdtype="DLOC" label="SobekCM Custom Metadata" />
				</Mappings>
			</ReaderWriter>
			<ReaderWriter ID="SOBEK2" label="SobekCM Map" namespace="SobekCM.Resource_Object.METS_Sec_ReaderWriters" class="SobekCM_Map_METS_dmdSec_ReaderWriter" isActive="true" section="dmdSec" >
				<Mappings>
					<Mapping mdtype="OTHER" othermdtype="SOBEK_MAP" label="SobekCM Custom Map Authority Metadata" isDefault="true" />
					<Mapping mdtype="OTHER" othermdtype="UFDC_MAP" label="SobekCM Custom Map Authority Metadata" />
				</Mappings>
			</ReaderWriter>
			<ReaderWriter ID="DAITSS" label="DAITSS" namespace="SobekCM.Resource_Object.METS_Sec_ReaderWriters" class="DAITSS_METS_amdSec_ReaderWriter" isActive="true" section="amdSec" amdSecType="digiProvMD" >
				<Mappings>
					<Mapping mdtype="OTHER" othermdtype="DAITSS" label="DAITSS Archiving Information" isDefault="true" />
				</Mappings>
			</ReaderWriter>
			<ReaderWriter ID="RIGHTS" label="RightsMD" namespace="SobekCM.Resource_Object.METS_Sec_ReaderWriters" class="RightsMD_METS_amdSec_ReaderWriter" isActive="true" section="amdSec" amdSecType="rightsMD" >
				<Mappings>
					<Mapping mdtype="OTHER" othermdtype="RIGHTSMD" label="Rights Information" isDefault="true" />
				</Mappings>
			</ReaderWriter>
			<ReaderWriter ID="SOBEK3" label="SobekCM FileInfo" namespace="SobekCM.Resource_Object.METS_Sec_ReaderWriters" class="SobekCM_FileInfo_METS_amdSec_ReaderWriter" isActive="true" section="amdSec" amdSecType="techMD" >
				<Mappings>
					<Mapping mdtype="OTHER" othermdtype="SOBEKCM" label="SobekCM File Technical Details" isDefault="true" />
				</Mappings>
			</ReaderWriter>
			<ReaderWriter ID="GML" label="GML Coordinate" namespace="SobekCM.Resource_Object.METS_Sec_ReaderWriters" class="GML_METS_dmdSec_ReaderWriter" isActive="true" section="dmdSec" >
				<Mappings>
					<Mapping mdtype="OTHER" othermdtype="GML" label="Geographic Markup Language" isDefault="true" />
				</Mappings>
			</ReaderWriter>
			<ReaderWriter ID="IEEE-LOM" label="IEEE-LOM: Learning Object Metadata" namespace="SobekCM.Resource_Object.METS_Sec_ReaderWriters" class="LOM_IEEE_METS_dmdSec_ReaderWriter" isActive="true" section="dmdSec" >
				<Mappings>
					<Mapping mdtype="OTHER" othermdtype="IEEE-LOM" label="Learning Object Metadata" isDefault="true" />
				</Mappings>
			</ReaderWriter>
		</METS_Sec_ReaderWriters>
		<METS_Writing>
			<Profile isDefault="true" name="Complete MODS Writer" description="This profile includes almost all of the possible sub-writers but the main bibliographic data is stored in MODS">				<Package_Scope>
					<dmdSec>
						<ReaderWriterRef ID="MODS" />
						<ReaderWriterRef ID="SOBEK1" />
						<ReaderWriterRef ID="SOBEK2" />
						<ReaderWriterRef ID="DARWIN" />
						<ReaderWriterRef ID="ETD" />
						<ReaderWriterRef ID="GML" />
						<ReaderWriterRef ID="IEEE-LOM" />
					</dmdSec>
					<amdSec>
						<ReaderWriterRef ID="DAITSS" />
						<ReaderWriterRef ID="RIGHTS" />
						<ReaderWriterRef ID="SOBEK3" />
					</amdSec>
				</Package_Scope>
				<Division_Scope>
					<dmdSec>
						<ReaderWriterRef ID="GML" />
					</dmdSec>
				</Division_Scope>
			</Profile>
			<Profile name="Simple Dublin Core Writer" description="This is a simplified profile which uses Dublin Core to describe all levels of the METS">				<Package_Scope>
					<dmdSec>
						<ReaderWriterRef ID="DC" />
					</dmdSec>
					<amdSec>
						<ReaderWriterRef ID="DAITSS" />
						<ReaderWriterRef ID="RIGHTS" />
						<ReaderWriterRef ID="SOBEK3" />
					</amdSec>
				</Package_Scope>
			</Profile>
		</METS_Writing>
	</Metadata>
</SobekCM_Config>
