@charset "UTF-8";
/* CSS Document */

#ufheader{
  display: none;
}
#footer{
  display: none;
}
.UfdcColumnOne
{
  display: none;
}
.UfdcViewSelectRow
{
  display: none;
}


.UfdcPageNavBar
{
  display: none;
}
#UfdcItemWordmark
{
  display: none;
}
#UfdcCopyright{
  display: none;
}
#printedimage img{width:80%; height:80%;}