

-- Log an email which was sent through a different method.  This does not
-- cause a database mail to be sent, just logs an email which was sent
ALTER PROCEDURE [dbo].[SobekCM_Log_Email] 
	@sender varchar(250),
	@recipients_list varchar(500),
	@subject_line varchar(240),
	@email_body nvarchar(max),
	@html_format bit,
	@contact_us bit,
	@replytoemailid int
AS
begin

	-- Log this email
	insert into SobekCM_Email_Log( Sender, Receipt_List, Subject_Line, Email_Body, Sent_Date, HTML_Format, Contact_Us, ReplyToEmailID )
	values ( @sender, @recipients_list, @subject_line + '( log only )', @email_body, GETDATE(), @html_format, @contact_us, @replytoemailid );
	
end;
GO


-- Sends an email via database mail and additionally logs that the email was sent
ALTER PROCEDURE [dbo].[SobekCM_Send_Email] 
	@recipients_list varchar(250),
	@subject_line varchar(500),
	@email_body nvarchar(max),
	@from_address nvarchar(250),
	@reply_to nvarchar(250), 
	@html_format bit,
	@contact_us bit,
	@replytoemailid int,
	@userid int
AS
begin transaction

	if (( @userid < 0 ) or (( select count(*) from SobekCM_Email_Log where UserID = @userid and Sent_Date > DateAdd( DAY, -1, GETDATE())) < 20 ))
	begin

		-- Look for an exact match for the recipients_list.  One recipient list should AT MOST get 250 emails over a 24 hours period
		if ( ( select count(*) from SobekCM_Email_Log where Receipt_List=@recipients_list and Sent_Date > DateAdd( DAY, -1, GETDATE())) > 250 )
		begin
			-- Just add this to the email log, but indicate not sent
			insert into SobekCM_Email_Log( Sender, Receipt_List, Subject_Line, Email_Body, Sent_Date, HTML_Format, Contact_Us, ReplyToEmailId, UserID )
			values ( 'sobekcm noreply profile', @recipients_list, @subject_line + '(not delivered)', 'Too many emails to this recipient list in last 24 hours.  Governer kicked in and this email was not sent.   ' + @email_body, GETDATE(), @html_format, @contact_us, @replytoemailid, @userid );

		end
		else
		begin

			-- Log this email
			insert into SobekCM_Email_Log( Sender, Receipt_List, Subject_Line, Email_Body, Sent_Date, HTML_Format, Contact_Us, ReplyToEmailId, UserID )
			values ( 'sobekcm noreply profile', @recipients_list, @subject_line, @email_body, GETDATE(), @html_format, @contact_us, @replytoemailid, @userid );
		
			-- Send the email
			if ( @html_format = 'true' )
			begin
				if ( len(coalesce(@from_address,'')) > 0 )
				begin
					if ( len(coalesce(@reply_to,'')) > 0 )
					begin
						EXEC msdb.dbo.sp_send_dbmail
							@profile_name= 'sobekcm noreply profile',
							@recipients = @recipients_list,
							@body = @email_body,
							@subject = @subject_line,
							@body_format = 'html',
							@from_address = @from_address,
							@reply_to = @reply_to;
					end
					else
					begin
						EXEC msdb.dbo.sp_send_dbmail
							@profile_name= 'sobekcm noreply profile',
							@recipients = @recipients_list,
							@body = @email_body,
							@subject = @subject_line,
							@body_format = 'html',
							@from_address = @from_address;
					end;
				end
				else
				begin
					if ( len(coalesce(@reply_to,'')) > 0 )
					begin
						EXEC msdb.dbo.sp_send_dbmail
							@profile_name= 'sobekcm noreply profile',
							@recipients = @recipients_list,
							@body = @email_body,
							@subject = @subject_line,
							@body_format = 'html',
							@reply_to = @reply_to;
					end
					else
					begin
						EXEC msdb.dbo.sp_send_dbmail
							@profile_name= 'sobekcm noreply profile',
							@recipients = @recipients_list,
							@body = @email_body,
							@subject = @subject_line,
							@body_format = 'html';
					end;
				end;
			end
			else
			begin
				if ( len(coalesce(@from_address,'')) > 0 )
				begin
					if ( len(coalesce(@reply_to,'')) > 0 )
					begin
						EXEC msdb.dbo.sp_send_dbmail
							@profile_name= 'sobekcm noreply profile',
							@recipients = @recipients_list,
							@body = @email_body,
							@subject = @subject_line,
							@from_address = @from_address,
							@reply_to = @reply_to;
					end
					else
					begin
						EXEC msdb.dbo.sp_send_dbmail
							@profile_name= 'sobekcm noreply profile',
							@recipients = @recipients_list,
							@body = @email_body,
							@subject = @subject_line,
							@from_address = @from_address;
					end;
				end
				else
				begin
					if ( len(coalesce(@reply_to,'')) > 0 )
					begin
						EXEC msdb.dbo.sp_send_dbmail
							@profile_name= 'sobekcm noreply profile',
							@recipients = @recipients_list,
							@body = @email_body,
							@subject = @subject_line,
							@reply_to = @reply_to;
					end
					else
					begin
						EXEC msdb.dbo.sp_send_dbmail
							@profile_name= 'sobekcm noreply profile',
							@recipients = @recipients_list,
							@body = @email_body,
							@subject = @subject_line;
					end;
				end;
			end;
		end;
	end;
	
commit transaction;
GO

