<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<configuration>
  <connection_string type="MSSQL">data source=lib-ufdc-cache\UFDCPROD;initial catalog=ufdc_prod;integrated security=Yes;</connection_string>
  <ghostscript_executable></ghostscript_executable>
  <imagemagick_executable></imagemagick_executable>
</configuration>
