<?xml version="1.0" encoding="utf-8"?>
<SobekCM_Config>
	<Authentication>
		<Shibboleth UserIdentityAttribute="HTTP_UFID" URL="http://ufdc.ufl.edu/Shibboleth.sso/Login?target=http://ufdc.ufl.edu/shibboleth" Label="Gatorlink">
			<AttributeMapping>
				<Mapping ServerVariable="HTTP_EPPN" UserAttribute="EMAIL" />
				<Mapping ServerVariable="HTTP_SN" UserAttribute="LASTNAME" />
				<Mapping ServerVariable="HTTP_GIVENNAME" UserAttribute="FIRSTNAME" />
			</AttributeMapping>
			<Constants>
				<Constant UserAttribute="ORGANIZATION">University of Florida</Constant>
			</Constants>
			<Logic>
				<CanSubmit ServerVariable="HTTP_PRIMARY-AFFILIATION" Value="F" />
			</Logic>
		</Shibboleth>						
	</Authentication>
</SobekCM_Config>
