<?xml version="1.0" encoding="utf-8"?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://sobekrepository.org/schemas/sobekcm_config" xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config  http://sobekrepository.org/schemas/sobekcm_config.xsd">
	<collection id="default">
		<baseImageDirURL>"default/images/mapedit/"</baseImageDirURL>
		<mapLayerActive>"Roadmap"</mapLayerActive>
		<mapCenter>new google.maps.LatLng(29.8944, -81.3147)</mapCenter>
		<mapControlsDisplayed>true</mapControlsDisplayed>
		<kmlDisplayed>false</kmlDisplayed>
		<kmlLayer></kmlLayer>
		<defaultZoomLevel>3</defaultZoomLevel>
		<maxZoomLevel>2</maxZoomLevel>
		<minZoomLevel_Terrain>15</minZoomLevel_Terrain>
		<minZoomLevel_Satellite>20</minZoomLevel_Satellite>
		<minZoomLevel_Roadmap>21</minZoomLevel_Roadmap>
		<minZoomLevel_BlockLot>19</minZoomLevel_BlockLot>
		<strictBounds></strictBounds>
	</collection>
	<collection id="USACH, UF00071783, IR00003495, UF00082548">
		<defaultZoomLevel>13</defaultZoomLevel>
		<mapCenter>new google.maps.LatLng(29.8944, -81.3147)</mapCenter>
		<kmlLayer>new google.maps.KmlLayer("http://ufdc.ufl.edu/design/mapedit/stAugParcel_v6.kmz")</kmlLayer>
		<strictBounds>new google.maps.LatLngBounds(new google.maps.LatLng(29.78225755812941, -81.4306640625),new google.maps.LatLng(29.99181288866604, -81.1917114257))</strictBounds>
	</collection>
</SobekCM_Config>
