<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<configuration>
  <!-- NOTE: If you change the database connection string in production, you need to restart the app pool/iis. -->
  <!--       If you change the database connection string in Visual Studio, you need to restart Visual Studio. -->
  <!--<connection_string type="MSSQL">data source=lib-sobekdb\sobekcm;initial catalog=SobekDB;integrated security=Yes;</connection_string>-->
  <connection_string type="MSSQL">data source=lib-ufdc-cache\UFDCPROD;initial catalog=SobekDev;integrated security=Yes;</connection_string>
  <error_emails>marsull@uflib.ufl.edu</error_emails>
  <error_page>http://ufdc.ufl.edu/error.html</error_page>
</configuration>