<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<configuration>
  <connection_string type="MSSQL">data source=lib-sobekdb\sobekcm;initial catalog=NCF;integrated security=Yes;</connection_string>
  <error_emails>marsull@uflib.ufl.edu</error_emails>
  <error_page>http://ufdc.ufl.edu/error.html</error_page>
</configuration>