<?xml version="1.0" encoding="utf-8"?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config 
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
	<QualityControl>
		<Profiles>
			<Profile isDefault="true" name="Complete" description="The complete divisions list utilized by UF from 2005-2013">
				<DivisionType DivisionID="38" type="Abstract" isNameable="false" base="Abstract" >
					<Translation language="es" text="Resumen" />
					<Translation language="fr" text="Résumé" />
				</DivisionType>
				<DivisionType DivisionID="1" type="Acknowledgement" isNameable="false" base="Chapter" >
					<Translation language="es" text="Reconocimiento" />
					<Translation language="fr" text="Remerciement" />
				</DivisionType>
				<DivisionType DivisionID="2" type="Advertising" isNameable="false" base="Advertising" >
					<Translation language="es" text="Publicidad" />
					<Translation language="fr" text="Publicité" />
				</DivisionType>
				<DivisionType DivisionID="31" type="Appendix" isNameable="true" base="Appendix" >
					<Translation language="es" text="Apéndice" />
					<Translation language="fr" text="Annexe" />
				</DivisionType>
				<DivisionType DivisionID="48" type="Back Cover" isNameable="false" base="Cover" >
					<Translation language="es" text="Portada Posterior" />
					<Translation language="fr" text="Couverture Arrière" />
				</DivisionType>
				<DivisionType DivisionID="3" type="Back Matter" isNameable="false" base="Back Matter" >
					<Translation language="es" text="Materia Posterior" />
					<Translation language="fr" text="Matière Arrière" />
				</DivisionType>
				<DivisionType DivisionID="4" type="Bibliography" isNameable="false" base="Chapter" >
					<Translation language="es" text="Bibliografía" />
					<Translation language="fr" text="Bibliographie" />
				</DivisionType>
				<DivisionType DivisionID="5" type="Chapter" isNameable="true" base="Chapter" >
					<Translation language="es" text="Capítulo" />
					<Translation language="fr" text="Chapitre" />
				</DivisionType>
				<DivisionType DivisionID="40" type="Conclusion" isNameable="false" base="Chapter" >
					<Translation language="es" text="Conclusión" />
					<Translation language="fr" text="Conclusion" />
				</DivisionType>
				<DivisionType DivisionID="30" type="Copyright" isNameable="false" base="Copyright" >
					<Translation language="es" text="Derecho de Autor" />
					<Translation language="fr" text="Copyright" />
				</DivisionType>
				<DivisionType DivisionID="6" type="Cover" isActive="false" isNameable="false" base="Cover" >
					<Translation language="es" text="Portada" />
					<Translation language="fr" text="Couverture" />
				</DivisionType>
				<DivisionType DivisionID="7" type="Dedication" isNameable="false" base="Dedication" >
					<Translation language="es" text="Dedicación" />
					<Translation language="fr" text="Attachement" />
				</DivisionType>
				<DivisionType DivisionID="14" type="Errata" isNameable="false" base="Chapter" >
					<Translation language="es" text="Errata" />
					<Translation language="fr" text="Erratas" />
				</DivisionType>
				<DivisionType DivisionID="15" type="Foreword" isNameable="false" base="Chapter" >
					<Translation language="es" text="Advertencia" />
					<Translation language="fr" text="Avant-propos" />
				</DivisionType>
				<DivisionType DivisionID="46" type="Front Cover" isNameable="false" base="Cover" >
					<Translation language="es" text="Portada Delantera" />
					<Translation language="fr" text="Couverture Frente" />
				</DivisionType>
				<DivisionType DivisionID="16" type="Front Matter" isNameable="false" base="Front Matter" >
					<Translation language="es" text="Materia Delantera" />
					<Translation language="fr" text="Préliminaires" />
				</DivisionType>
				<DivisionType DivisionID="29" type="Frontispiece" isNameable="false" base="Frontispiece" >
					<Translation language="es" text="Imagen Delantera" />
					<Translation language="fr" text="Frontispiece" />
				</DivisionType>
				<DivisionType DivisionID="17" type="Half Title" isNameable="false" base="Title" >
					<Translation language="es" text="Medio-Título" />
					<Translation language="fr" text="Demi-titre" />
				</DivisionType>
				<DivisionType DivisionID="18" type="Index" isNameable="true" base="Index" >
					<Translation language="es" text="Indice" />
					<Translation language="fr" text="Indice" />
				</DivisionType>
				<DivisionType DivisionID="49" type="Interview" isNameable="false" base="Chapter" >
					<Translation language="es" text="Entrevista" />
					<Translation language="fr" text="Interview" />
				</DivisionType>
				<DivisionType DivisionID="19" type="Introduction" isNameable="false" base="Chapter" >
					<Translation language="es" text="Introducción" />
					<Translation language="fr" text="Introduction" />
				</DivisionType>
				<DivisionType DivisionID="55" type="Issue" isNameable="true" base="Chapter" >
					<Translation language="es" text="Issue" />
					<Translation language="fr" text="Issue" />
				</DivisionType>
				<DivisionType DivisionID="34" type="List of Figures" isNameable="false" base="List, Figures" >
					<Translation language="es" text="Lista de Figuras" />
					<Translation language="fr" text="Liste de Figures" />
				</DivisionType>
				<DivisionType DivisionID="20" type="List of Illustrations" isNameable="false" base="List, Illustrations" >
					<Translation language="es" text="Lista de Ilustraciones" />
					<Translation language="fr" text="Liste de Ilustraciones" />
				</DivisionType>
				<DivisionType DivisionID="21" type="List of Tables" isNameable="false" base="List, Tables" >
					<Translation language="es" text="Lista de Tablas" />
					<Translation language="fr" text="Liste de Tableaux" />
				</DivisionType>
				<DivisionType DivisionID="32" type="Main" isNameable="false" base="Main" >
					<Translation language="es" text="Principal" />
					<Translation language="fr" text="Principale" />
				</DivisionType>
				<DivisionType DivisionID="36" type="Methodology" isNameable="false" base="Chapter" >
					<Translation language="es" text="Metodología" />
					<Translation language="fr" text="Méthodologie" />
				</DivisionType>
				<DivisionType DivisionID="44" type="Poem" isNameable="true" base="Poem" >
					<Translation language="es" text="Poema" />
					<Translation language="fr" text="Poésie" />
				</DivisionType>
				<DivisionType DivisionID="22" type="Preface" isNameable="false" base="Chapter" >
					<Translation language="es" text="Prefacio" />
					<Translation language="fr" text="Préface" />
				</DivisionType>
				<DivisionType DivisionID="42" type="Prelude" isNameable="false" base="Chapter" >
					<Translation language="es" text="Preludio" />
					<Translation language="fr" text="Prélude" />
				</DivisionType>
				<DivisionType DivisionID="23" type="Reference" isNameable="false" base="Chapter" >
					<Translation language="es" text="Referencia" />
					<Translation language="fr" text="Référence" />
				</DivisionType>
				<DivisionType DivisionID="43" type="Section" isNameable="true" base="Chapter" >
					<Translation language="es" text="Sección" />
					<Translation language="fr" text="Section" />
				</DivisionType>
				<DivisionType DivisionID="24" type="Spine" isNameable="false" base="Spine" >
					<Translation language="es" text="Canto" />
					<Translation language="fr" text="Épine de livre" />
				</DivisionType>
				<DivisionType DivisionID="8" type="Subdivision Level 1" isNameable="true" base="SUB1" >
					<Translation language="es" text="Subdivisión de Nivel 1" />
					<Translation language="fr" text="Subdivision du Niveau 1" />
				</DivisionType>
				<DivisionType DivisionID="9" type="Subdivision Level 2" isNameable="true" base="SUB2" >
					<Translation language="es" text="Subdivisión de Nivel 2" />
					<Translation language="fr" text="Subdivision du Niveau 2" />
				</DivisionType>
				<DivisionType DivisionID="10" type="Subdivision Level 3" isNameable="true" base="SUB3" >
					<Translation language="es" text="Subdivisión de Nivel 3" />
					<Translation language="fr" text="Subdivision du Niveau 3" />
				</DivisionType>
				<DivisionType DivisionID="11" type="Subdivision Level 4" isNameable="true" base="SUB4" >
					<Translation language="es" text="Subdivisión de Nivel 4" />
					<Translation language="fr" text="Subdivision du Niveau 4" />
				</DivisionType>
				<DivisionType DivisionID="12" type="Subdivision Level 5" isNameable="true" base="SUB5" >
					<Translation language="es" text="Subdivisión de Nivel 5" />
					<Translation language="fr" text="Subdivision du Niveau 5" />
				</DivisionType>
				<DivisionType DivisionID="13" type="Subdivision Level 6" isNameable="true" base="SUB6" >
					<Translation language="es" text="Subdivisión de Nivel 6" />
					<Translation language="fr" text="Subdivision du Niveau 6" />
				</DivisionType>
				<DivisionType DivisionID="25" type="Table of Contents" isNameable="false" base="Contents" >
					<Translation language="es" text="Contenidos" />
					<Translation language="fr" text="Table des Matières" />
				</DivisionType>
				<DivisionType DivisionID="26" type="Title Page" isNameable="false" base="Title" >
					<Translation language="es" text="Titulario" />
					<Translation language="fr" text="Titre" />
				</DivisionType>
				<DivisionType DivisionID="56" type="Volume" isNameable="true" base="Chapter" >
					<Translation language="es" text="Volume" />
					<Translation language="fr" text="Volume" />
				</DivisionType>
				<DivisionType DivisionID="27" type="Group" isActive="false" isNameable="true" base="Group" >
					<Translation language="es" text="Grupo" />
					<Translation language="fr" text="Groupe" />
				</DivisionType>
			</Profile>
			<Profile isDefault="false" name="Short List" description="Short list of book-type divisions">
				<DivisionType DivisionID="1" type="Back Cover" isNameable="false" base="Cover" >
					<Translation language="es" text="Portada Posterior" />
					<Translation language="fr" text="Couverture Arrière" />
				</DivisionType>
				<DivisionType DivisionID="2" type="Back Matter" isNameable="false" >
					<Translation language="es" text="Materia Posterior" />
					<Translation language="fr" text="Matière Arrière" />
				</DivisionType>
				<DivisionType DivisionID="3" type="Chapter" isNameable="true" >
					<Translation language="es" text="Capítulo" />
					<Translation language="fr" text="Chapitre" />
				</DivisionType>
				<DivisionType DivisionID="4" type="Front Cover" isNameable="false" base="Cover" >
					<Translation language="es" text="Portada Delantera" />
					<Translation language="fr" text="Couverture Frente" />
				</DivisionType>
				<DivisionType DivisionID="5" type="Front Matter" isNameable="false" >
					<Translation language="es" text="Materia Delantera" />
					<Translation language="fr" text="Préliminaires" />
				</DivisionType>
				<DivisionType DivisionID="6" type="Index" isNameable="true" >
					<Translation language="es" text="Indice" />
					<Translation language="fr" text="Indice" />
				</DivisionType>
				<DivisionType DivisionID="7" type="Introduction" isNameable="false" base="Chapter" >
					<Translation language="es" text="Introducción" />
					<Translation language="fr" text="Introduction" />
				</DivisionType>
				<DivisionType DivisionID="8" type="Spine" isNameable="false" >
					<Translation language="es" text="Canto" />
					<Translation language="fr" text="Épine de livre" />
				</DivisionType>
				<DivisionType DivisionID="9" type="Table of Contents" isNameable="false" base="Contents" >
					<Translation language="es" text="Contenidos" />
					<Translation language="fr" text="Table des Matières" />
				</DivisionType>
				<DivisionType DivisionID="10" type="Title Page" isNameable="false" base="Title" >
					<Translation language="es" text="Titre" />
					<Translation language="fr" text="Titulario" />
				</DivisionType>
			</Profile>

		</Profiles>
	</QualityControl>
</SobekCM_Config>
