<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

		<!-- File for all the custom actions -->
		<Binary Id="FI.CustomActionsFile2" SourceFile="$(var.SolutionDir)\SobekCM_WiX_Installer_CustomActions\bin\Debug\SobekCM_WiX_Installer_CustomActions.CA.dll" />

		<!-- List of custom actions from dLL -->
		<CustomAction Id="CA.GetIISWebSites" BinaryKey="FI.CustomActionsFile2" DllEntry="GetWebSites" Execute="immediate"  Return="check" Impersonate="yes" />

		<!-- Run the custom action just after cost finalize, so we have the names of all the  -->
		<!-- IIS web sites when the user can select them in the UI                            -->
		<InstallUISequence>
			<Custom Action="CA.GetIISWebSites" After="CostFinalize" Overridable="yes">NOT Installed</Custom>
		</InstallUISequence>

		<!-- Custom table to hold the available websites between custom actions and display -->
		<CustomTable Id="AvailableWebSites" >
			<Column Id="WebSiteNo" Category="Identifier" PrimaryKey="yes" Type="int" Width="4" />
			<Column Id="WebSiteDescription" Category="Text" Type="string" PrimaryKey="no"/>
			<Column Id="WebSitePort" Category="Text" Type="string" PrimaryKey="no"/>
			<Column Id="WebSiteIP" Category="Text" Type="string" PrimaryKey="no" Nullable="yes"/>
			<Column Id="WebSiteHeader" Category="Text" Type="string" PrimaryKey="no" Nullable="yes"/>
		</CustomTable>
		<EnsureTable Id="AvailableWebSites"/>

		<!-- By default, start with default website -->
		<Property Id="WEBSITE" Value="1" />

		<!-- Properties used for the website selection -->
		<Property Id="WEBSITE_DESCRIPTION" Value="Default Web Site">
			<RegistrySearch Id="WebSiteDescription" Name="WebSiteDescription" Root="HKLM" Key="SOFTWARE\SobekCM\Web" Type="raw" />
		</Property>
		<Property Id="WEBSITE_PORT" Value="80">
			<RegistrySearch Id="WebSitePort" Name="WebSitePort" Root="HKLM" Key="SOFTWARE\SobekCM\Web" Type="raw" />
		</Property>
		<Property Id="WEBSITE_IP">
			<RegistrySearch Id="WebSiteIP" Name="WebSiteIP" Root="HKLM" Key="SOFTWARE\SobekCM\Web" Type="raw" />
		</Property>
		<Property Id="WEBSITE_HEADER">
			<RegistrySearch Id="WebSiteHeader" Name="WebSiteHeader" Root="HKLM" Key="SOFTWARE\SobekCM\Web" Type="raw" />
		</Property>
		
	</Fragment>
</Wix>