<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  
  <!-- This code describes the actual extension and sets some top level inforation -->
  <Extension code="TEI" name="TEI Extensions" version="1.0" >
    
    <!-- Administrative information about this plugin -->
    <AdminInfo>
      <Description>This plug-in was originally developed for SOAS, University of London to enable TEI import, 
      display and editing within the SobekCM system.</Description>
      <Authors>
        <Author name="Sullivan, Mark" email="Mark.V.Sullivan@sobekdigital.com" />
      </Authors>
      <Permissions>Open domain</Permissions>      
    </AdminInfo>
  </Extension>

  <!-- The great bulk of this extension is built into the core SobekCM code.  -->
  <!-- It does not manifest itself until this plug-in is enabled though.      -->
  <!-- Over time, this will be converted into a true plug-in as the plug-in   -->
  <!-- architecture is expanded.                                              -->
 
  
</SobekCM_Config>