<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<Dialog Id="UI.FeatureSelection" Width="470" Height="370" Title="!(loc.CustomizeDlg_Title)" TrackDiskSpace="yes">
				<Control Id="Tree" Type="SelectionTree" X="25" Y="105" Width="225" Height="195" Property="_BrowseProperty" Sunken="no" TabSkip="no" Text="!(loc.CustomizeDlgTree)" >
					<Publish Property="InstallWeb" Value="1"><![CDATA[&WebFeature = 3]]></Publish>
					<Publish Property="InstallWeb"><![CDATA[&WebFeature <> 3]]></Publish>
					<Publish Property="InstallSolr" Value="1"><![CDATA[&SolrFeature = 3]]></Publish>
					<Publish Property="InstallSolr"><![CDATA[&SolrFeature <> 3]]></Publish>
					<Publish Property="InstallBuilder" Value="1"><![CDATA[&BuilderFeature = 3]]></Publish>
					<Publish Property="InstallBuilder"><![CDATA[&BuilderFeature <> 3]]></Publish>
				</Control>
				<Control Id="Reset" Type="PushButton" X="10" Y="343" Width="81" Height="17" Text="!(loc.CustomizeDlgReset)">
					<Publish Event="Reset" Value="0">1</Publish>
					<Subscribe Event="SelectionNoItems" Attribute="Enabled" />
				</Control>
				<Control Id="DiskCost" Type="PushButton" X="91" Y="343" Width="100" Height="17" Text="!(loc.CustomizeDlgDiskCost)">
					<Publish Event="SpawnDialog" Value="DiskCostDlg">1</Publish>
					<Subscribe Event="SelectionNoItems" Attribute="Enabled" />
				</Control>
				<Control Id="Text" Type="Text" X="35" Y="75" Width="400" Height="20" Text="!(loc.CustomizeDlgText)" />

				<Control Id="Box" Type="GroupBox" X="260" Y="101" Width="200" Height="198" />
				<Control Id="ItemDescription" Type="Text" X="265" Y="110" Width="181" Height="80" Text="!(loc.CustomizeDlgItemDescription)">
					<Subscribe Event="SelectionDescription" Attribute="Text" />
				</Control>
				<Control Id="ItemSize" Type="Text" X="265" Y="240" Width="181" Height="50" Text="!(loc.CustomizeDlgItemSize)">
					<Subscribe Event="SelectionSize" Attribute="Text" />
				</Control>

				<!-- Standard buttons -->
				<Control Id="BottomLine" Type="Line" X="0" Y="334" Width="470" Height="0" />
				<Control Id="Back" Type="PushButton" X="280" Y="343" Width="56" Height="17" Text="!(loc.WixUIBack)"></Control>
				<Control Id="Next" Type="PushButton" X="336" Y="343" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
					<Subscribe Event="SelectionNoItems" Attribute="Enabled" />
				</Control>
				<Control Id="Cancel" Type="PushButton" X="404" Y="343" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>

				<!-- Top banner -->
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="470" Height="56" TabSkip="no" Text="UI.LargerBanner" />
				<Control Id="BannerLine" Type="Line" X="0" Y="56" Width="470" Height="0" />
				<Control Id="Title" Type="Text" X="15" Y="8" Width="400" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.CustomizeDlgTitle)" />
				<Control Id="Description" Type="Text" X="25" Y="30" Width="420" Height="33" Transparent="yes" NoPrefix="yes" Text="!(loc.CustomizeDlgDescription)" />


			</Dialog>
		</UI>
	</Fragment>
</Wix>