<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<Dialog Id="UI.GenericErrorDialog" Width="270" Height="105" Title="[_ErrorTitle]">
				<Control Id="ErrorText" Type="Text" X="48" Y="15" Width="205" Height="60" TabSkip="no" NoPrefix="yes" Text="[_ErrorMessage]" />
				<Control Id="ErrorIcon" Type="Icon" X="15" Y="15" Width="24" Height="24" ToolTip="!(loc.ErrorDlgErrorIconTooltip)" FixedSize="yes" IconSize="32" Text="UI.ErrorIcon" />
				<Control Id="OkButton" Type="PushButton" X="100" Y="80" Width="56" Height="17" Default="yes" Cancel="yes" Text="OK">
					<Publish Event="EndDialog" Value="Return">1</Publish>
				</Control>			
			</Dialog>
		</UI>
	</Fragment>
</Wix>