<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<Dialog Id="UI.GenericInfoDialog" Width="270" Height="105" Title="[_InfoTitle]">
				<Control Id="InfoText" Type="Text" X="48" Y="15" Width="205" Height="60" TabSkip="no" NoPrefix="yes" Text="[_InfoMessage]" />
				<Control Id="InfoIcon" Type="Icon" X="15" Y="15" Width="24" Height="24" FixedSize="yes" IconSize="32" Text="UI.InfoIcon" />
				<Control Id="OkButton" Type="PushButton" X="100" Y="80" Width="56" Height="17" Default="yes" Cancel="yes" Text="OK">
					<Publish Event="EndDialog" Value="Return">1</Publish>
				</Control>
			</Dialog>
		</UI>
	</Fragment>
</Wix>