<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<Dialog Id="UI.InstitutionDialog"  Width="470" Height="370" Title="SobekCM Institution/Project Configuration" NoMinimize="yes">

				<Control Id="MainLabel" Type="Text" X="35" Y="75" Width="400" Height="40" TabSkip="no" Text="Enter the name and an abbreviation of your institution or project below.  This will be used to initially configure the database and web application and begin to customize the look-and-feel of your instance." />


				<Control Id="InstitutionNameLabel" Type="Text" X="55" Y="163" Width="145" Height="15" TabSkip="no" Text="Institution/Project Name:" />
				<Control Id="InstitutionNameEdit" Type="Edit" X="200" Y="160" Width="240" Height="18" Property="INSTITUTION_NAME" Text="{80}" />
				<Control Id="InstitutionCodeLabel" Type="Text" X="55" Y="205" Width="145" Height="15" TabSkip="no" Text="Institution/Project Abbreviation:" />
				<Control Id="InstitutionCodeEdit" Type="Edit" X="200" Y="202" Width="90" Height="18" Property="INSTITUTION_CODE" Text="{80}" />


				<!-- Standard buttons -->
				<Control Id="BottomLine" Type="Line" X="0" Y="334" Width="470" Height="0" />
				<Control Id="Back" Type="PushButton" X="280" Y="343" Width="56" Height="17" Text="!(loc.WixUIBack)"></Control>
				<Control Id="Next" Type="PushButton" X="336" Y="343" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)"></Control>
				<Control Id="Cancel" Type="PushButton" X="404" Y="343" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>


				<!-- Top banner -->
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="470" Height="56" TabSkip="no" Text="UI.LargerBanner" />
				<Control Id="BannerLine" Type="Line" X="0" Y="56" Width="470" Height="0" />
				<Control Id="Title" Type="Text" X="15" Y="8" Width="400" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Institution/Project Information" />
				<Control Id="Description" Type="Text" X="25" Y="30" Width="420" Height="33" Transparent="yes" NoPrefix="yes" Text="Entering the data below will allow some initial configuration to occur" />

			</Dialog>
		</UI>
	</Fragment>
</Wix>