<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<Dialog Id="UI.ServiceAcctDialog"  Width="470" Height="370" Title="SobekCM Service Accounts" NoMinimize="yes">

				<Control Id="MainLabel" Type="Text" X="35" Y="75" Width="400" Height="40" TabSkip="no" Text="Enter the service accounts under which the web application and builder service will execute to set folder permissions and database roles correctly." />
				<Control Id="MainLabel2" Type="Text" X="35" Y="115" Width="400" Height="40" TabSkip="no" Text="Include the domain name. ( e.g., 'UFAD\serviceaccount' or 'MARK-LAPTOP\MARK' )" />

				
				<Control Id="WebAccountLabel" Type="Text" X="55" Y="163" Width="220" Height="15" TabSkip="no" Text="Web Service Account:" />
				<Control Id="WebAccountEdit" Type="Edit" X="170" Y="160" Width="140" Height="18" Property="WEB_SERVICE_ACCOUNT" Text="{80}" />
				<Control Id="BuilderAccountLabel" Type="Text" X="55" Y="205" Width="120" Height="15" TabSkip="no" Text="Builder Service Account:" />
				<Control Id="BuilderAccountEdit" Type="Edit" X="170" Y="202" Width="140" Height="18" Property="BUILDER_SERVICE_ACCOUNT" Text="{80}" />

				<Control Id="MainLabel3" Type="Text" X="35" Y="253" Width="400" Height="60" TabSkip="no" Text="The web service account is the user under which the application pool in IIS runs and the builder service account is the account under which the builder's scheduled task is launched.  Depending on your install choices, you may be asked for the passwords for one or both of these accounts." />

				<!-- Standard buttons -->
				<Control Id="BottomLine" Type="Line" X="0" Y="334" Width="470" Height="0" />
				<Control Id="Back" Type="PushButton" X="280" Y="343" Width="56" Height="17" Text="!(loc.WixUIBack)"></Control>
				<Control Id="Next" Type="PushButton" X="336" Y="343" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)"></Control>
				<Control Id="Cancel" Type="PushButton" X="404" Y="343" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>


				<!-- Top banner -->
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="470" Height="56" TabSkip="no" Text="UI.LargerBanner" />
				<Control Id="BannerLine" Type="Line" X="0" Y="56" Width="470" Height="0" />
				<Control Id="Title" Type="Text" X="15" Y="8" Width="400" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Service Accounts" />
				<Control Id="Description" Type="Text" X="25" Y="30" Width="420" Height="33" Transparent="yes" NoPrefix="yes" Text="Enter the accounts under which the web and builder will run." />

			</Dialog>
		</UI>
	</Fragment>
</Wix>
