<?xml version="1.0" encoding="UTF-8"?>


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>

			<!-- Main buttons for the setup type -->
			<Binary Id="UI.OneServerImage" SourceFile="Images/onserver.bmp" />
			<Binary Id="UI.TwoSrvrWebImg" SourceFile="Images/twoserver_web.bmp" />
			<Binary Id="UI.TwoSrvrBackImg" SourceFile="Images/twoserver_back.bmp" />
			<Binary Id="UI.AdvServerImg" SourceFile="Images/advancedserver.bmp" />
			
        <UI>
            <Dialog Id="UI.SetupTypeDialog" Width="470" Height="420" Title="!(loc.SetupTypeDlg_Title)">
							<Control Id="SingleServerButton" Type="PushButton" X="10" Y="75" Width="92" Height="65" Bitmap="yes" ToolTip="Single server configuration" Default="yes" Text="UI.OneServerImage" >
								<Publish Property="InstallWeb" Value="1">1</Publish>
								<Publish Property="InstallZoomable" Value="1">1</Publish>
								<Publish Property="InstallBuilder" Value="1">1</Publish>
								<Publish Property="InstallSolr" Value="1">1</Publish>
								<Publish Property="AdvancedConfiguration">1</Publish>
								<Publish Property="DB_SERVER" Value="localhost">1</Publish>
							</Control>
                <Control Id="WebServerButton" Type="PushButton" X="10" Y="150" Width="92" Height="65" Bitmap="yes" ToolTip="Two server configuration - front server" Text="UI.TwoSrvrWebImg">
									<Publish Property="InstallWeb" Value="1">1</Publish>
									<Publish Property="InstallZoomable" Value="1">1</Publish>
									<Publish Property="InstallBuilder">1</Publish>
									<Publish Property="InstallSolr">1</Publish>
									<Publish Property="AdvancedConfiguration">1</Publish>
                </Control>
                <Control Id="BackServerButton" Type="PushButton" X="10" Y="225" Width="92" Height="65" Bitmap="yes" ToolTip="Two server configuration - back server" Text="UI.TwoSrvrBackImg">
									<Publish Property="InstallWeb">1</Publish>
									<Publish Property="InstallZoomable">1</Publish>
									<Publish Property="InstallBuilder" Value="1">1</Publish>
									<Publish Property="InstallSolr" Value="1">1</Publish>
									<Publish Property="AdvancedConfiguration">1</Publish>
									<Publish Event="SetInstallLevel" Value="5">1</Publish>
                </Control>
							<Control Id="AdvancedButton" Type="PushButton" X="10" Y="300" Width="92" Height="65" Bitmap="yes" ToolTip="Advanced" Text="UI.AdvServerImg" >
								<Publish Property="AdvancedConfiguration" Value="1">1</Publish>
							</Control>
							
							  <!-- Standard buttons -->
							  <Control Id="BottomLine" Type="Line" X="0" Y="384" Width="470" Height="0" />
                <Control Id="Back" Type="PushButton" X="280" Y="393" Width="56" Height="17" Text="!(loc.WixUIBack)" />
                <Control Id="Next" Type="PushButton" X="336" Y="393" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUINext)" />
                <Control Id="Cancel" Type="PushButton" X="404" Y="393" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>

							<!-- Top banner -->
							<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="470" Height="56" TabSkip="no" Text="UI.LargerBanner" />
							<Control Id="BannerLine" Type="Line" X="0" Y="56" Width="470" Height="0" />
							<Control Id="Title" Type="Text" X="15" Y="8" Width="400" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.SetupTypeDlgTitle)" />
							<Control Id="Description" Type="Text" X="25" Y="30" Width="420" Height="33" Transparent="yes" NoPrefix="yes" Text="!(loc.SetupTypeDlgDescription)" />

							<!-- Text beside the option buttons -->
                <Control Id="SingleTitle" Type="Text" X="110" Y="80" Width="340" Height="20" Text="{\SobekUI_Font_SetupType}Full Install" />
							  <Control Id="SingleText" Type="Text" X="110" Y="97" Width="340" Height="60" Text="Select this option if all SobekCM components will be installed on this computer, including the web application, the builder, and files necessary for other components." />
							
							  <Control Id="WebServerTitle" Type="Text" X="110" Y="153" Width="340" Height="20" Text="{\SobekUI_Font_SetupType}Web Server Install" />
							  <Control Id="WebServerText" Type="Text" X="110" Y="170" Width="340" Height="60" Text="If you are running the typical two machine configuration and this computer is the web server, select this option.  The web application and necessary files for the zoomable image server will be installed." />

							  <Control Id="BackServerTitle" Type="Text" X="110" Y="230" Width="340" Height="20" Text="{\SobekUI_Font_SetupType}Back / Data Server Install" />
							  <Control Id="BackServerText" Type="Text" X="110" Y="247" Width="340" Height="60" Text="If you are running the typical two machine configuration and this computer will be the back server, select this option.  The builder and necessary files for the full text indexing will be installed." />

							  <Control Id="AdvancedTitle" Type="Text" X="110" Y="310" Width="340" Height="20" Text="{\SobekUI_Font_SetupType}Advanced Install" />
							  <Control Id="AdvancedText" Type="Text" X="110" Y="327" Width="340" Height="48" Text="Select this option to individually select which SobekCM components should be installed on this computer." />
            </Dialog>
        </UI>
    </Fragment>
</Wix>