<?xml version="1.0" encoding="UTF-8"?>

<?include "..\Definitions.wxi" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI>
			<Dialog Id="UI.WelcomeDialog" Width="470" Height="370" Title="!(loc.WelcomeDlg_Title)">


				<Control Id="Description" Type="Text" X="145" Y="90" Width="290" Height="60" Transparent="yes" NoPrefix="yes" Text="This Setup Wizard will install selected components of the SobekCM Digital Repository System on your computer." >
					<Condition Action="show">NOT Installed OR NOT PATCH</Condition>
					<Condition Action="hide">Installed AND PATCH</Condition>
				</Control>
				<Control Id="Description2" Type="Text" X="145" Y="130" Width="290" Height="60" Transparent="yes" NoPrefix="yes" Text="The possible components which can be installed with this wizard include:" >
					<Condition Action="show">NOT Installed OR NOT PATCH</Condition>
					<Condition Action="hide">Installed AND PATCH</Condition>
				</Control>
				<Control Id="Db" Type="Text" X="195" Y="160" Width="260" Height="60" Transparent="yes" NoPrefix="yes" Text="• SobekCM (MS SQL) Database" >
					<Condition Action="show">NOT Installed OR NOT PATCH</Condition>
					<Condition Action="hide">Installed AND PATCH</Condition>
				</Control>
				<Control Id="WebApp" Type="Text" X="195" Y="180" Width="260" Height="60" Transparent="yes" NoPrefix="yes" Text="• Main Web Application" >
					<Condition Action="show">NOT Installed OR NOT PATCH</Condition>
					<Condition Action="hide">Installed AND PATCH</Condition>
				</Control>
				<Control Id="Builder" Type="Text" X="195" Y="200" Width="260" Height="60" Transparent="yes" NoPrefix="yes" Text="• Builder / Bulk Loader Service" >
					<Condition Action="show">NOT Installed OR NOT PATCH</Condition>
					<Condition Action="hide">Installed AND PATCH</Condition>
				</Control>
				<Control Id="SolrIndexes" Type="Text" X="195" Y="220" Width="260" Height="60" Transparent="yes" NoPrefix="yes" Text="• Solr Full-Text Indexes" >
					<Condition Action="show">NOT Installed OR NOT PATCH</Condition>
					<Condition Action="hide">Installed AND PATCH</Condition>
				</Control>
				<Control Id="Description4" Type="Text" X="145" Y="280" Width="290" Height="60" Transparent="yes" NoPrefix="yes" Text="Click Next to get started or Cancel to exit the Setup Wizard." >
					<Condition Action="show">NOT Installed OR NOT PATCH</Condition>
					<Condition Action="hide">Installed AND PATCH</Condition>
				</Control>
				<Control Id="PatchDescription" Type="Text" X="145" Y="130" Width="290" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeUpdateDlgDescriptionUpdate)" >
					<Condition Action="show">Installed AND PATCH</Condition>
					<Condition Action="hide">NOT Installed OR NOT PATCH</Condition>
				</Control>
				<Control Id="Title" Type="Text" X="155" Y="30" Width="290" Height="60" Transparent="yes" NoPrefix="yes" Text="{\SobekUI_Font_Bigger}Welcome to the SobekCM Digital Repository System Setup Wizard" />

				<Control Id="VersionText" Type="Text" X="25" Y="347" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="$(var.ProductVersionText)" />

				<!-- Standard buttons -->
				<Control Id="BottomLine" Type="Line" X="0" Y="334" Width="470" Height="0" />
				<Control Id="Back" Type="PushButton" X="280" Y="343" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUIBack)"></Control>
				<Control Id="Next" Type="PushButton" X="336" Y="343" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
					<Publish Property="WixUI_InstallMode" Value="Update">Installed AND PATCH</Publish>
				</Control>
				<Control Id="Cancel" Type="PushButton" X="404" Y="343" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>

				<!-- Background image -->
				<Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="470" Height="334" TabSkip="no" Text="UI.LargerDialogImg" />
				
			</Dialog>
		</UI>
	</Fragment>
</Wix>