/* Style sheet for administrative functions of SobekCM */


.container0
{
	border-style: dashed; 
	border-color: #cccccc; 
	-moz-border-radius: 15px; 
	border-radius: 15px;
	border-width: 2px; 
	padding: 5px 5px 5px 10px; 
	margin: 5px 5px 12px 5px;
	background-color: White;
	text-align: left;
}

.subcontainer
{
	border-style: dashed; 
	border-color: #cccccc; 
	-moz-border-radius: 15px; 
	border-radius: 15px;
	border-width: 2px; 
	padding: 5px 5px 5px 10px; 
	margin: 5px 8px 12px 5px;
	background-color: White;
	text-align: left;
}

.containerhead
{
	font-weight:bold; 
	font-size: 1.2em;
	margin-left: 4px;
	line-height: 1.9em;
}

.containerhead3
{
	font-weight:bold; 
	font-size: 1.1em;
	margin-left: 4px;
	line-height: 1.9em;
}

.container_collapsed
{
	border-style: dashed; 
	border-color: #cccccc; 
	-moz-border-radius: 15px; 
	border-radius: 15px;
	border-width: 2px; 
	padding: 12px 5px 12px 10px; 
	margin: 5px 5px 12px 5px;
	background-color: White;
	text-align: left;
}

.containerhead_collapsed
{
	font-weight:bold; 
	font-size: 1.2em;
	margin-left: 4px;
}

.containerdesc
{
	margin-left: 40px;
	margin-bottom: 5px;
}

.containerdesctext
{
	padding-right: 30px;
	margin-bottom: 5px;
}

.containershowlink
{
	text-align: center;
	
}

.containerbuttons
{
	float: right;
	padding-right: 10px;
}