<?xml version="1.0"?>
<!-- SobekCM Version 4.9.1 web configuration -->
<configuration>
  <system.net>
    <defaultProxy>
      <proxy bypassonlocal="True" usesystemdefault="False" />
    </defaultProxy>
  </system.net>
  <system.web>
    <httpRuntime targetFramework="4.5" executionTimeout="3600" maxRequestLength="2097151" requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <remove extension=".svc"/>
      </buildProviders>
    </compilation>
    <customErrors mode="RemoteOnly" defaultRedirect="http://ufdc.uflib.ufl.edu/error.html"/>
    <authentication mode="Windows"/>
    <identity impersonate="true"/>
    <httpModules>
      <add type="SobekCM.URL_Rewriter.Rewriter,SobekCM_URL_Rewriter" name="Rewrite"/>
    </httpModules>
    <httpHandlers>
      <remove verb="*" path="*.svc"/>
      <add type="SobekCM.Engine_Library.MicroserviceHandler, SobekCM_Engine_Library" verb="*" path="*.svc"/>
    </httpHandlers>
    <trust level="Full"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <sessionState timeout="90"/>
  </system.web>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="10000"/>
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Rewrite"/>
      <add name="Rewrite" type="SobekCM.URL_Rewriter.Rewriter,SobekCM_URL_Rewriter"/>
    </modules>
    <handlers>
      <remove name="svc-ISAPI-4.0_32bit"/>
      <remove name="svc-ISAPI-4.0_64bit"/>
      <add name="MicroserviceHandler" verb="*" path="*.svc" type="SobekCM.Engine_Library.MicroserviceHandler, SobekCM_Engine_Library"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false"/>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="10.00:00:00" />
      <mimeMap fileExtension=".glsl" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>