<?xml version="1.0"?>

<configuration>
	<configSections>
		<section name="uploadSettings" type="darrenjohnstone.net.FileUpload.UploadConfigurationSection, fileuploadlibrary, Version=3.0.0.0, Culture=neutral" />
	</configSections>
	<!-- File upload module settings -->
	<uploadSettings allowedFileExtensions=".pdf,.xls,.doc,.zip,.swf,.jpg,.jp2,.tif,.xml,.txt,.htm,.html,.ppt,.wav,.wave,.mp3,.wma,.avi,.mpg,.wmv,bz2,.tbz2,.gz,.tgz,.pro,.ps,.rar,.mid,.midi,.mp2,.aif,.aiff,.aifc,.ra,.rm,.ram,.au,.ogg,.flac,.m4p,.c,.c++,.java,.js,.jps,.xlsx,.dbf,.ddl,.doc,.docx,.dvi,.sxi,.odp,.pptx,.tiff,.bmp,.jpx,.jpf,.pgm,.png,.xls,.dtd,.rtf,.css,.sgml" showProgressBar="true" showCancelButton="true" enableManualProcessing="true" />

	
	<system.web>
		<httpRuntime targetFramework="4.5" executionTimeout="3600" maxRequestLength="2097151" requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.5" />
		<customErrors mode="RemoteOnly" defaultRedirect="http://ufdc.uflib.ufl.edu/error.html" />
		<authentication mode="Windows" />
		<identity impersonate="true" />
	<!--	<httpHandlers>
			<add verb="GET" type="darrenjohnstone.net.FileUpload.UploadProgressHandler, FileUploadLibrary" path="UploadProgress.ashx" />
		</httpHandlers>  -->
		<httpModules>
		<!--	<add name="upload_module" type="darrenjohnstone.net.FileUpload.UploadModule, FileUploadLibrary" /> -->
			<add type="SobekCM.URL_Rewriter.Rewriter,SobekCM_URL_Rewriter" name="Rewrite" />
		</httpModules>
		<trust level="Full" />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
	<appSettings>
		<add key="aspnet:MaxHttpCollectionKeys" value="10000" />
	</appSettings>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
		<!--	<remove name="upload_module" />
			<add name="upload_module" type="darrenjohnstone.net.FileUpload.UploadModule, FileUploadLibrary" /> -->
			<remove name="Rewrite" />
			<add name="Rewrite" type="SobekCM.URL_Rewriter.Rewriter,SobekCM_URL_Rewriter" />
		</modules>
<!--		<handlers>
			<add name="UploadProgress" verb="GET" type="darrenjohnstone.net.FileUpload.UploadProgressHandler, FileUploadLibrary" path="UploadProgress.ashx" />
			<add name="FileDownload" verb="GET" type="darrenjohnstone.net.FileUpload.SQLFileDownloadHandler, FileUploadLibrary" path="DownloadFile.ashx" />
		</handlers>  -->
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="104857600" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
