<?xml version="1.0" encoding="utf-8"?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <ContactForm Name="Large Contact Form">
    <Elements>
      <ExplanationText Text="Enter information below to be contacted">
        <Translations>
          <Language Code="es">Entre informa belowa contacto</Language>
        </Translations>
      </ExplanationText>
      <HiddenValue Name="Organization" UserAttribute="Organization" />
      <TextBox Name="First_Name" Query="Given Name:" UserAttribute="Firstname" Required="true" CssClass="MyCustomCss" />
      <TextBox Name="Last_Name" UserAttribute="Lastname" Required="True" />
      <Email Name="Email" UserAttribute="Email" AlwaysShow="true" Required="True" />
      <SelectBox Name="State" >
        <Options>
        <Option>Florida</Option>
        <Option>Georgia</Option>
        <Option>Louisiana</Option>
        <Option>Washington</Option>
        </Options>
      </SelectBox>
      <RadioSet Name="Faculty_Or_Student" Query="Are you faculty or student?" >
        <Options>
        <Option>Faculty</Option>
        <Option>Student</Option>
        <Option>Neither</Option>
        </Options>
      </RadioSet>
      <CheckBoxSet Name="Heard_Of_Us" Query="How have you heard about us?" >
        <Options>
        <Option>Google search</Option>
        <Option>Worldcat</Option>
        <Option>Library Catalog</Option>
        <Option>Word of Mouth</Option>
        </Options>
      </CheckBoxSet>
      <TextArea Name="Demographics" Query="Anything else about yourself you would like to share with us?"  />
      <TextArea Name="Suggestions" Query="Comments or questions for us" Required="True" />
    </Elements>    
  </ContactForm>
</SobekCM_Config>