<?xml version="1.0" encoding="utf-8"?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
	<Authentication>
		<Shibboleth UserIdentityAttribute="mail" URL="https://idp.soas.ac.uk/entity/Login?target=http://digital.soas.ac.uk/shibboleth" Label="UK Shibboleth" Enabled="true" Debug="true">
			<AttributeMapping>
				<Mapping ServerVariable="mail" UserAttribute="EMAIL" />
				<Mapping ServerVariable="sn" UserAttribute="LASTNAME" />
				<Mapping ServerVariable="givenName" UserAttribute="FIRSTNAME" />
			</AttributeMapping>
			<Constants>
				<Constant UserAttribute="ORGANIZATION">University of London</Constant>
			</Constants>
		</Shibboleth>						
	</Authentication>
</SobekCM_Config>
