<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
  xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config 
    http://sobekrepository.org/schemas/sobekcm_config.xsd">
    <Instances>
      <Instance name="Demo" active="true">
        <Connection_String type="MSSQL">data source=SOB-SQL01\SOBEK2;initial catalog=demo;integrated security=Yes;</Connection_String>
        <Microservices>
          <Add Key="Builder.Get_Builder_Settings" URL="http://demo.sobeklibrary.com/engine/builder/settings/protobuf?IncludeDescs={0}" Protocol="PROTOBUF" />
          <Add Key="Configuration.Extensions" URL="http://demo.sobeklibrary.com/engine/config/extensions/protobuf" Protocol="PROTOBUF" />
          <Add Key="Configuration.Metadata" URL="http://demo.sobeklibrary.com/engine/config/metadata/protobuf" Protocol="PROTOBUF" />
          <Add Key="Configuration.OAI_PMH" URL="http://demo.sobeklibrary.com/engine/config/oaipmh/protobuf" Protocol="PROTOBUF" />
        </Microservices>
      </Instance>
	  <Instance name="Test" active="true">
        <Connection_String type="MSSQL">data source=SOB-SQL01\SOBEK2;initial catalog=test;integrated security=Yes;</Connection_String>
        <Microservices>
          <Add Key="Builder.Get_Builder_Settings" URL="http://test.sobeklibrary.com/engine/builder/settings/protobuf?IncludeDescs={0}" Protocol="PROTOBUF" />
          <Add Key="Configuration.Extensions" URL="http://test.sobeklibrary.com/engine/config/extensions/protobuf" Protocol="PROTOBUF" />
          <Add Key="Configuration.Metadata" URL="http://test.sobeklibrary.com/engine/config/metadata/protobuf" Protocol="PROTOBUF" />
          <Add Key="Configuration.OAI_PMH" URL="http://test.sobeklibrary.com/engine/config/oaipmh/protobuf" Protocol="PROTOBUF" />
        </Microservices>
      </Instance>
    </Instances>
  <Builder>
    <Ghostscript_Executable>C:\Program Files\gs\gs9.14\bin\gswin64c.exe</Ghostscript_Executable>
    <Imagemagick_Executable>C:\Program Files\ImageMagick-6.8.9-Q16\convert.exe</Imagemagick_Executable>
  </Builder>
</SobekCM_Config>
