<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  
  <!-- This code describes the actual extension and sets some top level inforation -->
  <Extension code="EbscoServices" name="Ebsco Service Engine Extension" version="1.0" >

    <!-- Administrative information about this plugin -->
    <AdminInfo>
      <Description>This plug-in adds a new engine extension to support a different way of viewing search results.</Description>
      <Authors>
        <Author name="Bernardy, Richard" />
        <Author name="Sullivan, Mark" email="Mark.V.Sullivan@sobekdigital.com" />
      </Authors>
      <Permissions>Copyright 2016 by University of South Florida.  For permission to use this plugin in your repository, contact Richard Bernardy.</Permissions>
    </AdminInfo>

    <!-- Reference one of more assemblies (referenced relative to the plugin folder) -->
    <Assembly id="EbscoServices" name="EbscoServices.dll" />
  </Extension>
  
    <!-- This adds an endpoint to the SObekCM engine which just returns the postcard information in XML format -->
    <!-- This will be at: [url]/engine/plugin/ebsco                                                         -->
    <Engine ClearAll="false">
      <Mapping>
        <Path Segment="plugins">
          <Path Segment="ebsco">
            <AutoDoc>
              <Description> Return a search in a simplified XML or JSON format, mostly dublin core, for EBSCO </Description>
              <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
              <Arguments> Search arguments </Arguments>
              <Returns>XML or JSON string written to the response</Returns>
            </AutoDoc>
            <Endpoint Segment="json" ComponentID="EBSCO_COMP" Method="EBSCO_Results_JSON" Protocol="JSON" />
            <Endpoint Segment="xml" ComponentID="EBSCO_COMP" Method="EBSCO_Results_XML" Protocol="XML" />
          </Path>
        </Path>
      </Mapping>
      <Components>
        <Component ID="EBSCO_COMP" Class="EbscoServices.EbscoServices" Assembly="EbscoServices" />
      </Components>
    </Engine>
</SobekCM_Config>