<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  <Engine ClearAll="false">
    <Mapping>    
      <Path Segment="plugins">
        <Path Segment="ebsco">
          <AutoDoc>
            <Description> Return a search in a simplified XML or JSON format, mostly dublin core, for EBSCO </Description>
            <RequestType>This endpoint does not support updates or deletes and only the GET HTTP verb is supported</RequestType>
            <Arguments> Search arguments </Arguments>
            <Returns>XML or JSON string written to the response</Returns>
          </AutoDoc>
          <Endpoint Segment="json" ComponentID="EBSCO" Method="EBSCO_Results_JSON" Protocol="JSON" />
          <Endpoint Segment="xml" ComponentID="EBSCO" Method="EBSCO_Results_XML" Protocol="XML" />
        </Path>
      </Path>
    </Mapping>
    <Components>
      <Component ID="EBSCO" Class="EbscoServices" />
    </Components>
  </Engine>
</SobekCM_Config>