<?xml version="1.0" encoding="utf-8" ?>

<Zoom.Net.Factory>
  <add key="IConnectionClass" 
       value="Zoom.Net.YazSharp.Connection, zoom.net.yazsharp" />
  <add key="IConnectionExtendedClass" 
       value="Zoom.Net.YazSharp.ConnectionExtended, zoom.net.yazsharp" />
  <add key="IPrefixQueryClass" 
       value="Zoom.Net.YazSharp.PrefixQuery, zoom.net.yazsharp" />
  <add key="ICQLQueryClass" 
       value="Zoom.Net.YazSharp.CQLQuery, zoom.net.yazsharp" />
</Zoom.Net.Factory>

<!-- Emacs NXML mode
     Local variables:
     mode: nxml
     End:
-->
