<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Fragment>
		
		<DirectoryRef Id="WEBINSTALLFOLDER">

			<!-- Component to add the app pool to IIS -->
			<Component Id="SobekWebAppPool" Guid="" KeyPath="yes">
				<util:User Id="IISUser" CreateUser="no" Name="[WEB_SERVICE_ACCOUNT]" Password="[WEB_SERVICE_PASSWORD]" RemoveOnUninstall="no" UpdateIfExists="yes">
				</util:User>
				<iis:WebAppPool Id="SobekWebAppPool" Name="SobekAppPool" Identity="other" ManagedPipelineMode="Integrated" ManagedRuntimeVersion="v4.0" User="IISUser"  />
			</Component>

			<!-- Install to selected web site (default web site if none were selected) -->
			<Component Id="InstallWebsite" Guid="" KeyPath="yes">
				<iis:WebSite Id="SelectedWebSite" Description="[WEBSITE_DESCRIPTION]" Directory="WEBINSTALLFOLDER" AutoStart="yes" StartOnInstall="yes" ConfigureIfExists="no" >
					<iis:WebAddress Id="AllUnassigned" Port="[WEBSITE_PORT]" IP="[WEBSITE_IP]" Header="[WEBSITE_HEADER]"  />
					<iis:WebVirtualDir Id="VDir" Alias="[VIRTUAL_DIRECTORY]" Directory="WEBINSTALLFOLDER">
						<iis:WebApplication Id="SobekWebsiteApplication" Name="[SobekWebWebSite][WEBSITE_ID]" WebAppPool="SobekWebAppPool"></iis:WebApplication>
					</iis:WebVirtualDir>
				</iis:WebSite>
			</Component>
		</DirectoryRef>

		<!-- Component group for the full IIS configuraiton -->
		<ComponentGroup Id="SobekWebIisConfiguration">
			<ComponentRef Id="InstallWebsite" />
			<ComponentRef Id="SobekWebAppPool" />
		</ComponentGroup>
	</Fragment>
</Wix>